force-app/main/default/flows/Case_BeforeCreateOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Clear_work_type_on_case</name>
        <label>Clear work type on case</label>
        <locationX>858</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Work_Type_on_Case</name>
        <label>Set Work Type on Case</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_corresponding_work_type.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckChangedValue</name>
        <label>CheckChangedValue</label>
        <locationX>1062</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Clear_work_type_on_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_value_se</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_metadata_record_for_SubType_WorkType_match</targetReference>
            </connector>
            <label>New value set</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasFieldUpdate</name>
        <label>HasFieldUpdate</label>
        <locationX>1216</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckChangedValue</targetReference>
            </connector>
            <label>Type Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCaseTypeSet</name>
        <label>IsCaseTypeSet</label>
        <locationX>501</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_metadata_record_for_SubType_WorkType_match</targetReference>
            </connector>
            <label>Value set</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsWorkTypeRecordFound</name>
        <label>IsWorkTypeRecordFound</label>
        <locationX>182</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Clear_work_type_on_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_corresponding_work_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Type_on_Case</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>MetadataRecordFound</name>
        <label>MetadataRecordFound</label>
        <locationX>336</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Clear_work_type_on_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MetadataRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_metadata_record_for_SubType_WorkType_match</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_corresponding_work_type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Action</name>
        <label>Record Action</label>
        <locationX>858</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>HasFieldUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCaseTypeSet</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <description>1. ADO ID 12294 - Flow to derive the Work Type based on the Case Type when Case is created/updated</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case BeforeCreateOrUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case BeforeCreateOrUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_corresponding_work_type</name>
        <label>Get corresponding work type</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsWorkTypeRecordFound</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_metadata_record_for_SubType_WorkType_match.Value__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>All Metadata records of Type = Case Sub Type to Work Type Match</description>
        <name>Get_metadata_record_for_SubType_WorkType_match</name>
        <label>Get metadata record for SubType WorkType match</label>
        <locationX>336</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MetadataRecordFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Sub Type to Work Type Match</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case_Sub_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFS_Custom_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Action</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
