force-app/main/default/flows/Follow_up_Work_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Appointment_Variables</name>
        <label>Appointment Variables</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>SAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SecondSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Complex_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Original_Service_Appointment</name>
        <label>Clone Original Service Appointment</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>VarSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateServiceAppointmentFrom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Due_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SA_List</name>
        <label>Create SA List</label>
        <locationX>248</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>FirstSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecondSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Follow_up_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Evaluate_Due_Date</name>
        <label>Evaluate Due Date</label>
        <locationX>116</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VarSA.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateAdd7days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First_SA_Id</name>
        <label>First SA Id</label>
        <locationX>138</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>FirstSA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_SA_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Created_SA_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Second_SA_Id</name>
        <label>Second SA Id</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>SecondSA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_SA_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Created_SA_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Follow_up_Reason</name>
        <label>Check Follow up Reason</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Parent_Service_Appointment_Checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_on_Assistance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateServiceAppointmentFrom.SFS_Follow_Up_Visit_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Assistance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateServiceAppointmentFrom.SFS_Work_Order__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Variables</targetReference>
            </connector>
            <label>Waiting on Assistance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Due_Date_Check</name>
        <label>Due Date Check</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_SA_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Due_Date_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SADueDateOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Due_Date</targetReference>
            </connector>
            <label>Due Date Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_SA_Id_Is_NULL</name>
        <label>First SA Id Is NULL</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Second_SA_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstSA.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_SA_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Service_Appointment_Checks</name>
        <label>Parent Service Appointment Checks</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Create_Follow_Up_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_Assign_To_Me</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateServiceAppointmentFrom.SFS_Follow_Up_Assign_To_Me__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Resource</targetReference>
            </connector>
            <label>Follow Up Assign To Me</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDateAdd7days</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!VarSA.DueDate})+7</expression>
    </formulas>
    <formulas>
        <name>SADueDateOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!CreateServiceAppointmentFrom.DueDate})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Follow up Work SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Follow up Work SubFlow</label>
    <loops>
        <name>Get_Created_SA_Id</name>
        <label>Get Created SA Id</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <collectionReference>SAList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_SA_Id_Is_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Appointment_Dependency</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Appointment_Dependency</name>
        <label>Create Appointment Dependency</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <inputAssignments>
            <field>FSL__Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_1__c</field>
            <value>
                <elementReference>FirstSA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_2__c</field>
            <value>
                <elementReference>SecondSA.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__Time_Dependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Complex_SA</name>
        <label>Create Complex SA</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Created_SA_Id</targetReference>
        </connector>
        <inputReference>SAList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Follow_Up_SA</name>
        <label>Create Follow Up SA</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <inputReference>SAList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Required_Resource</name>
        <label>Create Required Resource</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Create_Follow_Up_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>CreateServiceAppointmentFrom.SFS_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Assigned_Resource.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Required_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateServiceAppointmentFrom.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>116</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_SA_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateServiceAppointmentFrom.SFS_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFS_Overdue_Service__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone_Original_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreateServiceAppointmentFrom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>FirstSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SecondSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>VarSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
