force-app/main/default/flows/Leankor_Export_to_JSON_File.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Exporter</name>
        <label>Call Exporter</label>
        <locationX>451</locationX>
        <locationY>57</locationY>
        <actionName>LeankorExportAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Return_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>FileNameField</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vsId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeankorExportAction</nameSegment>
        <outputParameters>
            <assignToReference>returnCode</assignToReference>
            <name>status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>fileURL</assignToReference>
            <name>fileURL</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMsg</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Return_Code</name>
        <label>Check Return Code</label>
        <locationX>608</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Export Failure</defaultConnectorLabel>
        <rules>
            <name>SuccessfulExport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Message</targetReference>
            </connector>
            <label>SuccessfulExport</label>
        </rules>
    </decisions>
    <description>This flow will export a Kanban Board or Plan Gantt to a JSON flat file format.</description>
    <interviewLabel>Leankor - Export to JSON File {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Leankor - Export to JSON File</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>624</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrMsgText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;There was a problem:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!ErrorMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>917</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;The Leankor export process is a success.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;See below for file URL&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HyperlinkMsg</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!fileURL}&quot; target=&quot;_blank&quot;&gt;Download Leankor Export Here&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>264</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_Exporter</targetReference>
        </connector>
        <fields>
            <name>WelcomeMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;This flow will export the Board to a Leankor text file which can then be imported by Leankor in another Org.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;The file will be created in Salesforce Files. A URL link will be provided to you on the next page.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileNameField</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>LeankorExportFile</stringValue>
            </defaultValue>
            <fieldText>File Name (Without Extension)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Total success.</stringValue>
        </value>
    </variables>
    <variables>
        <name>fileURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0b1U000000AChRQAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>returnCode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
