force-app/main/default/flows/NIMOD_Create_Preference_record_for_New_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_preference_sObject</name>
        <label>Assign Values to preference sObject</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varLeankorPreferenceRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeankorPreferenceRecord.leankor__GUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formLenakorGUID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeankorPreferenceRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeankorPreferenceRecord.leankor__FollowOnChatter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>none</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeankorPreferenceRecord.leankor__SubscribeToCard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>none</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_preference_record_for_the_user</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>formLenakorGUID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}+&apos;-&apos;+TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel>NIMOD - Create Preference record for New User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NIMOD - Create Preference record for New User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_preference_record_for_the_user</name>
        <label>Create preference record for the user</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputReference>varLeankorPreferenceRecord</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X0_Min_After</name>
            <connector>
                <targetReference>Assign_Values_to_preference_sObject</targetReference>
            </connector>
            <label>0 Min After</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeankorPreferenceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leankor__Preference__c</objectType>
    </variables>
</Flow>
