force-app/main/default/flows/Publish_Platform_Event_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_work_order_values</name>
        <label>Assign work order values</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderCaseOrigin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Case.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderAssetSerialNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Asset.SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderWorkTypeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.WorkType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderAssetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Asset.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderLocationName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Location.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderLocationBranchName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Location.Branch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderCaseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Case.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderLocationVisitorStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Location.VisitorAddress.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderLocationVisitorCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Location.VisitorAddress.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderLocationVisitorState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Location.VisitorAddress.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderLocationVisitorCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Location.VisitorAddress.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderLocationVisitorCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Location.VisitorAddress.CountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderLocationVisitorPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Location.VisitorAddress.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderLocationVisitorStateCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Location.VisitorAddress.StateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderAssetUnitType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Asset.TKE_AssetType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderCaseCreatedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Case.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.WorkOrderEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderPlatforEvent.AssignedResourceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRecord.Assigned_Technician__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Platform_Event_Record</targetReference>
        </connector>
    </assignments>
    <description>AD0-14551 Subflow to publish the platform event(Update Customer Portal with Work Order Status).
AD0-15232 Added mapping for assigned resource.</description>
    <environments>Default</environments>
    <interviewLabel>Publish Platform Event Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Platform Event Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event_Record</name>
        <label>Create Platform Event Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputReference>varWorkOrderPlatforEvent</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_work_order_values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varWorkOrderPlatforEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderPlatformEvent__e</objectType>
    </variables>
    <variables>
        <name>varWorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
