force-app/main/default/flows/Send_Custom_Notification_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_entrapment_message</name>
        <label>Assign entrapment message</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varMessageToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEntrapment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Injury_Reported_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Injury_Reported_message</name>
        <label>Assign Injury Reported message</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>varMessageToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInjuryReported</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Safety_Concern_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_message</name>
        <label>Assign Location message</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varMessageToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  @{!varCaseRecord.Location__r.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_to_Post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Safety_Concern_message</name>
        <label>Assign Safety Concern message</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>varMessageToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>   {!varSafetyConcern}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_User_Ids</name>
        <label>Concatenate User Ids</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!Iterate_Over_Users}] </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_to_Post</name>
        <label>Message to Post</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>varUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varMessageToDisplay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Entrapment_Check</name>
        <label>Entrapment Check</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Injury_Reported_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Entrapment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEntrapment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_entrapment_message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Injury_Reported_Check</name>
        <label>Injury Reported Check</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Safety_Concern_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_IR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInjuryReported</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Injury_Reported_message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Check</name>
        <label>Location Check</label>
        <locationX>182</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Message_to_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Location_message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Safety_Concern_Check</name>
        <label>Safety Concern Check</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Location_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSafetyConcern</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Safety_Concern_message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Ids_Check</name>
        <label>User Ids Check</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varListOfIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created as part of ADO-12296</description>
    <environments>Default</environments>
    <formulas>
        <name>varChatterFeedMessage</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.SFS_Custom_Settings__mdt.Emergency_Case_Chatter_Post.Value__c} +&apos; &apos;+ {!varCaseRecord.CaseNumber} + &apos; @&apos;+{!varCaseRecord.Location__r.Name}</expression>
    </formulas>
    <formulas>
        <name>varEntrapment</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!varCaseRecord.Case_Sub_Type__c}, &apos;Entrapment&apos;),
 &apos; Entrapment&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varInjuryReported</name>
        <dataType>String</dataType>
        <expression>if({!varCaseRecord.Injury_Reported__c}==true, &apos;  Injury Reported&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSafetyConcern</name>
        <dataType>String</dataType>
        <expression>if({!varCaseRecord.Safety_Concern__c}==true, &apos;  Safety Concern&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Send Custom Notification Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Custom Notification Subflow</label>
    <loops>
        <name>Iterate_Over_Users</name>
        <label>Iterate Over Users</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>varListOfIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenate_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Entrapment_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Ids_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varLineBreak</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varListOfIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMessageToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>There is a case created: {!varCaseRecord.CaseNumber}  with following details: </stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
