force-app/main/default/flows/Send_Custom_Notification_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Location_message</name>
        <label>Assign Location message</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varMessageToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> at {!varCaseRecord.Location__r.Name} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concatenate_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_Message</name>
        <label>Concatenate Message</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varMessageToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>with the following details: {!varEntrapment} {!varInjuryReported}    {!varSafetyConcern}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_to_Post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_to_Post</name>
        <label>Message to Post</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varMessageToDisplay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Ids</name>
        <label>User Ids</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!Get_User_Id.User__r.Id}]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EscalationHierarchy_Found</name>
        <label>EscalationHierarchy Found</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EscalationHierarchy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Check</name>
        <label>Location Check</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Concatenate_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Location_message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Found</name>
        <label>Location Found</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Location_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EscalationHierarchy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created as part of ADO-12296</description>
    <environments>Default</environments>
    <formulas>
        <name>varChatterFeedMessage</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.SFS_Custom_Settings__mdt.Emergency_Case_Chatter_Post.Value__c} +&apos; &apos;+ {!varCaseRecord.CaseNumber} + &apos; @&apos;+{!varCaseRecord.Location__r.Name}</expression>
    </formulas>
    <formulas>
        <name>varEntrapment</name>
        <dataType>String</dataType>
        <expression>if(
AND(
ISPICKVAL({!varCaseRecord.Case_Sub_Type__c}, &apos;Entrapment&apos;) ,  
OR(
{!varCaseRecord.Injury_Reported__c}=true ,
{!varCaseRecord.Safety_Concern__c}=true
)
),  &apos; Entrapment, &apos;,
if(AND(ISPICKVAL({!varCaseRecord.Case_Sub_Type__c}, &apos;Entrapment&apos;) ,  
OR({!varCaseRecord.Injury_Reported__c}=false , {!varCaseRecord.Safety_Concern__c}=false)),
&apos;Entrapment &apos;,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>varInjuryReported</name>
        <dataType>String</dataType>
        <expression>if(
{!varCaseRecord.Injury_Reported__c}==true &amp;&amp; {!varCaseRecord.Safety_Concern__c}==true, 
&apos;  Injury Reported, &apos;,
if({!varCaseRecord.Injury_Reported__c}==true,&apos; Injury Reported&apos; , &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>varSafetyConcern</name>
        <dataType>String</dataType>
        <expression>if(
{!varCaseRecord.Safety_Concern__c}==true, 
&apos;  Safety Concern&apos;,
&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Send Custom Notification Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Custom Notification Subflow</label>
    <loops>
        <name>Get_User_Id</name>
        <label>Get User Id</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_EscalationHierarchy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Location_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EscalationHierarchy</name>
        <label>Get EscalationHierarchy</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EscalationHierarchy_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Location.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Send_Emergency_Notifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Escalation_Hierarchy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get location based on office</description>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Office__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TKE_Location</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varLineBreak</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varListOfId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varListOfIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMessageToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>A case has been created</stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
