force-app/main/default/flows/SFS_WorkOrder_BeforeCreateOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Derive_fields_from_Case</name>
        <label>Derive fields from Case</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case.Asset.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Multi_Day_Duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duration</name>
        <label>Set Duration</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varResultingQuotient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Territory</name>
        <label>Set Service Territory</label>
        <locationX>270</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location.SFS_Service_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_Asset_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Territory_From_Location</name>
        <label>Set Service Territory From Location</label>
        <locationX>248</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.Location.SFS_Service_Territory__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Resulting_Value</name>
        <label>Check Resulting Value</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Check_WO_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Duration_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResultingQuotient</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varResultInNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duration</targetReference>
            </connector>
            <label>Set Duration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Location</name>
        <label>WO Location Null</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Set_Service_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Asset_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCaseSetAndSubTypeIsEntrapment</name>
        <label>IsCaseSetAndSubTypeIsEntrapment</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Multi_Day_Duration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Type_Entrapment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Case_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrapment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Derive_fields_from_Case</targetReference>
            </connector>
            <label>Sub Type = Entrapment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if the record is created or updated.</description>
        <name>Record_Action</name>
        <label>Record Action</label>
        <locationX>479</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCaseSetAndSubTypeIsEntrapment</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Asset_Null</name>
        <label>WO Asset Null</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>WO_Territory_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Asset_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Territory_Empty</name>
        <label>WO Territory -  Empty</label>
        <locationX>380</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WO_Territory_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Territory_From_Location</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>1. 05-06-2024 [US-11990] Flow to populate territory based on Location Territory
2. ADO US - 12294 - If Case is set for the work order and the sub type is Entrapment then WO is automatically created with the attributes populated - Account, Location, Asset, Subject is set to Case Subject, Description is set to Case Description, Contact is set to Case Contact and Priority = Critical
3. AD0-12129 Calculation for multi day based on duration, duration type and minimum crew size</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to check if the record is created.</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varResultingQuotient</name>
        <dataType>Number</dataType>
        <expression>IF(
TEXT({!$Record.DurationType}) = &quot;Hours&quot; &amp;&amp; {!$Record.Duration} &gt;0 
 &amp;&amp; {!$Record.WorkType.Duration_Based_on_Min_Crew_Size__c}=true,
{!$Record.Duration} /{!$Record.MinimumCrewSize}, {!$Record.Duration} 
 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Store the text value of metadata to Number variable</description>
        <name>varResultInNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!varResult})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SFS WorkOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS WorkOrder BeforeCreateOrUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Multi_Day_Duration</name>
        <label>Get Multi Day Duration</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Resulting_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Multi_Day_Duration</stringValue>
            </value>
        </filters>
        <object>SFS_Custom_Settings__mdt</object>
        <outputAssignments>
            <assignToReference>varResult</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Action</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;SFS_Field_Operations&apos;</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
