force-app/main/default/flows/SFS_Populate_SA_Fields_From_WO_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Gantt_Label_on_SA</name>
        <label>Set Gantt Label on SA</label>
        <locationX>336</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Filtered_SAs.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GanttLabelFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOAsset_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SA_Fields</name>
        <label>Set SA Fields related to Asset to Blank</label>
        <locationX>138</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Filtered_SAs.SFS_Certification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_SA_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SA_Fields_related_to_Asset</name>
        <label>Set SA Fields related to Asset</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Filtered_SAs.SFS_Certification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Escalator_Certification.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_SA_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SA_Fields_related_to_Asset_NonEscalator</name>
        <label>Set SA Fields related to Asset</label>
        <locationX>666</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Filtered_SAs.SFS_Certification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_SA_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_SA_Collection</name>
        <label>update SA Collection</label>
        <locationX>336</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>toBeUpdatedSAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Filtered_SAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Filtered_SAs</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Get All the No final States SA</description>
        <name>Get_SAs_not_in_Final_Status</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get SAs not in Final Status</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Get_SAs_not_in_Final_Status</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Related_SAs_to_WO_1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Get_SAs_not_in_Final_Status.StatusCategory</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>CannotComplete</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Get_SAs_not_in_Final_Status.StatusCategory</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Get_SAs_not_in_Final_Status.StatusCategory</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Canceled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Filtered_SAs</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Asset_UnitType_Certification</name>
        <label>Asset UnitType Certification?</label>
        <locationX>204</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_All_Related_SAs_to_WO_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Escalator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWO.Asset.TKE_AssetType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalator/Walkway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Escalator_Certification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalator_Asset</name>
        <label>Escalator Asset?</label>
        <locationX>534</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Set_SA_Fields_related_to_Asset_NonEscalator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Escalator</defaultConnectorLabel>
        <rules>
            <name>YesEscalator_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWO.Asset.TKE_AssetType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SA_Fields_related_to_Asset</targetReference>
            </connector>
            <label>Escalator Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Asset_Null</name>
        <label>WO Asset Null?</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Asset_UnitType_Certification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWO.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Related_SAs_to_WO_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Asset_Updated</name>
        <label>WO Asset Updated?</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWO.AssetId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>priorWO.AssetId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Asset_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOAsset_Null</name>
        <label>WOAsset Null</label>
        <locationX>336</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Escalator_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AssetNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentWO.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentWO.AssetId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SA_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subflow to handle derivation from WO to SA
ADO 12043: Update Gantt Label on SA on Asset Update</description>
    <environments>Default</environments>
    <formulas>
        <name>GanttLabelFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!currentWO.Location.Name})) , {!currentWO.Location.Name} +&quot; - &quot;,&quot;&quot;) + IF(NOT(ISBLANK({!currentWO.Asset.Name} )), {!currentWO.Asset.Name} ,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>SFS Populate SA Fields From WO SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Populate SA Fields From WO SubFlow</label>
    <loops>
        <name>Loop_through_Filtered_SAs</name>
        <label>Loop through Filtered SAs</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <collectionReference>Get_SAs_not_in_Final_Status</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Gantt_Label_on_SA</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_SAs_to_WO_1</name>
        <label>Get All Related SAs to WO</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SAs_not_in_Final_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFS_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>SFS_Certification__c</queriedFields>
        <queriedFields>SFS_Work_Order__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Escalator_Certification</name>
        <label>Get the Escalator Certification</label>
        <locationX>72</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_SAs_to_WO_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFS_Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WO_Asset_Updated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Copy_1_of_Get_SAs_not_in_Final_Status</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>WorkOrder which triggered the flow</description>
        <name>currentWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior State of WorkOrder which triggered the flow</description>
        <name>priorWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>toBeUpdatedSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
