force-app/main/default/flows/SFS_Populate_Custom_Assigned_Service_Resource_on_SA_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Prepare_Service_Resource_List</name>
        <label>Prepare Service Resource List</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_assigned_resources.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_assigned_resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_crew_counter_and_populate_crew_resource</name>
        <label>Set crew counter and populate crew resource</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>CrewCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CrewResourceToPopulate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Service_Resources.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Service_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_technician_counter_and_populate_technician_resource</name>
        <label>Set technician counter and populate technician resource</label>
        <locationX>666</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>TechnicianCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TechnicianResourceToPopulate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Service_Resources.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Service_Resources</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Resource_Type</name>
        <label>Check Resource Type</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Service_Resources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Service_Resources.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_crew_counter_and_populate_crew_resource</targetReference>
            </connector>
            <label>Is Crew</label>
        </rules>
        <rules>
            <name>Is_Technician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Service_Resources.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_technician_counter_and_populate_technician_resource</targetReference>
            </connector>
            <label>Is Technician</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_to_update</name>
        <label>How to update</label>
        <locationX>314</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Set_Assigned_Service_Resource_as_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CrewCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_assigned_resource_on_SA_with_Crew_value</targetReference>
            </connector>
            <label>One Crew</label>
        </rules>
        <rules>
            <name>Only_One_Tech_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CrewCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TechnicianCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_assigned_resource_on_SA_with_Technician_value</targetReference>
            </connector>
            <label>Only One Tech Resource</label>
        </rules>
    </decisions>
    <description>1. ADO ID 14751 - This flow populates the custom Assigned Service Resource field with the ID of the assigned resource on SA</description>
    <environments>Default</environments>
    <interviewLabel>SFS Populate Custom Assigned Service Resource on SA SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Populate Custom Assigned Service Resource on SA SubFlow</label>
    <loops>
        <name>Loop_through_Service_Resources</name>
        <label>Loop through Service Resources</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Service_Resource_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Resource_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>How_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_assigned_resources</name>
        <label>Loop through the assigned resources</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_All_Assigned_Resources_for_the_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Service_Resource_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_Resource_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Assigned_Resources_for_the_SA</name>
        <label>Get All Assigned Resources for the SA</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_assigned_resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Types</name>
        <label>Get Service Resource Types</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Service_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ServiceResourceIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ResourceType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_assigned_resource_on_SA_with_Crew_value</name>
        <label>Set assigned resource on SA with Crew value</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFS_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>CrewResourceToPopulate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_assigned_resource_on_SA_with_Technician_value</name>
        <label>Set assigned resource on SA with Technician value</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFS_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>TechnicianResourceToPopulate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Assigned_Service_Resource_as_blank</name>
        <label>Set Assigned Service Resource as blank</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFS_Assigned_Service_Resource__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Assigned_Resources_for_the_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CrewCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CrewResourceToPopulate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Crew_Type_Service_Resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechnicianCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TechnicianResourceToPopulate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
