force-app/main/default/flows/SFS_Assigned_Resource_AfterCreateOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_SA_status</name>
        <label>Check SA status</label>
        <locationX>220</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled_or_Dispatched</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Assigned_Service_Resource_on_SA</targetReference>
            </connector>
            <label>Scheduled or Dispatched</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasServiceResIDChanged</name>
        <label>HasServiceResIDChanged</label>
        <locationX>396</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResourceId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SA_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Action</name>
        <label>Record Action</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>HasServiceResIDChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Assigned_Service_Resource_on_SA</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <description>1. ADO ID 14751 - this flow is triggered when an Assigned resource is created/updated. This calls a sub flow to update the custom Assigned service resource field on the SA with the Service Resource ID when it is scheduled/dispatched</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SFS Assigned Resource AfterCreateOrUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Assigned Resource AfterCreateOrUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Action</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Populate_Assigned_Service_Resource_on_SA</name>
        <label>Populate Assigned Service Resource on SA</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <flowName>SFS_Populate_Custom_Assigned_Service_Resource_on_SA_SubFlow</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
