force-app/main/default/flows/SFS_WorkOrder_AfterCreateOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Are_there_any_SAs_for_update</name>
        <label>Are there any SAs for update</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Group_Id_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toBeUpdatedSAs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_related_SAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Creation or Update of Record</description>
        <name>Create_Update</name>
        <label>Create/Update?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>SFS_WorkOrder_Share_SubFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platform_Event_Subflow</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Id_Found</name>
        <label>Group Id Found?</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WO_Share_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Status</name>
        <label>Work Order Status</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platform_Event_Subflow_Update</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Record Triggered flow for After Operations on WorkOrder
AD- 14551 Added subflow call to publish platform event.</description>
    <environments>Default</environments>
    <formulas>
        <description>Creation Record</description>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SFS WorkOrder AfterCreateOrUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS WorkOrder AfterCreateOrUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_WO_Share_Record</name>
        <label>Create WO Share Record</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Work_Order_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_related_SAs</name>
        <label>update Related SAs</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Group_Id_Found</targetReference>
        </connector>
        <inputReference>toBeUpdatedSAs</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Update</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Platform_Event_Subflow</name>
        <label>Platform Event Subflow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Publish_Platform_Event_Subflow</flowName>
        <inputAssignments>
            <name>varWorkOrderRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Platform_Event_Subflow_Update</name>
        <label>Platform Event Subflow</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <flowName>Publish_Platform_Event_Subflow</flowName>
        <inputAssignments>
            <name>varWorkOrderRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFS_Populate_SA_Fields_From_WO_SubFlow</name>
        <label>SFS Populate SA Fields From WO SubFlow</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Are_there_any_SAs_for_update</targetReference>
        </connector>
        <flowName>SFS_Populate_SA_Fields_From_WO_SubFlow</flowName>
        <inputAssignments>
            <name>currentWO</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNew</name>
            <value>
                <elementReference>isNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>priorWO</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>toBeUpdatedSAs</assignToReference>
            <name>toBeUpdatedSAs</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SFS_WorkOrder_Share_SubFlow</name>
        <label>SFS WorkOrder Share SubFlow</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>SFS_Populate_SA_Fields_From_WO_SubFlow</targetReference>
        </connector>
        <flowName>SFS_WorkOrder_Share_SubFlow</flowName>
        <inputAssignments>
            <name>varWorkOrderRec</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varGroupId</assignToReference>
            <name>varGroupId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>toBeUpdatedSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>varGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
