force-app/main/default/flows/SFS_WorkOrderLineItem_AfterCreateOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Asset_null</name>
        <label>Asset null?</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>SFS_Update_WO_for_Asset_Attributes_on_WOLI_Create_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Asset_null_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Updated</name>
        <label>Asset Updated</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Asset_Updated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFS_Update_WO_for_Asset_Attributes_on_WOLI_Update_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Update</name>
        <label>Create/Update</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Asset_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_null</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <description>ADO ID - 12029 - This flow sets the respective checkboxes on WorkOrder to true if any of its related WOLI has either a Critical Asset or Shut Down Asset or Asset with Poor Health Score or Asset with Medium Health Score.</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SFS WorkOrderLineItem AfterCreateOrUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS WorkOrderLineItem AfterCreateOrUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_parent_WO_for_WOLI_Creation</name>
        <label>Update parent WO for WOLI</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <inputReference>AssociatedWorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_parent_WO_for_WOLI_Update</name>
        <label>Update parent WO for WOLI</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <inputReference>AssociatedWorkOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Update</targetReference>
        </connector>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFS_Update_WO_for_Asset_Attributes_on_WOLI_Create_Subflow</name>
        <label>SFS Update WO for Asset Attributes on WOLI Create Subflow</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_parent_WO_for_WOLI_Creation</targetReference>
        </connector>
        <flowName>SFS_Update_WO_for_Asset_Attributes_on_WOLI_Create_Subflow</flowName>
        <inputAssignments>
            <name>TriggeringWOLI</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AssociatedWorkOrder</assignToReference>
            <name>AssociatedWorkOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SFS_Update_WO_for_Asset_Attributes_on_WOLI_Update_Subflow</name>
        <label>SFS Update WO for Asset Attributes on WOLI Update Subflow</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_parent_WO_for_WOLI_Update</targetReference>
        </connector>
        <flowName>SFS_Update_WO_for_Asset_Attributes_on_WOLI_Update_Subflow</flowName>
        <inputAssignments>
            <name>TriggeringWOLI</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AssociatedWorkOrder</assignToReference>
            <name>AssociatedWorkOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssociatedWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
