force-app/main/default/flows/SFS_Get_Assigned_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assigned_Resource_Count</name>
        <label>Assigned Resource Count</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varARCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Assigned_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assigned_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assigned_Technician_Crew_On_WO</name>
        <label>Set Assigned Technician On WO</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderRecord.Assigned_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Assigned_Resource.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCrewFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Assigned_Resource.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assigned_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assigned_Technician_On_WO</name>
        <label>Set Assigned Technician On WO</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderRecord.Assigned_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Assigned_Resource.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Assigned_Resource.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assigned_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assigned_Technician_On_WO_Technician</name>
        <label>Set Assigned Technician On WO</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderRecord.Assigned_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Assigned_Resource.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Assigned_Resource.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assigned_Resource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assigned_Resource_Found</name>
        <label>Assigned Resource Found</label>
        <locationX>246</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Resource_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Assigned_Resource_Count</name>
        <label>Check Assigned Resource Count</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_Resource_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varARCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assigned_Technician_On_WO</targetReference>
            </connector>
            <label>Count is 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Resource_Type</name>
        <label>Check Resource Type</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Assigned_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Assigned_Resource.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCrewFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assigned_Technician_Crew_On_WO</targetReference>
            </connector>
            <label>Type Crew</label>
        </rules>
        <rules>
            <name>Type_Technician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Assigned_Resource.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCrewFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assigned_Technician_On_WO_Technician</targetReference>
            </connector>
            <label>Type Technician</label>
        </rules>
    </decisions>
    <description>This subflow retrieves and manages the details of Service Resources, whether they are individuals or crews.</description>
    <environments>Default</environments>
    <interviewLabel>SFS Get Assigned Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Get Assigned Resource</label>
    <loops>
        <name>Loop_through_Assigned_Resource</name>
        <label>Loop through Assigned Resource</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Assigned_Resource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Assigned_Resource_Count</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>246</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigned_Resource_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceAppointmentRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>120</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Count the assigned resource records</description>
        <name>varARCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCrewFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>varServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
