force-app/main/default/flows/SFS_SeviceAppointment_AfterCreateOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_WO_Id</name>
        <label>Assign WO Id</label>
        <locationX>352</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderAssignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Order_Assignment</name>
        <label>Work Order Assignment</label>
        <locationX>220</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderAssignment.SFS_Hold_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentWOHoldReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkOrderAssignment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentWOStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_Assignment_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Order_Assignment_Status</name>
        <label>Work Order Assignment</label>
        <locationX>484</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrderAssignment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentWOStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_Assignment_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_Not_Complete_Reason</name>
        <label>Can Not Complete Reason</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_Status_of_Parent_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Follow_Up_Visit_Needed__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Follow_Up_Work</targetReference>
            </connector>
            <label>Follow Up Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_of_Parent_WO</name>
        <label>Check Status of Parent WO</label>
        <locationX>484</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Assignment_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Hold_Reason_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentWOHoldReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Order_Assignment</targetReference>
            </connector>
            <label>Hold Reason Update</label>
        </rules>
        <rules>
            <name>Status_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentWOStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentWOHoldReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Order_Assignment_Status</targetReference>
            </connector>
            <label>Status Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_Updated</name>
        <label>Created/Updated</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>SFS_Populate_WO_Fields_From_SA_SubFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Updated</defaultConnectorLabel>
        <rules>
            <name>Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Record Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Status_In_Progress</name>
        <label>SA Status - In Progress</label>
        <locationX>484</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Status_of_Parent_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Technician_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_Not_Complete_Reason</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Assignment_Check</name>
        <label>Work Order Assignment Check</label>
        <locationX>484</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrderAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Id</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>AD0-15232 Assigned resource logic to update assigned technician on WorkOrder</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() == TRUE</expression>
    </formulas>
    <interviewLabel>SFS SeviceAppointment AfterCreateOrUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS SeviceAppointment AfterCreateOrUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>352</locationX>
        <locationY>1547</locationY>
        <inputReference>varWorkOrderAssignment</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Updated</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>When the SA Status is in progress, call the subflow to populate the assigned technician on work order.</description>
        <name>Assigned_Technician_Subflow</name>
        <label>Assigned Technician Subflow</label>
        <locationX>132</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_Status_of_Parent_WO</targetReference>
        </connector>
        <flowName>Service_Appointment_Assigned_Technician_Subflow</flowName>
        <inputAssignments>
            <name>varServiceAppointmentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varWorkOrderAssignment</assignToReference>
            <name>varWorkOrderRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Follow_Up_Work</name>
        <label>Create Follow Up Work</label>
        <locationX>396</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_Status_of_Parent_WO</targetReference>
        </connector>
        <flowName>SFS_Follow_Up_Work_SubFlow</flowName>
        <inputAssignments>
            <name>varServiceAppointmentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varWorkOrderAssignment</assignToReference>
            <name>varWorkOrderRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SFS_Populate_WO_Fields_From_SA_SubFlow</name>
        <label>SFS Populate WO Fields From SA SubFlow</label>
        <locationX>484</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>SA_Status_In_Progress</targetReference>
        </connector>
        <flowName>SFS_Populate_WO_Fields_From_SA_SubFlow</flowName>
        <inputAssignments>
            <name>currentSA</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>priorSA</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>parentWO</assignToReference>
            <name>currentWO</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>parentWOHoldReason</assignToReference>
            <name>holdReasonVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>parentWOStatus</assignToReference>
            <name>WOStatusVar</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>parentWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>parentWOHoldReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentWOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
