force-app/main/default/flows/SFS_Populate_WO_Fields_From_SA_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_SA_Count</name>
        <label>Assign SA Count</label>
        <locationX>523</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CountVar_SA_Scheduled</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_SA_with_Status_Category_as_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountVar_SA_Completed</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_SA_with_Status_Category_as_Completed_Canceled_or_Cannot_Complete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountVar_SA_InProgress_Dispatched</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_SA_with_Status_Category_as_Dispatched_or_Inprogress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountVar_SA_Total</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllSACollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_SA_Completed_SAs_and_Current_SA_is_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_Status_to_Field_Complete</name>
        <label>Assign WO Status to Field Complete</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>WOStatusVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Field Complete</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_WO_Status_to_In_Progress</name>
        <label>Assign WO Status to In Progress</label>
        <locationX>732</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>WOStatusVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_WO_Status_to_New</name>
        <label>Assign WO Status to New</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>WOStatusVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_WO_Status_to_Planned</name>
        <label>Assign WO Status to Planned</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>WOStatusVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_WO_status_to_On_Hold</name>
        <label>Set WO status to On Hold</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>WOStatusVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>holdReasonVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentSA.SFS_Hold_Reason__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Get_SA_with_Status_Category_as_Completed_Canceled_or_Cannot_Complete</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get SA with Status Category as Completed, Canceled or Cannot Complete</label>
        <locationX>523</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Get_SA_with_Status_Category_as_Completed_Canceled_or_Cannot_Complete</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AllSACollection</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_SA_with_Status_Category_as_Completed_Canceled_or_Cannot_Complete.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_SA_with_Status_Category_as_Completed_Canceled_or_Cannot_Complete.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Canceled</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_SA_with_Status_Category_as_Completed_Canceled_or_Cannot_Complete.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Cannot Complete</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_SA_with_Status_Category_as_Dispatched_or_Inprogress</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_SA_with_Status_Category_as_Dispatched_or_Inprogress</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get SA with Status Category as Dispatched or Inprogress</label>
        <locationX>523</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Get_SA_with_Status_Category_as_Dispatched_or_Inprogress</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AllSACollection</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_SA_with_Status_Category_as_Dispatched_or_Inprogress.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Dispatched</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_SA_with_Status_Category_as_Dispatched_or_Inprogress.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>In Progress</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_SA_with_Status_Category_as_Dispatched_or_Inprogress.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Travel</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_SA_with_Status_Category_as_Scheduled</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_SA_with_Status_Category_as_Scheduled</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get SA with Status Category as Scheduled</label>
        <locationX>523</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Get_SA_with_Status_Category_as_Scheduled</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AllSACollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_SA_with_Status_Category_as_Scheduled.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Scheduled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_SA_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>SA_Dispatched_Inprogress_Count_0</name>
        <label>SA Dispatched/Inprogress Count &gt; 0</label>
        <locationX>732</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>SA_Scheduled_Count_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Dispatched_InProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountVar_SA_InProgress_Dispatched</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_to_In_Progress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Scheduled_Count_0</name>
        <label>SA Scheduled Count &gt; 0</label>
        <locationX>886</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_WO_Status_to_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountVar_SA_Scheduled</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_to_Planned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Status_Changes_and_Status_Category_is_not_Canceled</name>
        <label>SA Status Changes and Status Category is not Canceled</label>
        <locationX>784</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>priorSA.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_StausCategory_Cannot_Complete_with_Reason</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_StausCategory_Cannot_Complete_with_Reason</name>
        <label>SA StausCategory=Cannot Complete with Reason</label>
        <locationX>286</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_all_SAs_related_to_parent_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CannotComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.SFS_Hold_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_status_to_On_Hold</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_SA_Completed_SAs_and_Current_SA_is_Completed</name>
        <label>Total SA = Completed SAs and Current SA is Completed</label>
        <locationX>523</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>SA_Dispatched_Inprogress_Count_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountVar_SA_Total</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountVar_SA_Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_to_Field_Complete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFS Populate SA Fields From WO SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Populate WO Fields From SA SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_SAs_related_to_parent_WO</name>
        <label>Get all SAs related to parent WO</label>
        <locationX>523</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_with_Status_Category_as_Completed_Canceled_or_Cannot_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFS_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentSA.SFS_Work_Order__c</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>AllSACollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <start>
        <locationX>658</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SA_Status_Changes_and_Status_Category_is_not_Canceled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllSACollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>CountVar_SA_Completed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountVar_SA_InProgress_Dispatched</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountVar_SA_Scheduled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountVar_SA_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Get_SA_with_Status_Category_as_Completed_Canceled_or_Cannot_Complete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_SA_with_Status_Category_as_Dispatched_or_Inprogress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_SA_with_Status_Category_as_Scheduled</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Service Appointment that triggered the flow</description>
        <name>currentSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>holdReasonVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>priorSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WOStatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
