force-app/main/default/flows/SFS_SeviceAppointment_AfterCreateOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Status_of_Parent_WO</name>
        <label>Check Status of Parent WO</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Hold_Reason_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentWOHoldReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_WO</targetReference>
            </connector>
            <label>Hold Reason Update</label>
        </rules>
        <rules>
            <name>Status_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentWOStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentWOHoldReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_WO_Status</targetReference>
            </connector>
            <label>Status Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_Updated</name>
        <label>Created/Updated</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>SFS_Populate_WO_Fields_From_SA_SubFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Updated</defaultConnectorLabel>
        <rules>
            <name>Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Record Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() == TRUE</expression>
    </formulas>
    <interviewLabel>SFS SeviceAppointment AfterCreateOrUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS SeviceAppointment AfterCreateOrUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Parent_WO</name>
        <label>Update Parent WO</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SFS_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFS_Hold_Reason__c</field>
            <value>
                <elementReference>parentWOHoldReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>parentWOStatus</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_WO_Status</name>
        <label>Update Parent WO Status</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SFS_Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>parentWOStatus</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Updated</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFS_Populate_WO_Fields_From_SA_SubFlow</name>
        <label>SFS Populate WO Fields From SA SubFlow</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Status_of_Parent_WO</targetReference>
        </connector>
        <flowName>SFS_Populate_WO_Fields_From_SA_SubFlow</flowName>
        <inputAssignments>
            <name>currentSA</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>priorSA</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>parentWO</assignToReference>
            <name>currentWO</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>parentWOHoldReason</assignToReference>
            <name>holdReasonVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>parentWOStatus</assignToReference>
            <name>WOStatusVar</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>parentWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>parentWOHoldReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentWOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
