force-app/main/default/flows/SFS_WorkOrder_Share_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_TKE_Office_From_Asset_Location</name>
        <label>Set TKE Office From Asset Location</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varTKEOffice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRec.Asset.Location.Office__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_Record_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TKE_Office_From_Location</name>
        <label>Set TKE Office From Location</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varTKEOffice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderRec.Location.Office__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Share_Record_Subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check the WO Status Category, If doesn&apos;t match the condition, end the subflow.</description>
        <name>Check_WO_Status_Category</name>
        <label>Check WO Status Category</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Completed_Canceled_or_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrderRec.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWorkOrderRec.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWorkOrderRec.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Location_TKE_Office</targetReference>
            </connector>
            <label>Completed, Canceled or Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Asset_Location_TKE_Office</name>
        <label>WO - Asset -Location - TKE Office</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrderRec.Asset.Location.Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TKE_Office_From_Asset_Location</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Location_TKE_Office</name>
        <label>WO - Location -TKE Office</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>WO_Asset_Location_TKE_Office</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkOrderRec.Location.Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TKE_Office_From_Location</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <description>This subflow is called from SFS_WorkOrder_AfterCreateOrUpdate. 
Input - Work Order record
Output - Group Id</description>
    <environments>Default</environments>
    <interviewLabel>SFS WorkOrder Share Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS WorkOrder Share SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_WO_Status_Category</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Share_Record_Subflow</name>
        <label>Share Record Subflow</label>
        <locationX>248</locationX>
        <locationY>734</locationY>
        <flowName>TKE_Share_Record_SubFlow</flowName>
        <inputAssignments>
            <name>varOffice</name>
            <value>
                <elementReference>varTKEOffice</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varGroupId</assignToReference>
            <name>varGroupId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the tke office value. To be passed to the subflow.</description>
        <name>varTKEOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
