force-app/main/default/flows/SLS_Opportunity_Before_Create_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Update_Proposed_Date</name>
        <label>Update Proposed Date</label>
        <locationX>191</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>$Record.Proposed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_Opportunity_is_Created_or_Updated</name>
        <label>Check if Opportunity is Created or Updated</label>
        <locationX>651</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Stage_is_Changed_to_Proposed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity is Updated</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Opportunity is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is_Changed_to_Proposed</name>
        <label>Check if Stage is Proposed</label>
        <locationX>201</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Changed_to_Proposed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Proposed_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed to Proposed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SLS Opportunity: Before Create Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLS Opportunity: Before Create Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_Opportunity_is_Created_or_Updated</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
