force-app/main/default/flows/Subflow_ConvertTimeToAnotherTimeZone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Invocable_Apex</name>
        <label>Call Invocable Apex</label>
        <locationX>314</locationX>
        <locationY>3842</locationY>
        <actionName>SFS_CalculateLocalTimeClass</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>U__updatedRecord</typeName>
            <typeValue>ServiceAppointment</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldList</name>
            <value>
                <elementReference>FieldLabelList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>currentSA.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subtractOffset</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>theTZone</name>
            <value>
                <elementReference>currentSA.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFS_CalculateLocalTimeClass</nameSegment>
        <outputParameters>
            <assignToReference>currentSA</assignToReference>
            <name>updatedRecord</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_APIName_ActualEndTime</name>
        <label>Set_APIName_ActualEndTime</label>
        <locationX>50</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>FieldLabelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ActualEndTime</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_List_and_territory_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_APIName_ActualStartTime</name>
        <label>Set_APIName_ActualStartTime</label>
        <locationX>50</locationX>
        <locationY>3242</locationY>
        <assignmentItems>
            <assignToReference>FieldLabelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ActualStartTime</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualEndTimeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_APIName_ArrivalWindowEnd</name>
        <label>Set_APIName_ArrivalWindowEnd</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>FieldLabelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ArrivalWindowEndTime</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchedStartTimeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_APIName_ArrivalWindowStart</name>
        <label>Set_APIName_ArrivalWindowStart</label>
        <locationX>50</locationX>
        <locationY>2042</locationY>
        <assignmentItems>
            <assignToReference>FieldLabelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ArrivalWindowStartTime</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ArrivalWindowEndChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_APIName_SchedEndTime</name>
        <label>Set_APIName_SchedEndTime</label>
        <locationX>50</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>FieldLabelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SchedEndTime</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualStartTimeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_APIName_SchedStartTime</name>
        <label>Set_APIName_SchedStartTime</label>
        <locationX>50</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>FieldLabelList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SchedStartTime</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchedEndTimeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LocalActualEndTimeNull</name>
        <label>Set_LocalActualEndTimeNull</label>
        <locationX>50</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>currentSA.SFS_Local_Actual_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ArrivalWindowStartChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LocalActualStartTimeNull</name>
        <label>Set_LocalActualStartTimeNull</label>
        <locationX>50</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>currentSA.SFS_Local_Actual_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualEndTimeNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LocalArrivalWindowEndNull</name>
        <label>Set_LocalArrivalWindowEndNull</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>currentSA.SFS_Local_Arrival_Window_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchedStartTimeNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LocalArrivalWindowStartNull</name>
        <label>Set_LocalArrivalWindowStartNull</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>currentSA.SFS_Local_Arrival_Window_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ArrivalWindowEndNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LocalSchedEndTimeNull</name>
        <label>Set_LocalSchedEndTimeNull</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>currentSA.SFS_Local_Scheduled_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualStartTimeNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LocalSchedStartTimeNull</name>
        <label>Set_LocalSchedStartTimeNull</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>currentSA.SFS_Local_Scheduled_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchedEndTimeNull</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ActualEndTimeChanged</name>
        <label>ActualEndTimeChanged</label>
        <locationX>182</locationX>
        <locationY>3434</locationY>
        <defaultConnector>
            <targetReference>Field_List_and_territory_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ActualEndTimeChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ActualEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ActualEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ActualEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_APIName_ActualEndTime</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualEndTimeNull</name>
        <label>ActualEndTimeNull</label>
        <locationX>182</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>ArrivalWindowStartChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ActualEndTimeNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ActualEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ActualEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ActualEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LocalActualEndTimeNull</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualStartTimeChanged</name>
        <label>ActualStartTimeChanged</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>ActualEndTimeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ActualStartTimeChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ActualStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ActualStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ActualStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_APIName_ActualStartTime</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualStartTimeNull</name>
        <label>ActualStartTimeNull</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>ActualEndTimeNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ActualStartTimeNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ActualStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ActualStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ActualStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LocalActualStartTimeNull</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ArrivalWindowEndChanged</name>
        <label>ArrivalWindowEndChanged</label>
        <locationX>182</locationX>
        <locationY>2234</locationY>
        <defaultConnector>
            <targetReference>SchedStartTimeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ArrivalWindowEndChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ArrivalWindowEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_APIName_ArrivalWindowEnd</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ArrivalWindowEndNull</name>
        <label>ArrivalWindowEndNull</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>SchedStartTimeNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ArrivalWindowEndNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ArrivalWindowEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LocalArrivalWindowEndNull</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ArrivalWindowStartChanged</name>
        <label>ArrivalWindowStartChanged</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>ArrivalWindowEndChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ArrivalWindowStartChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ArrivalWindowStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_APIName_ArrivalWindowStart</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ArrivalWindowStartNull</name>
        <label>ArrivalWindowStartNull</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ArrivalWindowEndNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ArrivalWindowStartNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ArrivalWindowStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LocalArrivalWindowStartNull</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field_List_and_territory_Decision</name>
        <label>Field List and territory Decision</label>
        <locationX>182</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>Call_Invocable_Apex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_not_call_apex</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FieldLabelList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ServiceTerritory.OperatingHours.TimeZone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Do not call apex</label>
        </rules>
    </decisions>
    <decisions>
        <name>SchedEndTimeChanged</name>
        <label>SchedEndTimeChanged</label>
        <locationX>182</locationX>
        <locationY>2834</locationY>
        <defaultConnector>
            <targetReference>ActualStartTimeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_SchedEndTimeChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.SchedEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.SchedEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_APIName_SchedEndTime</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>SchedEndTimeNull</name>
        <label>SchedEndTimeNull</label>
        <locationX>182</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>ActualStartTimeNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_SchedEndTimeNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.SchedEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.SchedEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LocalSchedEndTimeNull</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>SchedStartTimeChanged</name>
        <label>SchedStartTimeChanged</label>
        <locationX>182</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>SchedEndTimeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_SchedStartTimeChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.SchedStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.SchedStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_APIName_SchedStartTime</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>SchedStartTimeNull</name>
        <label>SchedStartTimeNull</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>SchedEndTimeNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_SchedStartTimeNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.SchedStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.SchedStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LocalSchedStartTimeNull</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>ADO 11993: Support Offices with Units/Locations Across Multiple Time Zones</description>
    <environments>Default</environments>
    <interviewLabel>Subflow_ConvertTimeToAnotherTimeZone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS_ConvertTimeToAnotherTimeZone_Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ArrivalWindowStartNull</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>FieldLabelList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previousSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
