force-app/main/default/flows/Subflow_ConvertTimeToAnotherTimeZone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Action_for_Actual_End</name>
        <label>Apex Action for Actual End</label>
        <locationX>50</locationX>
        <locationY>1742</locationY>
        <actionName>SFS_CalculateLocalTimeClass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dttime</name>
            <value>
                <elementReference>currentSA.ActualEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetTimezone</name>
            <value>
                <elementReference>currentSA.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFS_CalculateLocalTimeClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Apex_Action_for_Actual_Start</name>
        <label>Apex Action for Actual Start</label>
        <locationX>50</locationX>
        <locationY>1442</locationY>
        <actionName>SFS_CalculateLocalTimeClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ActualEndTimeChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dttime</name>
            <value>
                <elementReference>currentSA.ActualStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetTimezone</name>
            <value>
                <elementReference>currentSA.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFS_CalculateLocalTimeClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Apex_Action_for_Arrival_Window_End</name>
        <label>Apex Action for Arrival Window End</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <actionName>SFS_CalculateLocalTimeClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SchedStartTimeChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dttime</name>
            <value>
                <elementReference>currentSA.ArrivalWindowEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetTimezone</name>
            <value>
                <elementReference>currentSA.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFS_CalculateLocalTimeClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Apex_Action_for_Arrival_Window_Start</name>
        <label>Apex Action for Arrival Window Start</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>SFS_CalculateLocalTimeClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ArrivalWindowEndChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dttime</name>
            <value>
                <elementReference>currentSA.ArrivalWindowStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetTimezone</name>
            <value>
                <elementReference>currentSA.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFS_CalculateLocalTimeClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Apex_Action_for_Scheduled_End</name>
        <label>Apex Action for Scheduled End</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <actionName>SFS_CalculateLocalTimeClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ActualStartTimeChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dttime</name>
            <value>
                <elementReference>currentSA.SchedEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetTimezone</name>
            <value>
                <elementReference>currentSA.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFS_CalculateLocalTimeClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Apex_Action_for_Scheduled_Start</name>
        <label>Apex Action for Scheduled Start</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <actionName>SFS_CalculateLocalTimeClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SchedEndTimeChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dttime</name>
            <value>
                <elementReference>currentSA.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetTimezone</name>
            <value>
                <elementReference>currentSA.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFS_CalculateLocalTimeClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>ActualEndTimeChanged</name>
        <label>ActualEndTimeChanged</label>
        <locationX>182</locationX>
        <locationY>1634</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ActualEndTimeChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ActualEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ActualEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ActualEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Action_for_Actual_End</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ActualStartTimeChanged</name>
        <label>ActualStartTimeChanged</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>ActualEndTimeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ActualStartTimeChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ActualStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ActualStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ActualStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Action_for_Actual_Start</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ArrivalWindowEndChanged</name>
        <label>ArrivalWindowEndChanged</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>SchedStartTimeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ArrivalWindowEndChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ArrivalWindowEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Action_for_Arrival_Window_End</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ArrivalWindowStartChanged</name>
        <label>ArrivalWindowStartChanged</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ArrivalWindowEndChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_ArrivalWindowStartChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.ArrivalWindowStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.ArrivalWindowStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Action_for_Arrival_Window_Start</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>SchedEndTimeChanged</name>
        <label>SchedEndTimeChanged</label>
        <locationX>182</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>ActualStartTimeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_SchedEndTimeChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.SchedEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.SchedEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Action_for_Scheduled_End</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>SchedStartTimeChanged</name>
        <label>SchedStartTimeChanged</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>SchedEndTimeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_SchedStartTimeChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.SchedStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousSA.SchedStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Action_for_Scheduled_Start</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>ADO 11993: Support Offices with Units/Locations Across Multiple Time Zones</description>
    <environments>Default</environments>
    <interviewLabel>Subflow_ConvertTimeToAnotherTimeZone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS_ConvertTimeToAnotherTimeZone_Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ArrivalWindowStartChanged</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>previousSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
