force-app/main/default/flows/SVMXA360__WORD_Manage_Work_Order_Closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>cClosureMilestone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Closure - A360</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Close_Work_Order_Override</name>
        <label>Close Work Order Override</label>
        <locationX>1021</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>No_Update_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Close Work Order</defaultConnectorLabel>
        <rules>
            <name>eCloseWorkOrderOverride</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eCloseWorkOrderConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Milestones</targetReference>
            </connector>
            <label>Close Work Order Override</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closure_Milestones</name>
        <label>Closure Milestones</label>
        <locationX>665</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Proceed_To_Close_Confirm_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Milestones</defaultConnectorLabel>
        <rules>
            <name>eClosureMilestone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Closure_Milestones.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cClosureMilestone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Closure_Milestones</targetReference>
            </connector>
            <label>Closure Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Milestones</name>
        <label>Open Milestones</label>
        <locationX>669</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>Close_Work_Order_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Exist</defaultConnectorLabel>
        <rules>
            <name>eOpenMilestonesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Milestones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Closure_Milestones</targetReference>
            </connector>
            <label>Open Milestones Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Work_Order_Lines</name>
        <label>Open Work Order Lines</label>
        <locationX>394</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Order_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complete Or End State</defaultConnectorLabel>
        <rules>
            <name>eNewInProgressOnHold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requires_Action_Screen</targetReference>
            </connector>
            <label>New InProgress OnHold</label>
        </rules>
    </decisions>
    <description>Close an open Work Order and the closure milestone</description>
    <formulas>
        <name>vUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Manage Work Order Closure {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Order Closure</label>
    <loops>
        <name>Evaluate_Closure_Milestones</name>
        <label>Evaluate Closure Milestones</label>
        <locationX>678</locationX>
        <locationY>230</locationY>
        <collectionReference>Get_Work_Order_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Closure_Milestones</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Work_Order_Lines</name>
        <label>Get Work Order Lines</label>
        <locationX>395</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Work_Order_Lines</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Milestones</name>
        <label>Get Work Order Milesones</label>
        <locationX>534</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EntityMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Milestones</name>
        <label>Close Milestones</label>
        <locationX>857</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Close_Work_Order_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EntityMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Work_Order</name>
        <label>Close Work Order</label>
        <locationX>1008</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Work_Order_Close_Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__ClosedById__c</field>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__ClosedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Work_Order_Lines</name>
        <label>Close Work Order Lines</label>
        <locationX>859</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Close_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>No_Update_Screen</name>
        <label>No Update Screen</label>
        <locationX>1115</locationX>
        <locationY>262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eNoUpdate</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_WorkOrderNoUpdates}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Proceed_To_Close_Confirm_Screen</name>
        <label>Proceed To Close Confirm Screen</label>
        <locationX>859</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Close_Work_Order_Override</targetReference>
        </connector>
        <fields>
            <name>eNoChangesConfirmed</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_WorkOrderClosureMilestoneWarning}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eCloseWorkOrderConfirmation</name>
            <dataType>Boolean</dataType>
            <fieldText>Close Work Order Confirmation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Requires_Action_Screen</name>
        <label>Requires Action Screen</label>
        <locationX>402</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderClosureLineItemsWarning}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Close_Confirmation_Screen</name>
        <label>Work Order Close Confirmation Screen</label>
        <locationX>1112</locationX>
        <locationY>141</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eWorkOrderClosed</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_WorkOrderClosureSuccess}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>12</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Work_Order_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntityMilestone</objectType>
    </variables>
    <variables>
        <name>vOpenMilestoneCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
