force-app/main/default/flows/SVMXA360__MOB_AST_Manage_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>eAssignAssetId1</name>
        <label>Assign Asset Id</label>
        <locationX>1703</locationX>
        <locationY>1641</locationY>
        <assignmentItems>
            <assignToReference>vAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eSelectAsset1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eGetSelectedAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignAssetId1AND2</name>
        <label>Assign Asset Id</label>
        <locationX>1593</locationX>
        <locationY>1741</locationY>
        <assignmentItems>
            <assignToReference>vAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eSelectAsset1AND2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eGetSelectedAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignAssetId1AND2AND3</name>
        <label>Assign Asset Id</label>
        <locationX>1462</locationX>
        <locationY>1841</locationY>
        <assignmentItems>
            <assignToReference>vAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eSelectAsset1AND2AND3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eGetSelectedAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignAssetId1AND3</name>
        <label>Assign Asset Id</label>
        <locationX>1355</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>vAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eSelectAsset1AND3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eGetSelectedAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignAssetId2</name>
        <label>Assign Asset Id</label>
        <locationX>1461</locationX>
        <locationY>2052</locationY>
        <assignmentItems>
            <assignToReference>vAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eSelectAsset2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eGetSelectedAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignAssetId2AND3</name>
        <label>Assign Asset Id</label>
        <locationX>1590</locationX>
        <locationY>2146</locationY>
        <assignmentItems>
            <assignToReference>vAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eSelectAsset2AND3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eGetSelectedAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignAssetId3</name>
        <label>Assign Asset Id</label>
        <locationX>1703</locationX>
        <locationY>2244</locationY>
        <assignmentItems>
            <assignToReference>vAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eSelectAsset3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eGetSelectedAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignParentAssetName</name>
        <label>Assign Parent Asset Name</label>
        <locationX>1499</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>vParentAssetName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vParentAsset.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eUpdateAssetInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignParentRootIds</name>
        <label>Assign Parent/Root Ids</label>
        <locationX>1878</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>vParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAssetRecord.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRootId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAssetRecord.RootAssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eGetRootAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignRootAssetName</name>
        <label>Assign Root Asset Name</label>
        <locationX>1878</locationX>
        <locationY>1321</locationY>
        <assignmentItems>
            <assignToReference>vRootAssetName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRootAsset.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eIsParentIdPopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eAssignScreenValues</name>
        <label>Assign Screen Values</label>
        <locationX>1345</locationX>
        <locationY>1088</locationY>
        <assignmentItems>
            <assignToReference>vAssetRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eUpdateAssetDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetRecord.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eUpdateAssetInstallDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eUpdateAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetRecord.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eUpdateAssetSerialNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetRecord.SVMXA360__AssetTag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eUpdateAssetAssetTag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetRecord.SVMXA360__ServiceNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eUpdateAssetServiceNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eUpdateAssetStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eUpdateAssetRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eResetParentAssetName</name>
        <label>Reset Parent Asset Name</label>
        <locationX>1680</locationX>
        <locationY>1088</locationY>
        <assignmentItems>
            <assignToReference>vParentAssetName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eUpdateAssetInformation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>eNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>eYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>vAnd</name>
        <choiceText>All Conditions Are Met (AND)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AND</stringValue>
        </value>
    </choices>
    <choices>
        <name>vNone</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>vOr</name>
        <choiceText>Any Condition Is Met (OR)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OR</stringValue>
        </value>
    </choices>
    <decisions>
        <name>eConditionCheck1</name>
        <label>Condition Check (1)</label>
        <locationX>914</locationX>
        <locationY>1314</locationY>
        <defaultConnector>
            <targetReference>eConditionCheck1AND2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>eConditionMet1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearchResults1</targetReference>
            </connector>
            <label>Condition Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>eConditionCheck1AND2</name>
        <label>Condition Check (1 AND 2)</label>
        <locationX>915</locationX>
        <locationY>1501</locationY>
        <defaultConnector>
            <targetReference>eConditionCheck1AND2AND3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>eConditionMet1AND2</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearchResults1AND2</targetReference>
            </connector>
            <label>Condition Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>eConditionCheck1AND2AND3</name>
        <label>Condition Check (1 AND 2 AND 3)</label>
        <locationX>914</locationX>
        <locationY>1746</locationY>
        <defaultConnector>
            <targetReference>eConditionCheck1AND3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>eConditionMet1AND2AND3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearchResults1AND2AND3</targetReference>
            </connector>
            <label>Condition Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>eConditionCheck1AND3</name>
        <label>Condition Check (1 AND 3)</label>
        <locationX>913</locationX>
        <locationY>1959</locationY>
        <defaultConnector>
            <targetReference>eConditionCheck2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>eConditionMet1AND3</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearchResults1AND3</targetReference>
            </connector>
            <label>Condition Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>eConditionCheck2</name>
        <label>Condition Check (2)</label>
        <locationX>912</locationX>
        <locationY>2190</locationY>
        <defaultConnector>
            <targetReference>eConditionCheck2AND3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>eConditionMet1_0</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearchResults2</targetReference>
            </connector>
            <label>Condition Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>eConditionCheck2AND3</name>
        <label>Condition Check (2 AND 3)</label>
        <locationX>912</locationX>
        <locationY>2395</locationY>
        <defaultConnector>
            <targetReference>eConditionCheck3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>eConditionMet2AND3</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearchResults2AND3</targetReference>
            </connector>
            <label>Condition Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>eConditionCheck3</name>
        <label>Condition Check (3)</label>
        <locationX>910</locationX>
        <locationY>2626</locationY>
        <defaultConnector>
            <targetReference>eNoSearchValuesFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>eConditionMet3</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eAssetName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eSerialNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearchResults3</targetReference>
            </connector>
            <label>Condition Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>eIsParentIdPopulated</name>
        <label>Is Parent Id Populated?</label>
        <locationX>1870</locationX>
        <locationY>987</locationY>
        <defaultConnector>
            <targetReference>eResetParentAssetName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>eParentIdPopulatedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eGetParentAsset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>eManageMoreAssets</name>
        <label>Manage More Assets?</label>
        <locationX>466</locationX>
        <locationY>1169</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>eManageMoreAssetsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eManageAdditionalAssets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>eUploadImagesDecision</name>
        <label>Upload Images?</label>
        <locationX>897</locationX>
        <locationY>1090</locationY>
        <defaultConnector>
            <targetReference>eManageMoreAssetsChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>eUploadImagesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eUploadImages</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eFileUpload</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>eAssetSet1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eAssetName</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>eAssetSet1AND2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eAssetName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eProductCode</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>eAssetSet1AND2AND3</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eAssetName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eSerialNumber</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>eAssetSet1AND3</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eAssetName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eSerialNumber</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>eAssetSet2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eProductCode</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>eAssetSet2AND3</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eSerialNumber</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>eAssetSet3</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eSerialNumber</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>eAssetStatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>A360 - Mobile - Manage Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Mobile - Manage Assets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>eGetParentAsset</name>
        <label>Get Parent Asset</label>
        <locationX>1680</locationX>
        <locationY>891</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eAssignParentAssetName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>vParentAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>eGetRootAsset</name>
        <label>Get Root Asset</label>
        <locationX>1878</locationX>
        <locationY>1643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eAssignRootAssetName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRootId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>vRootAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>eGetSelectedAsset</name>
        <label>Get Selected Asset</label>
        <locationX>1695</locationX>
        <locationY>1956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eAssignParentRootIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>vAssetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SVMXA360__AssetTag__c</queriedFields>
        <queriedFields>SVMXA360__ServiceNotes__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>RootAssetId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>eUpdateAssetRecord</name>
        <label>Update Asset Record</label>
        <locationX>1199</locationX>
        <locationY>1088</locationY>
        <connector>
            <targetReference>eUploadImageChoice</targetReference>
        </connector>
        <inputReference>vAssetRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>eAssetSearch</name>
        <label>Asset Search</label>
        <locationX>481</locationX>
        <locationY>1960</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eConditionCheck1</targetReference>
        </connector>
        <fields>
            <name>eAssetName</name>
            <dataType>String</dataType>
            <fieldText>Asset Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eProductCode</name>
            <dataType>String</dataType>
            <fieldText>Product Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eSerialNumber</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAssetSearchResults1</name>
        <label>Asset Search Results</label>
        <locationX>1165</locationX>
        <locationY>1316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssignAssetId1</targetReference>
        </connector>
        <fields>
            <name>eSelectAsset1</name>
            <choiceReferences>eAssetSet1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAssetSearchResults1AND2</name>
        <label>Asset Search Results</label>
        <locationX>1160</locationX>
        <locationY>1498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssignAssetId1AND2</targetReference>
        </connector>
        <fields>
            <name>eSelectAsset1AND2</name>
            <choiceReferences>eAssetSet1AND2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAssetSearchResults1AND2AND3</name>
        <label>Asset Search Results</label>
        <locationX>1159</locationX>
        <locationY>1741</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssignAssetId1AND2AND3</targetReference>
        </connector>
        <fields>
            <name>eSelectAsset1AND2AND3</name>
            <choiceReferences>eAssetSet1AND2AND3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAssetSearchResults1AND3</name>
        <label>Asset Search Results</label>
        <locationX>1158</locationX>
        <locationY>1956</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssignAssetId1AND3</targetReference>
        </connector>
        <fields>
            <name>eSelectAsset1AND3</name>
            <choiceReferences>eAssetSet1AND3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAssetSearchResults2</name>
        <label>Asset Search Results</label>
        <locationX>1154</locationX>
        <locationY>2191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssignAssetId2</targetReference>
        </connector>
        <fields>
            <name>eSelectAsset2</name>
            <choiceReferences>eAssetSet2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAssetSearchResults2AND3</name>
        <label>Asset Search Results</label>
        <locationX>1149</locationX>
        <locationY>2392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssignAssetId2AND3</targetReference>
        </connector>
        <fields>
            <name>eSelectAsset2AND3</name>
            <choiceReferences>eAssetSet2AND3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAssetSearchResults3</name>
        <label>Asset Search Results</label>
        <locationX>1154</locationX>
        <locationY>2621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssignAssetId3</targetReference>
        </connector>
        <fields>
            <name>eSelectAsset3</name>
            <choiceReferences>eAssetSet3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eFileUpload</name>
        <label>Image Upload</label>
        <locationX>714</locationX>
        <locationY>1000</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eManageMoreAssetsChoice</targetReference>
        </connector>
        <fields>
            <name>eChosenAssetDetails</name>
            <fieldText>&lt;p&gt;Name: {!eUpdateAssetName}&lt;/p&gt;&lt;p&gt;Serial Number: {!eUpdateAssetSerialNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eAssetImageFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Asset Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.jpeg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vAssetId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eManageMoreAssetsChoice</name>
        <label>Asset Updated</label>
        <locationX>714</locationX>
        <locationY>1167</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eManageMoreAssets</targetReference>
        </connector>
        <fields>
            <name>eManageAdditionalAssets</name>
            <choiceReferences>eYes</choiceReferences>
            <choiceReferences>eNo</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to manage additional Assets?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eNoSearchValuesFound</name>
        <label>No Search Values Found</label>
        <locationX>481</locationX>
        <locationY>2623</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssetSearch</targetReference>
        </connector>
        <fields>
            <name>eNoInputProvidedMsg</name>
            <fieldText>&lt;p&gt;Please specify at least one Asset search value&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eUpdateAssetInformation</name>
        <label>Update Asset Information</label>
        <locationX>1499</locationX>
        <locationY>1088</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssignScreenValues</targetReference>
        </connector>
        <fields>
            <name>eHierarchyInfo</name>
            <fieldText>&lt;p&gt;Root Asset: {!vRootAssetName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Parent Asset: {!vParentAssetName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eUpdateAssetName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAssetRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Asset Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eUpdateAssetStatus</name>
            <choiceReferences>eAssetStatusChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAssetRecord.Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eUpdateAssetSerialNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAssetRecord.SerialNumber</elementReference>
            </defaultValue>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eUpdateAssetAssetTag</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vAssetRecord.SVMXA360__AssetTag__c</elementReference>
            </defaultValue>
            <fieldText>Asset Tag</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eUpdateAssetDescription</name>
            <defaultValue>
                <stringValue>{!vAssetRecord.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eUpdateAssetServiceNotes</name>
            <defaultValue>
                <stringValue>{!vAssetRecord.SVMXA360__ServiceNotes__c}</stringValue>
            </defaultValue>
            <fieldText>Service Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eUpdateAssetInstallDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>vAssetRecord.InstallDate</elementReference>
            </defaultValue>
            <fieldText>Install Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eUploadImageChoice</name>
        <label>Upload Images</label>
        <locationX>1061</locationX>
        <locationY>1088</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eUploadImagesDecision</targetReference>
        </connector>
        <fields>
            <name>eUploadImages</name>
            <choiceReferences>eYes</choiceReferences>
            <choiceReferences>eNo</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to upload images to the Asset?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>1941</locationY>
        <connector>
            <targetReference>eAssetSearch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vParentAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vParentAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRootAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vRootAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRootId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
