force-app/main/default/flows/SVMXA360__MPLN_Handle_Maintenance_Plan_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Maintenance_Plan_Status_Changed</name>
        <label>Maintenance Plan Status Changed</label>
        <locationX>506</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed_to_OnHold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__SM_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXA360__SM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OnHold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_when_Status_Changed_to_OnHold</targetReference>
            </connector>
            <label>Status Changed to OnHold</label>
        </rules>
        <rules>
            <name>Status_Changed_to_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__SM_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXA360__SM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_when_Status_Changed_to_Completed</targetReference>
            </connector>
            <label>Status Changed to Completed</label>
        </rules>
        <rules>
            <name>Status_Changed_to_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__SM_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXA360__SM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_when_Status_Changed_to_Canceled</targetReference>
            </connector>
            <label>Status Changed to Canceled</label>
        </rules>
        <rules>
            <name>Status_Changed_to_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__SM_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXA360__SM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_when_Status_Changed_to_Active</targetReference>
            </connector>
            <label>Status Changed to Active</label>
        </rules>
    </decisions>
    <description>A360 - Handle Maintenance Plan Status Change</description>
    <interviewLabel>A360 {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Handle Maintenance Plan Status Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_record_when_Status_Changed_to_Active</name>
        <label>Update record when Status Changed to Active</label>
        <locationX>514</locationX>
        <locationY>559</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__SM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__CanceledOn__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_when_Status_Changed_to_Canceled</name>
        <label>Update record when Status Changed to Canceled</label>
        <locationX>827</locationX>
        <locationY>447</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__SM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DoesAutoGenerateWorkOrders</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__CanceledOn__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_when_Status_Changed_to_Completed</name>
        <label>Update record when Status Changed to Completed</label>
        <locationX>824</locationX>
        <locationY>143</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__SM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DoesAutoGenerateWorkOrders</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__CanceledOn__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_when_Status_Changed_to_OnHold</name>
        <label>Update record when Status Changed to OnHold</label>
        <locationX>509</locationX>
        <locationY>34</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__SM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OnHold</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DoesAutoGenerateWorkOrders</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__CanceledOn__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Maintenance_Plan_Status_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__SM_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MaintenancePlan</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
