force-app/main/default/flows/SVMXA360__MOB_RORD_Manage_Work_Order_Asset_Return.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignScreenValuesToROHeader</name>
        <label>Assign Screen Values to RO Header</label>
        <locationX>1288</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderHeader.SVMXA360__WorkOrderId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReturnOrderHeader.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReturnOrderHeader.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrder.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReturnOrderHeader.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrder.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReturnOrderHeader.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDepotLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReturnOrderHeader.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrder.LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vCreateROHeaderRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedAssetToROLI</name>
        <label>Assign Selected Asset to ROLI</label>
        <locationX>1548</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>vNewROLI.ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderHeaderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewROLI.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLoopCurrentAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewROLI.QuantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewROLI.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewROLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLoopCurrentAsset.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewROLI.ProcessingPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eReturnProcessingPlan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewROLI.SVMXA360__ExpectedCondition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eExpectedReturnCondition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vAddROLIToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Selected_Assets</name>
        <label>Store Selected Assets</label>
        <locationX>1759</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>vSelectedAssets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eChooseAssetstoReturnCheckboxGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vAddBarCodedAssetsToSelectedAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreROHeaderID</name>
        <label>Store RO Header ID</label>
        <locationX>1759</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderHeaderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewlyCreatedReturnOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Selected_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vAddAssetToSelectedTextList</name>
        <label>Add Asset to Selected Text List</label>
        <locationX>1027</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>vSelectedAssetsAsTextList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAppendAssetFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignSelectedAssetToROLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vAddBarCodedAssetsToSelectedAssets</name>
        <label>Add Bar Coded Assets To Selected Assets</label>
        <locationX>1760</locationX>
        <locationY>913</locationY>
        <assignmentItems>
            <assignToReference>vSelectedAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eSelectBarCodedAssetToReturn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vLoopthroughAssetsandCheckifSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vAddROLIToCollection</name>
        <label>Add ROLI to Collection</label>
        <locationX>1552</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>vROLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vNewROLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vLoopthroughAssetsandCheckifSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vAssignDataToReturnOrderHeader</name>
        <label>Assign Data to Return Order Header</label>
        <locationX>1805</locationX>
        <locationY>1311</locationY>
        <assignmentItems>
            <assignToReference>vNewlyCreatedReturnOrder.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vUpdateReturnOrderHeader</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>vAlternateDepot</name>
        <choiceText>Find Another Depot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>vExpectedConditionDamaged</name>
        <choiceText>Damaged</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Damaged</stringValue>
        </value>
    </choices>
    <choices>
        <name>vExpectedConditionDefective</name>
        <choiceText>Defective</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defective</stringValue>
        </value>
    </choices>
    <choices>
        <name>vExpectedConditionGoodWorking</name>
        <choiceText>Good/Working</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good/Working</stringValue>
        </value>
    </choices>
    <choices>
        <name>vExpectedConditionNew</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>vNoneOfTheAboveAssetsChoice</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;None of the Above&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt; &lt;/span&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;(I have a Bar Code or Serial Number)&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoneOfTheAboveAssetsChoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>vProcessingPlanDiscard</name>
        <choiceText>Discard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discard</stringValue>
        </value>
    </choices>
    <choices>
        <name>vProcessingPlanRepair</name>
        <choiceText>Repair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repair</stringValue>
        </value>
    </choices>
    <choices>
        <name>vProcessingPlanRestock</name>
        <choiceText>Restock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restock</stringValue>
        </value>
    </choices>
    <choices>
        <name>vProcessingPlanSalvage</name>
        <choiceText>Salvage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salvage</stringValue>
        </value>
    </choices>
    <choices>
        <name>vProcessingPlanSupplierWarranty</name>
        <choiceText>Supplier Waranty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplier Warranty</stringValue>
        </value>
    </choices>
    <choices>
        <name>vRecommendedDepot</name>
        <choiceText>&lt;b&gt;{!vDepotLocation.Name}&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>vDepotLocation.Id</elementReference>
        </value>
    </choices>
    <decisions>
        <name>vAssetIsSelected</name>
        <label>Asset is Selected?</label>
        <locationX>1020</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>vLoopthroughAssetsandCheckifSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedAssets</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>vLoopCurrentAsset.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AedditionalAssetReturnDetailsScreen</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>vChoseRecommendedDepot</name>
        <label>Chose Recommended Depot?</label>
        <locationX>1090</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>eSearchForAlternateDepots</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prefers Alternate Depot</defaultConnectorLabel>
        <rules>
            <name>vSelectedRecommendedDepot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectADepotOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vRecommendedDepot</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eChooseAssetstoReturn</targetReference>
            </connector>
            <label>Selected Recommended Depot</label>
        </rules>
    </decisions>
    <decisions>
        <name>vSelectedNoneOfTheAbove</name>
        <label>Selected None Of The Above?</label>
        <locationX>1067</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>AssignScreenValuesToROHeader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did NOT Select None of the Above</defaultConnectorLabel>
        <rules>
            <name>vUserSelectedNoneOfTheAbove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eChooseAssetstoReturnCheckboxGroup</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NoneOfTheAboveAssetsChoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAlternativeBarCodeScreen</targetReference>
            </connector>
            <label>Selected None of the Above</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>assetsRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RootAssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrderAsset.RootAssetId</elementReference>
            </value>
        </filters>
        <limit>25</limit>
        <object>Asset</object>
        <sortField>AssetLevel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vAlternateDepotsRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eEnterDepotLocation</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Depot</stringValue>
            </value>
        </filters>
        <limit>25</limit>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>vDepotLocation.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDepotLocation.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDepotLocation.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vFindBarCodedAssets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrder.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RootAssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrderAsset.RootAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eEnterBarCodeOrSerialNumberTextInput</elementReference>
            </value>
        </filters>
        <limit>25</limit>
        <object>Asset</object>
        <sortField>AssetLevel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>vAppendAssetFormula</name>
        <dataType>String</dataType>
        <expression>&quot;\n&quot; + {!vLoopCurrentAsset.Name}</expression>
    </formulas>
    <interviewLabel>Mobile Manage Work Order Asset Return {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Mobile - Manage Work Order Asset Return</label>
    <loops>
        <name>vLoopthroughAssetsandCheckifSelected</name>
        <label>Loop through Assets and Check if Selected</label>
        <locationX>1605</locationX>
        <locationY>913</locationY>
        <assignNextValueToReference>vLoopCurrentAsset</assignNextValueToReference>
        <collectionReference>vAssetTreeAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>vAssetIsSelected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>eReviewReturnOrderScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>vCreateROHeaderRecord</name>
        <label>Create RO Header Record</label>
        <locationX>1440</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>vGetNewlyCreatedReturnOrder</targetReference>
        </connector>
        <inputReference>vReturnOrderHeader</inputReference>
    </recordCreates>
    <recordCreates>
        <name>vCreateROLIs</name>
        <label>Create ROLIs</label>
        <locationX>1805</locationX>
        <locationY>1668</locationY>
        <inputReference>vROLIs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Tree_Assets</name>
        <label>Get Asset Tree Assets</label>
        <locationX>481</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vGetRootAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RootAssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrderAsset.RootAssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompetitorProduct</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>vAssetTreeAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetLevel</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductFamily</queriedFields>
        <queriedFields>PurchaseDate</queriedFields>
        <queriedFields>RecordTypeId__NotFound</queriedFields>
        <queriedFields>RootAssetId</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SVMXA360__AssetTag__c</queriedFields>
        <queriedFields>SVMXA360__DepotReceivedDate__c</queriedFields>
        <queriedFields>SVMXA360__DepotWarehouseLocation__c</queriedFields>
        <queriedFields>SVMXA360__LastRepairDate__c</queriedFields>
        <queriedFields>SVMXA360__LocationNotes__c</queriedFields>
        <queriedFields>SVMXA360__ReferenceNumber__c</queriedFields>
        <queriedFields>SVMXA360__ServiceNotes__c</queriedFields>
        <sortField>AssetLevel</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>vGetContactFromWorkOrder</name>
        <label>Get Contact From Work Order</label>
        <locationX>341</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vGetWorkOrderAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrder.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vWOContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>vGetEligibleDepotLocations</name>
        <label>GetEligibleDepotLocations</label>
        <locationX>630</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vGetSingleRecommendedDepotLocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWORootAsset.Product2Id</elementReference>
            </value>
        </filters>
        <object>SVMXA360__LocationServices__c</object>
        <outputReference>vLocationServicesSelectedDepot</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SVMXA360__Location__c</queriedFields>
        <queriedFields>SVMXA360__Product__c</queriedFields>
        <queriedFields>SVMXA360__ProductFamily__c</queriedFields>
        <queriedFields>SVMXA360__ServiceType__c</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>vGetNewlyCreatedReturnOrder</name>
        <label>Get Newly Created Return Order</label>
        <locationX>1590</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StoreROHeaderID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__WorkOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>ReturnOrder</object>
        <outputReference>vNewlyCreatedReturnOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SVMXA360__WorkOrderId__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ReturnOrderNumber</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>vGetRootAsset</name>
        <label>Get Root Asset</label>
        <locationX>480</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vGetEligibleDepotLocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrderAsset.RootAssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>vWORootAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductFamily</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>vGetSingleRecommendedDepotLocation</name>
        <label>Get Single Recommended Depot Location</label>
        <locationX>788</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eSearchDepotDestinationLocationsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLocationServicesSelectedDepot.SVMXA360__Location__c</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>vDepotLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>vGetWorkOrder</name>
        <label>Get Work Order</label>
        <locationX>173</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vGetContactFromWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>vWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>SVMXA360__ContactEmail__c</queriedFields>
        <queriedFields>SVMXA360__ContactPhone__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>SVMXA360__ProductId__c</queriedFields>
        <queriedFields>ServiceContractId</queriedFields>
        <queriedFields>SVMXA360__EntitledServiceId__c</queriedFields>
        <queriedFields>SVMXA360__IsEntitlementPerformed__c</queriedFields>
        <queriedFields>SVMXA360__EntitlementNotes__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>RootWorkOrderId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>vGetWorkOrderAsset</name>
        <label>Get Work Order Asset</label>
        <locationX>481</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Tree_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrder.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>vWorkOrderAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetLevel</queriedFields>
        <queriedFields>IsCompetitorProduct</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>IsInternal</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductFamily</queriedFields>
        <queriedFields>RecordTypeId__NotFound</queriedFields>
        <queriedFields>RootAssetId</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SVMXA360__AssetTag__c</queriedFields>
        <queriedFields>SVMXA360__LastRepairDate__c</queriedFields>
        <queriedFields>SVMXA360__LocationNotes__c</queriedFields>
        <queriedFields>SVMXA360__DepotWarehouseLocation__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>vUpdateReturnOrderHeader</name>
        <label>Update Return Order Header</label>
        <locationX>1805</locationX>
        <locationY>1489</locationY>
        <connector>
            <targetReference>vCreateROLIs</targetReference>
        </connector>
        <inputReference>vNewlyCreatedReturnOrder</inputReference>
    </recordUpdates>
    <screens>
        <name>AedditionalAssetReturnDetailsScreen</name>
        <label>Additional Asset Return Details</label>
        <locationX>1027</locationX>
        <locationY>1103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>vAddAssetToSelectedTextList</targetReference>
        </connector>
        <fields>
            <name>eDisplayCurrentSelectedAsset</name>
            <fieldText>&lt;p&gt;For the given asset: &lt;b&gt;{!vLoopCurrentAsset.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please provide the following details:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eExpectedReturnCondition</name>
            <choiceReferences>vExpectedConditionNew</choiceReferences>
            <choiceReferences>vExpectedConditionGoodWorking</choiceReferences>
            <choiceReferences>vExpectedConditionDamaged</choiceReferences>
            <choiceReferences>vExpectedConditionDefective</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expected Return Condition</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eReturnProcessingPlan</name>
            <choiceReferences>vProcessingPlanRepair</choiceReferences>
            <choiceReferences>vProcessingPlanDiscard</choiceReferences>
            <choiceReferences>vProcessingPlanSalvage</choiceReferences>
            <choiceReferences>vProcessingPlanRestock</choiceReferences>
            <choiceReferences>vProcessingPlanSupplierWarranty</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Return Processing Plan</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAlternativeBarCodeScreen</name>
        <label>Alternate Bar Code or Serial Number</label>
        <locationX>1289</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>eChooseAlternateAssetScreen</targetReference>
        </connector>
        <fields>
            <name>eEnterBarCodeOrSerialNumberTextInput</name>
            <dataType>String</dataType>
            <fieldText>Enter a Bar Code or Serial Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eChooseAlternateAssetScreen</name>
        <label>Add an Alternate Asset</label>
        <locationX>1469</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignScreenValuesToROHeader</targetReference>
        </connector>
        <fields>
            <name>eSelectBarCodedAssetToReturn</name>
            <choiceReferences>vFindBarCodedAssets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Asset to Return:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eChooseAssetstoReturn</name>
        <label>Choose Assets to Return</label>
        <locationX>926</locationX>
        <locationY>325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>vSelectedNoneOfTheAbove</targetReference>
        </connector>
        <fields>
            <name>eChooseAssetstoReturnCheckboxGroup</name>
            <choiceReferences>assetsRecordChoiceSet</choiceReferences>
            <choiceReferences>vNoneOfTheAboveAssetsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Assets to Return</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eReviewReturnOrderScreen</name>
        <label>Review Return Order</label>
        <locationX>1806</locationX>
        <locationY>1140</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>vAssignDataToReturnOrderHeader</targetReference>
        </connector>
        <fields>
            <name>eWorkOrder</name>
            <fieldText>&lt;p&gt;Work Order: {!vWorkOrder.WorkOrderNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eContactName</name>
            <fieldText>&lt;p&gt;Contact: {!vWOContactRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eContactEmail</name>
            <fieldText>&lt;p&gt;Contact Email: {!vWorkOrder.SVMXA360__ContactEmail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eSourceLocation</name>
            <fieldText>&lt;p&gt;Destination Location: {!vDepotLocation.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eDescription</name>
            <fieldText>Provide a Description:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>vAssetsSelectedText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Assets Returned:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!vSelectedAssetsAsTextList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eSearchDepotDestinationLocationsScreen</name>
        <label>Depot Repair Locations</label>
        <locationX>936</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>vChoseRecommendedDepot</targetReference>
        </connector>
        <fields>
            <name>eChooseADepotLocation</name>
            <fieldText>&lt;p&gt;The following Depot Repair location is recommended:  &lt;b&gt;{!vDepotLocation.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vSelectADepotOption</name>
            <choiceReferences>vRecommendedDepot</choiceReferences>
            <choiceReferences>vAlternateDepot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Depot Location:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eSearchForAlternateDepots</name>
        <label>Search for Alternate Repair Depots</label>
        <locationX>1329</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eSelectAnAlternateDepot</targetReference>
        </connector>
        <fields>
            <name>eEnterDepotLocation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vDepotLocation.Name</elementReference>
            </defaultValue>
            <fieldText>Depot Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eSelectAnAlternateDepot</name>
        <label>Select an Alternate Depot</label>
        <locationX>1332</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>eChooseAssetstoReturn</targetReference>
        </connector>
        <fields>
            <name>eSelectAnAlternateDepotChoice</name>
            <choiceReferences>vAlternateDepotsRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Alternate Depot</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>48</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>vGetWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAlternateDepotLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>vAssetTreeAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vDepotLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>vLocationServicesSelectedDepot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SVMXA360__LocationServices__c</objectType>
    </variables>
    <variables>
        <name>vLoopCurrentAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vNewlyCreatedReturnOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vNewROLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vReturnOrderHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vReturnOrderHeaderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vROLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vSelectedAssets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedAssetsAsTextList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWOContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrderAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vWORootAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vYesDepot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
</Flow>
