force-app/main/default/flows/SVMXA360__PRRQ_Manage_Product_Request_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Old_Status_Value</name>
        <label>Assign Old Status Value</label>
        <locationX>691</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>vOldProductRequestStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Product_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Redirect</name>
        <label>Assign Redirect</label>
        <locationX>421</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Request</targetReference>
        </connector>
    </assignments>
    <description>Cancel an existing Product Request</description>
    <formulas>
        <name>fCurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Manage Product Request Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Product Request Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Product_Request</name>
        <label>Get Product Request</label>
        <locationX>552</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Old_Status_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Product_Request</name>
        <label>Cancel Product Request</label>
        <locationX>819</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Cancel_Product_Request_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eCancelFailed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__CanceledById__c</field>
            <value>
                <elementReference>fCurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__CanceledOn__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Product_Request_Line_Items</name>
        <label>Cancel Product Request Line Items</label>
        <locationX>959</locationX>
        <locationY>69</locationY>
        <faultConnector>
            <targetReference>Reset_Product_Request</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequestLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Product_Request</name>
        <label>Reset Product Request</label>
        <locationX>959</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>eCancelFailed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__CanceledById__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__CanceledOn__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vOldProductRequestStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>eCancelFailed</name>
        <label>Cancel Failed</label>
        <locationX>819</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eCancelFailMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Error_CancelProductRequest}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Redirect</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vOldProductRequestStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
