force-app/main/default/flows/SVMXA360__WORD_Manage_Return_Order_Line_Item_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>cRecordTypeDepot</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Depot</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Return_Order_Line_Item</name>
        <label>Check Return Order Line Item</label>
        <locationX>974</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Return_Order_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReturnOrderLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Update_Tasks</targetReference>
            </connector>
            <label>Has ROLI?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Order_Asset</name>
        <label>Check Work Order Asset</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Last_Repair_Date_0</targetReference>
            </connector>
            <label>Has Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Order_Record_Type</name>
        <label>Check Work Order Record Type</label>
        <locationX>1601</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Depot_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cRecordTypeDepot</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Work_Order_Status</targetReference>
            </connector>
            <label>Is Depot Work Order?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Order_Status</name>
        <label>Check Work Order Status</label>
        <locationX>1304</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed_Closed_Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Return_Order_Line_Item</targetReference>
            </connector>
            <label>Completed/Closed/Canceled?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manage_Update_Tasks</name>
        <label>Manage Update Tasks</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ROLI_Canceled</targetReference>
            </connector>
            <label>Is Canceled</label>
        </rules>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ROLI_Completed</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
        <rules>
            <name>Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ROLI_Closed_if_Restock_Processing_Plan</targetReference>
            </connector>
            <label>Is Closed</label>
        </rules>
    </decisions>
    <description>For Depot WO, manage the completion or closure of linked Return Order Line Items</description>
    <interviewLabel>Manage Return Order Line Item Status {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Return Order Line Item Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Asset_Last_Repair_Date_0</name>
        <label>Update Asset Last Repair Date</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__LastRepairDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ROLI_Canceled</name>
        <label>Update ROLI Canceled</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReturnOrderLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ROLI_Closed_if_Restock_Processing_Plan</name>
        <label>Update ROLI Closed if Restock Processing Plan</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReturnOrderLineItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessingPlan</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Restock</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ROLI_Completed</name>
        <label>Update ROLI Completed</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Check_Work_Order_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReturnOrderLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrderLineItem</object>
    </recordUpdates>
    <start>
        <locationX>1475</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Work_Order_Record_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
