force-app/main/default/flows/SVMXA360__AST_Manage_Asset_Maintenance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_to_vAsset_Collection_PostScreen</name>
        <label>Assign to vAsset Collection</label>
        <locationX>523</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>vAssets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eSPMManageAsset.headerRecordData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_vAsset_Collection_PreScreen</name>
        <label>Assign to vAsset Collection</label>
        <locationX>280</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>vAssets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Record_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eManageAssetScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cAssetManagementScreenName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AST_Manage_Screen</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSuccessMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Asset updated.</stringValue>
        </value>
    </constants>
    <description>Manage key fields on the Asset record</description>
    <interviewLabel>Manage Asset Maintenance {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Asset Maintenance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset_Record_Data</name>
        <label>Get Asset Record Data</label>
        <locationX>176</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_vAsset_Collection_PreScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Data</name>
        <label>Update Asset Data</label>
        <locationX>523</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>eDisplaySuccessMessageScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eManageAssetScreen</targetReference>
        </faultConnector>
        <inputReference>vAssets</inputReference>
    </recordUpdates>
    <screens>
        <name>eDisplaySuccessMessageScreen</name>
        <label>Display Success Message</label>
        <locationX>523</locationX>
        <locationY>492</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eDisplaySuccessMessage</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_AssetUpdated}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eManageAssetScreen</name>
        <label>Manage Asset Screen</label>
        <locationX>393</locationX>
        <locationY>196</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_vAsset_Collection_PostScreen</targetReference>
        </connector>
        <fields>
            <name>eDisplayFlowMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eSPMManageAsset</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGenericHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cAssetManagementScreenName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vAssets</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Asset_Record_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
