force-app/main/default/flows/SVMXA360__RORD_Manage_Return_Order_Receiving.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Asset_to_Update_Collection</name>
        <label>Add Asset to Update Collection</label>
        <locationX>2316</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>vAssetsToUpdateDepotInformationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAssetToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Received_Date_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Loop_Record_to_ROLI_Variable</name>
        <label>Assign Current Loop Record to ROLI Variable</label>
        <locationX>747</locationX>
        <locationY>1123</locationY>
        <assignmentItems>
            <assignToReference>vLoopROLIRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_ROLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ROLI_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Status_Value</name>
        <label>Assign Old Status Value</label>
        <locationX>556</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>vOldReturnOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Return_Order_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Return_Order_Line_Items_To_Update_Collection</name>
        <label>Assign Return Order Line Items To Update Collection</label>
        <locationX>1426</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>vUpdateReturnOrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vReturnOrderLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Return_Order_to_Collection</name>
        <label>Assign Return Order to Collection</label>
        <locationX>695</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderAsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Return_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Return_Order_to_Redirect_Id</name>
        <label>Assign Return Order to Redirect Id</label>
        <locationX>2159</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_ROLI_to_New_Collection</name>
        <label>Assign ROLI to New Collection</label>
        <locationX>577</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>vInitialROLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vLoopROLIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ROLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Static_Values_to_ROLI</name>
        <label>Assign Static Values to ROLI</label>
        <locationX>1830</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderLineItemRecord.SVMXA360__ReceivedById__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Return_Order_Line_Items_To_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Asset_To_Update</name>
        <label>Create Asset To Update</label>
        <locationX>2316</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>vAssetToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderLineItemRecord.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetToUpdate.SVMXA360__DepotReceivedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderLineItemRecord.SVMXA360__ReceivedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetToUpdate.SVMXA360__DepotWarehouseLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deinstalled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetToUpdate.SVMXA360__LocationNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderLineItemRecord.SVMXA360__DepotLocationNotes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Asset_Not_Yet_Received_Flag</name>
        <label>Reset Asset Not Yet Received Flag</label>
        <locationX>1619</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>vAssetROLINotYetReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Found_a_ROLI_Not_Yet_Received</name>
        <label>Set Found a ROLI Not Yet Received</label>
        <locationX>1919</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>vAssetROLINotYetReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Return_Order_Line_Items_To_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Received_Date</name>
        <label>Set Received Date</label>
        <locationX>1994</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderLineItemRecord.SVMXA360__ReceivedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Static_Values_to_ROLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vAssign_ROLI_Record_from_Screen</name>
        <label>Assign ROLI Record from Screen</label>
        <locationX>1612</locationX>
        <locationY>903</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderLineItemRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Return_Order_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ROLI_Received</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cManageReturnOrderLinesGridView</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RORD_Manage_Receiving_Screen</stringValue>
        </value>
    </constants>
    <decisions>
        <name>All_ROLIs_Received</name>
        <label>All ROLIs Received?</label>
        <locationX>1419</locationX>
        <locationY>1136</locationY>
        <defaultConnector>
            <targetReference>Reset_Asset_Not_Yet_Received_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ROLIs_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAssetROLINotYetReceived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Return_Order_to_Received</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Received_Date_Null</name>
        <label>is Received Date Null?</label>
        <locationX>2151</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Assign_Static_Values_to_ROLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>vNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vReturnOrderLineItemRecord.SVMXA360__ReceivedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Received_Date</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_ROLI_an_Asset</name>
        <label>is ROLI an Asset?</label>
        <locationX>2149</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>is_Received_Date_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not an Asset</defaultConnectorLabel>
        <rules>
            <name>Yes_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vReturnOrderLineItemRecord.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asset_To_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_Order_Line_Items_Exist</name>
        <label>Return Order Line Items Exist?</label>
        <locationX>1262</locationX>
        <locationY>901</locationY>
        <defaultConnector>
            <targetReference>eNoReturnOrderLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Return_Order_Line_Items_Exist_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Return_Order_Line_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ROLI_Received</name>
        <label>ROLI Received?</label>
        <locationX>1915</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>Set_Found_a_ROLI_Not_Yet_Received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vReturnOrderLineItemRecord.SVMXA360__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_ROLI_an_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Indicate items on a Return Order as received and update related Assets with depot information</description>
    <dynamicChoiceSets>
        <name>Receipt_Issue_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SVMXA360__ReturnIssue__c</picklistField>
        <picklistObject>ReturnOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Returned_Condition_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SVMXA360__ReturnedCondition__c</picklistField>
        <picklistObject>ReturnOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fCurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>vCurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Manage Return Order Receiving {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Return Order Receiving</label>
    <loops>
        <name>Iterate_Return_Order_Line_Items</name>
        <label>Iterate Return Order Line Items</label>
        <locationX>1426</locationX>
        <locationY>899</locationY>
        <collectionReference>Re_Query_Return_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>vAssign_ROLI_Record_from_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_ROLIs_Received</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_ROLIs</name>
        <label>Loop through ROLIs</label>
        <locationX>747</locationX>
        <locationY>894</locationY>
        <collectionReference>Get_Return_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Loop_Record_to_ROLI_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ROLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>424</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Old_Status_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_Line_Items</name>
        <label>Get Return Order Line Items</label>
        <locationX>825</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_ROLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <sortField>SVMXA360__ReceivedDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Re_Query_Return_Order_Line_Items</name>
        <label>Re-Query Return Order Line Items</label>
        <locationX>1144</locationX>
        <locationY>899</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Order_Line_Items_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Return_Order</name>
        <label>Reset Return Order</label>
        <locationX>1621</locationX>
        <locationY>1496</locationY>
        <connector>
            <targetReference>eCloseFailed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__ClosedById__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__ClosedOn__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vOldReturnOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assets_With_Depot_Information</name>
        <label>Update Assets With Depot Information</label>
        <locationX>1987</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Assign_Return_Order_to_Redirect_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eCloseFailed</targetReference>
        </faultConnector>
        <inputReference>vAssetsToUpdateDepotInformationCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Order_Line_Items</name>
        <label>Update Return Order Line Items</label>
        <locationX>1618</locationX>
        <locationY>1290</locationY>
        <connector>
            <targetReference>Update_Assets_With_Depot_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Reset_Return_Order</targetReference>
        </faultConnector>
        <inputReference>vUpdateReturnOrderLineItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Order_to_Received</name>
        <label>Update Return Order to Received</label>
        <locationX>1426</locationX>
        <locationY>1291</locationY>
        <connector>
            <targetReference>Reset_Asset_Not_Yet_Received_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eCloseFailed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ROLIs</name>
        <label>Update ROLIs</label>
        <locationX>883</locationX>
        <locationY>899</locationY>
        <connector>
            <targetReference>eCloseReturnOrderScreen</targetReference>
        </connector>
        <inputReference>vInitialROLIs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>eCloseFailed</name>
        <label>Close Failed</label>
        <locationX>1431</locationX>
        <locationY>1597</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eCloseFailedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.svmxa360__Error_ReceiveReturnOrder}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eCloseReturnOrderScreen</name>
        <label>Receive Return Order</label>
        <locationX>1023</locationX>
        <locationY>899</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Re_Query_Return_Order_Line_Items</targetReference>
        </connector>
        <fields>
            <name>eReturnOrderLineItemDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!$Label.svmxa360__Title_ReceiveParts}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eReturnOrderReceivingScreen</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ReturnOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ReturnOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>RORD_Manage_Return_Order_Receiving_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vInitialROLIs</assignToReference>
                <name>child1Modified</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vReturnOrderAsCollection</assignToReference>
                <name>headerRecordData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eNoReturnOrderLineItems</name>
        <label>No Return Order Line Items</label>
        <locationX>1268</locationX>
        <locationY>689</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eNoItemsMessage</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Error_NoReturnOrderLineItems}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vAssetROLINotYetReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vAssetsToUpdateDepotInformationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vAssetToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vCurrentReturnOrderLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vInitialROLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vInsertROLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vLoopROLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vNewROLICollectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vNewROLIRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vNewSingleROLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vOldReturnOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOutputDeleteCollectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vReturnOrderAsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vReturnOrderLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vUpdateReturnOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
</Flow>
