force-app/main/default/flows/SVMXA360__RORD_Manage_Work_Order_Returns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Redirect</name>
        <label>Assign Redirect</label>
        <locationX>838</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Launch a Return Order from Work Order</description>
    <interviewLabel>Manage Work Order Returns {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Order Returns</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>718</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eReturnsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vNewReturnOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>eReturnsScreen</name>
        <label>Work Order Returns Process Completed</label>
        <locationX>786</locationX>
        <locationY>231</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Redirect</targetReference>
        </connector>
        <fields>
            <name>eReturnCreatedScreen</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_WorkOrderReturnsSuccessful}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Manage_Work_Order_Asset_Return</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Manage_Work_Order_Asset_Return</name>
        <label>Manage Work Order Asset Return</label>
        <locationX>442</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
        <flowName>SVMXA360__RORD_Manage_Return_Work_Order_Asset</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIsAdvancedExchange</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vNewReturnOrderId</assignToReference>
            <name>vReturnOrderHeaderId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>vNewReturnOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
