force-app/main/default/flows/SVMXA360__MPLN_Auto_Create_Maintenance_Plan_From_Service_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Offered_Template_Count</name>
        <label>Assign Offered Template Count</label>
        <locationX>652</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>OfferedTemplateCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Maintenance_Plan_Offering_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Offered_Template_Count_Greater_Than_Zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Offered_Template_Data_To_Application_Event</name>
        <label>Assign Offered Template Data To Application Event</label>
        <locationX>441</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>MaintenancePlanEventBus.SVMXA360__SourceRecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanEventBus.SVMXA360__Payload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payload_Data</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanEventBus.SVMXA360__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MPLNAuthoring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanEventBus.SVMXA360__UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Application_Event_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Parent_Authoring_Log_Record</name>
        <label>Assign Values to Parent Authoring Log Record</label>
        <locationX>1080</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>MplnAuthoringLogParentRecord.SVMXA360__LogType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MplnAuthoringLogParentRecord.SVMXA360__ServiceContractId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MplnAuthoringLogParentRecord.SVMXA360__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MplnAuthoringLogParentRecord.SVMXA360__TotalNumberOfBatches__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfferedTemplateCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MplnAuthoringLogParentRecord.SVMXA360__UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MplnAuthoringLogParentRecord.SVMXA360__TotalBatchesCompleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MplnAuthoringLogParentRecord.SVMXA360__OperationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Parent_Mpln_Authoring_Log_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Offered_Template_Count_Greater_Than_Zero</name>
        <label>Offered Template Count Greater Than Zero</label>
        <locationX>813</locationX>
        <locationY>129</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Take_MPLN_Authoring_Log_Record_Creation_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfferedTemplateCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Parent_Authoring_Log_Record</targetReference>
            </connector>
            <label>Take MPLN Authoring Log Record Creation Path</label>
        </rules>
    </decisions>
    <description>Auto Create Maintenance Plan From Service Contract by using Maintenance Plan Offerings</description>
    <formulas>
        <name>Payload_Data</name>
        <dataType>String</dataType>
        <expression>{!Iterate_Over_Mplan_offered_Template.SVMXA360__MaintenancePlanTemplateId__c}&amp;&quot;;&quot;&amp;{!MplnAuthoringLogParentRecord.Id}</expression>
    </formulas>
    <interviewLabel>A360 - {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Auto Create Maintenance Plan From Service Contract</label>
    <loops>
        <name>Iterate_Over_Mplan_offered_Template</name>
        <label>Iterate Over Mplan offered Template</label>
        <locationX>660</locationX>
        <locationY>344</locationY>
        <collectionReference>Maintenance_Plan_Offering_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Offered_Template_Data_To_Application_Event</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Parent_Mpln_Authoring_Log_Record</name>
        <label>Create Parent Mpln Authoring Log Record</label>
        <locationX>840</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>Iterate_Over_Mplan_offered_Template</targetReference>
        </connector>
        <inputReference>MplnAuthoringLogParentRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Publish_Application_Event_Record</name>
        <label>Publish Application Event Record</label>
        <locationX>267</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>Iterate_Over_Mplan_offered_Template</targetReference>
        </connector>
        <inputReference>MaintenancePlanEventBus</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Maintenance_Plan_Offering_Records</name>
        <label>Maintenance Plan Offering Records</label>
        <locationX>471</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Offered_Template_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__ServiceContractId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SVMXA360__MaintenancePlanOffering__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SVMXA360__MaintenancePlanTemplateId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Maintenance_Plan_Offering_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__ContractAuthoringStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SVMXA360__ContractAuthoringStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AuthoringCompleted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ServiceContract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MaintenancePlanEventBus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SVMXA360__ApplicationEventBus__e</objectType>
    </variables>
    <variables>
        <name>MplnAuthoringLogParentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SVMXA360__MPLNAuthoringLog__c</objectType>
    </variables>
    <variables>
        <name>OfferedTemplateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
