force-app/main/default/flows/SVMXA360__PRCO_Manage_Product_Consumed_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>SetConsumedDate</name>
        <label>Set Consumed Date</label>
        <locationX>329</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>$Record.SVMXA360__ConsumedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Consumed_Date_Blank</name>
        <label>Is Consumed Date Blank?</label>
        <locationX>168</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ConsumedDateIsBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__ConsumedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetConsumedDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates Consumed Date on Product Consumed if blank</description>
    <formulas>
        <name>fCurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Manage Product Consumed Date {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Product Consumed Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Consumed_Date_Blank</targetReference>
        </connector>
        <object>ProductConsumed</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vConsumedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
