force-app/main/default/flows/SVMXA360__PRRQ_Create_Product_Request_from_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Add the new Product Request Line Item record to the collection for insert</description>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>1368</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vNewProductRequestLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Product_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Product_Item</name>
        <label>Assign Current Product Item</label>
        <locationX>1105</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>vCurrentLoopProductItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Product_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Request_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get the count of all Product Item records in a &quot;reorder&quot; state</description>
        <name>Assign_Product_Item_Count</name>
        <label>Assign Product Item Count</label>
        <locationX>567</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>vProductItemCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Reorder_Product_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Items_Need_Reorder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to the new Product Request record</description>
        <name>Assign_Product_Request</name>
        <label>Assign Product Request</label>
        <locationX>851</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>vNewProductRequest.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequest.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to new Product Request Line Item record</description>
        <name>Assign_Product_Request_Line_Item</name>
        <label>Assign Product Request Line Item</label>
        <locationX>1243</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewProductRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCurrentLoopProductItem.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.QuantityRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCurrentLoopProductItem.SVMXA360__ReorderQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCurrentLoopProductItem.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Redirects to newly created Product Request</description>
        <name>Assign_Redirect</name>
        <label>Assign Redirect</label>
        <locationX>1387</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewProductRequest.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Redirect_Back</name>
        <label>Assign Redirect Back</label>
        <locationX>568</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>If Product Item records at this Location are in a &quot;reorder&quot; state then create Product Request</description>
        <name>Product_Items_Need_Reorder</name>
        <label>Product Items Need Reorder?</label>
        <locationX>698</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>eNoReorderRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Product_Items_Reorder_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductItemCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create Product Request from Location - generally used for stock replenishment</description>
    <interviewLabel>Create Product Request From Location {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Product Request From Location</label>
    <loops>
        <description>Iterate through all Product Item records in a &quot;reorder&quot; state</description>
        <name>Iterate_Product_Items</name>
        <label>Iterate Product Items</label>
        <locationX>1249</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_Reorder_Product_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Product_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Request_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Product_Request</name>
        <label>Create Product Request</label>
        <locationX>977</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Iterate_Product_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eCreateFailed</targetReference>
        </faultConnector>
        <inputReference>vNewProductRequest</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Request_Line_Items</name>
        <label>Create Product Request Line Items</label>
        <locationX>1249</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>Assign_Redirect</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Delete_Product_Request</targetReference>
        </faultConnector>
        <inputReference>vNewProductRequestLineItemCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Product_Request</name>
        <label>Delete Product Request</label>
        <locationX>1104</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>eCreateFailed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vNewProductRequest.Id</elementReference>
            </value>
        </filters>
        <object>ProductRequest</object>
    </recordDeletes>
    <recordLookups>
        <description>Get all Product Item records related to this Location that are in a &quot;reorder&quot; state</description>
        <name>Get_Reorder_Product_Items</name>
        <label>Get Reorder Product Items</label>
        <locationX>431</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Product_Item_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__ReorderQuantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SVMXA360__ReorderQuantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SVMXA360__ReorderRequired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Message to display to user on Product Request creation failure</description>
        <name>eCreateFailed</name>
        <label>Create Failed</label>
        <locationX>978</locationX>
        <locationY>594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eCreateFailedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Error_ProductRequestCreate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Message to display to the user when no Product Item records require a reorder of stock at this Location</description>
        <name>eNoReorderRequired</name>
        <label>No Reorder Required</label>
        <locationX>705</locationX>
        <locationY>597</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Redirect_Back</targetReference>
        </connector>
        <fields>
            <name>eNoReorderRequiredMessage</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_StockReorderNotRequired}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>Get_Reorder_Product_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vCurrentLoopProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>vNewProductRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vNewProductRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewProductRequestLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vNewProductRequestLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vProductItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
