force-app/main/default/flows/SVMXA360__WORD_Create_Field_Work_Order_From_Remote_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remote_WO_to_Field_WO</name>
        <label>Remote WO to Field WO</label>
        <locationX>382</locationX>
        <locationY>451</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cMapName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>Get_Remote_Work_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>vWorkOrders</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <outputParameters>
            <assignToReference>vWorkOrders</assignToReference>
            <name>targetSObjectList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Field_Record_Type</name>
        <label>Assign Field Record Type</label>
        <locationX>660</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderField.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_Record_Type_Field.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection_PreScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_WorkOrder_Id</name>
        <label>Assign New WorkOrder Id</label>
        <locationX>50</locationX>
        <locationY>1049</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_WorkOrder_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_WorkOrder_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_PostScreen</name>
        <label>Assign to Collection</label>
        <locationX>387</locationX>
        <locationY>901</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrdersNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eManageWorkOrderField.headerRecordData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_PreScreen</name>
        <label>Assign to Collection</label>
        <locationX>669</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrdersNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vWorkOrderField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order</name>
        <label>Assign Work Order</label>
        <locationX>663</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Field_Record_Type</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cFieldWORecType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Field</stringValue>
        </value>
    </constants>
    <constants>
        <name>cMapName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_WORD_Remote_Field_Mapping</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSuccessMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Field Work Order created</stringValue>
        </value>
    </constants>
    <constants>
        <name>cWorkOrderScreenName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_Manage_Field_Screen</stringValue>
        </value>
    </constants>
    <interviewLabel>Create Field Work Order From Remote Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Field Work Order From Remote Work Order</label>
    <loops>
        <name>Assign</name>
        <label>Loop for Field Record Type</label>
        <locationX>384</locationX>
        <locationY>602</locationY>
        <collectionReference>vWorkOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Work_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Field_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_New_WorkOrder_Id</name>
        <label>Get New WorkOrder Id</label>
        <locationX>223</locationX>
        <locationY>1049</locationY>
        <collectionReference>vWorkOrdersNew</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_WorkOrder_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Work_Order</name>
        <label>Create New Work Order</label>
        <locationX>388</locationX>
        <locationY>1050</locationY>
        <connector>
            <targetReference>Get_New_WorkOrder_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Field_Work_Order</targetReference>
        </faultConnector>
        <inputReference>vWorkOrdersNew</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Remote_Work_Record</name>
        <label>Get Remote Work Record</label>
        <locationX>386</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Record_Type_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_Order_Record_Type_Field</name>
        <label>Work Order Record Type - Field</label>
        <locationX>385</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remote_WO_to_Field_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cFieldWORecType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Field_Work_Order</name>
        <label>Create Field Work Order</label>
        <locationX>387</locationX>
        <locationY>763</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Collection_PostScreen</targetReference>
        </connector>
        <fields>
            <name>eDisplayFaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eManageWorkOrderField</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGenericHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cWorkOrderScreenName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vWorkOrdersNew</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>260</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Remote_Work_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vMessageError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrderField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrdersNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
