force-app/main/default/flows/SVMXA360__WORD_Create_Depot_Work_Orders_from_Return_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Add the new Work Order record to the collection for insert</description>
        <name>Add_To_Work_Order_Collection</name>
        <label>Add To Work Order Collection</label>
        <locationX>1213</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vNewDepotWorkOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ROLI_Count</name>
        <label>Assign ROLI Count</label>
        <locationX>682</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>vROLICount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Return_Order_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ROLI_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Collection</name>
        <label>Create Return Order Collection</label>
        <locationX>186</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>vSingleReturnOrderAsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Return_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Entitled_Successfully</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Determine_Count_of_Depot_Work_Orders</name>
        <label>Determine Count of Depot Work Orders</label>
        <locationX>1646</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>vCountOfDepotWorkOrders</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vNewDepotWorkOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Depot_Work_Orders_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to the new Work Order record from the current record in the loop</description>
        <name>New_Depot_Work_Order</name>
        <label>New Depot Work Order</label>
        <locationX>1418</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Return_Order_Line_Items.Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.ReturnOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Return_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Depot_Work_Order_Rec_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWOSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.SVMXA360__ProductId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Return_Order_Line_Items.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.SVMXA360__PerformAutoEntitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.SVMXA360__WorkOrderId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.SVMXA360__ContactPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.SVMXA360__ContactPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.SVMXA360__ContactEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.SVMXA360__ContactEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.SVMXA360__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.SVMXA360__BillingType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.SVMXA360__ServiceContractId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.AssetWarrantyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.SVMXA360__AssetWarrantyId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.SVMXA360__EntitledServiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.SVMXA360__EntitlementId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.SVMXA360__ContractLineItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.SVMXA360__ContractLineItemId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewDepotWorkOrder.SVMXA360__WorkStepStatus__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Work_Order_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Redirect_Id_to_Return_Order</name>
        <label>Set Redirect Id to Return Order</label>
        <locationX>1998</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Depot_Work_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Redirect_Id_to_Single_Depot_Work_Order</name>
        <label>Set Redirect Id to Single Depot Work Order</label>
        <locationX>1600</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Single_Depot_Work_Order_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Single_Depot_Work_Order_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RO_Entitled_Successfully_Flag</name>
        <label>Set RO Entitled Successfully Flag</label>
        <locationX>432</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>vROEntitledSuccessfully</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cDepotWorkOrderRecType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Depot</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Multiple_Depot_Work_Orders_Created</name>
        <label>Multiple Depot Work Orders Created?</label>
        <locationX>1782</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Set_Redirect_Id_to_Return_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Depot Work Orders</defaultConnectorLabel>
        <rules>
            <name>Single_Depot_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountOfDepotWorkOrders</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Single_Depot_Work_Order_Collection</targetReference>
            </connector>
            <label>Single Depot Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Depot_Work_Orders</name>
        <label>No Depot Work Orders Created</label>
        <locationX>2152</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>eCreateSuccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Depot Work Orders Created</defaultConnectorLabel>
        <rules>
            <name>No_Depot_Work_Orders_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountOfDepotWorkOrders</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eCreateZeroDepotWorkOrders</targetReference>
            </connector>
            <label>No Depot Work Orders Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_Order_Entitled_Successfully</name>
        <label>Return Order Entitled Successfully?</label>
        <locationX>309</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Get_All_Return_Order_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Entitled</defaultConnectorLabel>
        <rules>
            <name>Entitled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order.SVMXA360__EntitlementId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order.SVMXA360__ServiceContractId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Return_Order.SVMXA360__AssetWarrantyId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RO_Entitled_Successfully_Flag</targetReference>
            </connector>
            <label>Entitled</label>
        </rules>
    </decisions>
    <decisions>
        <name>ROLI_Exist</name>
        <label>ROLI Exist?</label>
        <locationX>815</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>eNoReturnOrderLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ROLI_Exist_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vROLICount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eSelectROLIsForDepotWOCreation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Extended flow to create Return Order and Return Order lines, and upon receipt, create Depot Repair Work Order for each Return Order Line</description>
    <dynamicChoiceSets>
        <name>Return_Order_Line_Item_Set</name>
        <dataType>String</dataType>
        <displayField>SVMXA360__ReturnItemInformation__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ReturnOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>vCurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>vWOSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Depot Repair - &quot; &amp; {!Iterate_Return_Order_Line_Items.Asset.SerialNumber}</expression>
    </formulas>
    <interviewLabel>Create Depot Work Orders From Return Order {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Depot Work Orders From Return Order</label>
    <loops>
        <description>Iterate over the Return Order Line Items that were selected by the user</description>
        <name>Iterate_Return_Order_Line_Items</name>
        <label>Iterate Return Order Line Items</label>
        <locationX>1308</locationX>
        <locationY>360</locationY>
        <collectionReference>vChosenReturnOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Depot_Work_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Depot_Work_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Single_Depot_Work_Order_Collection</name>
        <label>Loop through Single Depot Work Order Collection</label>
        <locationX>1791</locationX>
        <locationY>214</locationY>
        <collectionReference>vNewDepotWorkOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Redirect_Id_to_Single_Depot_Work_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>eCreateSuccess</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the new Depot Work Orders</description>
        <name>Create_Depot_Work_Orders</name>
        <label>Create Depot Work Orders</label>
        <locationX>1512</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Determine_Count_of_Depot_Work_Orders</targetReference>
        </connector>
        <inputReference>vNewDepotWorkOrders</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the Return Order Line Items related to the Return Order that executed the flow</description>
        <name>Get_All_Return_Order_Line_Items</name>
        <label>Get All Return Order Line Items</label>
        <locationX>533</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ROLI_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Work Order record type id for &quot;Depot&quot;</description>
        <name>Get_Depot_Work_Order_Rec_Type</name>
        <label>Get Depot Work Order Rec Type</label>
        <locationX>1161</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Return_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cDepotWorkOrderRecType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Return Order record that executed the flow</description>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>144</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Return_Order_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Screen to indicate a successful transaction to the user</description>
        <name>eCreateSuccess</name>
        <label>Create Success</label>
        <locationX>2365</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eCreateSuccessMessage</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_DepotWorkOrdersCreated}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to indicate no depot Work Orders were created.</description>
        <name>eCreateZeroDepotWorkOrders</name>
        <label>No Depot Work Orders Created</label>
        <locationX>2368</locationX>
        <locationY>586</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eCreateZeroDepotWOsMessage</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_NoDepotWOsCreated}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eNoReturnOrderLineItems</name>
        <label>No Return Order Line Items</label>
        <locationX>824</locationX>
        <locationY>365</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eNoItemsMessage</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Error_NoReturnOrderLineItems}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eSelectROLIsForDepotWOCreation</name>
        <label>Select ROLIs for Depot WO Creation</label>
        <locationX>982</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Depot_Work_Order_Rec_Type</targetReference>
        </connector>
        <fields>
            <name>eChooseROLIsForWOCreation</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Label_SelectROLIsForDepotWOCreation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eSelectROLIsForReturnScreen</name>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ReturnOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ReturnOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGeneric</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>RORD_Select_Line_Items_Screen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vSingleReturnOrderAsCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>child1Modified</name>
                <value>
                    <elementReference>Get_All_Return_Order_Line_Items</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vChosenReturnOrderLineItems</assignToReference>
                <name>child1Selected</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vReturnOrderAsCollection</assignToReference>
                <name>headerRecordData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>17</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vChosenReturnOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vChosenReturnOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vCountOfDepotWorkOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCreateDepotWorkOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewDepotWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vNewDepotWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewDepotWorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vReturnOrderAsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vROEntitledSuccessfully</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vROLICount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vSingleReturnOrderAsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
</Flow>
