force-app/main/default/flows/SVMXA360__AST_Create_Customer_Owned_Asset_from_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_to_Asset_Collection_PostScreen</name>
        <label>Assign to Asset Collection</label>
        <locationX>934</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>vAssets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eNewAsset.headerRecordData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Asset_Collection_PreScreen</name>
        <label>Assign to Asset Collection</label>
        <locationX>761</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>vAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eNewAssetScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_New_Asset_RecordId</name>
        <label>Get New Asset RecordId</label>
        <locationX>611</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_New_Asset_RecordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_New_Asset_RecordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Asset</name>
        <label>Initialize Asset</label>
        <locationX>606</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vAsset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAsset.RecordTypeId__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Owned_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAsset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Asset_Collection_PreScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cCustomerOwnedRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CustomerOwned</stringValue>
        </value>
    </constants>
    <constants>
        <name>cScreenName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AST_Create_Customer_Owned_Screen</stringValue>
        </value>
    </constants>
    <description>Create customer owned Asset from Location</description>
    <interviewLabel>Create Customer Owned Asset from Location {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Customer Owned Asset from Location</label>
    <loops>
        <name>Find_New_Asset_RecordId</name>
        <label>Find New Asset RecordId</label>
        <locationX>817</locationX>
        <locationY>444</locationY>
        <collectionReference>vAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_New_Asset_RecordId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Asset</name>
        <label>Create New Asset</label>
        <locationX>937</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Find_New_Asset_RecordId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eNewAssetScreen</targetReference>
        </faultConnector>
        <inputReference>vAssets</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Customer_Owned_Record_Type</name>
        <label>Get Customer Owned Record Type</label>
        <locationX>410</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cCustomerOwnedRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>eNewAssetScreen</name>
        <label>Create New Asset</label>
        <locationX>932</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Asset_Collection_PostScreen</targetReference>
        </connector>
        <fields>
            <name>eDisplayFaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eNewAsset</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGenericHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cScreenName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vAssets</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Get_Customer_Owned_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vAssetRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vFlowMessageError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
