force-app/main/default/flows/SVMXA360__WORD_Manage_Work_Order_Debrief_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>711</locationX>
        <locationY>246</locationY>
        <actionName>SVMXA360__CalculatePriceApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_WOLIs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__lstProductConsumedRecords</typeName>
            <typeValue>ProductConsumed</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__lstWOLIRecords</typeName>
            <typeValue>WorkOrderLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__lstExpenseRecords</typeName>
            <typeValue>Expense</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__lstWOLIRecords</typeName>
            <typeValue>WorkOrderLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__lstExpenseRecords</typeName>
            <typeValue>Expense</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__lstProductConsumedRecords</typeName>
            <typeValue>ProductConsumed</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Pricing_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstExpenseRecords</name>
            <value>
                <elementReference>eEditDebriefScreen.child3Modified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstProductConsumedRecords</name>
            <value>
                <elementReference>eEditDebriefScreen.child2Modified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstWOLIRecords</name>
            <value>
                <elementReference>eEditDebriefScreen.child1Modified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdateRecords</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__CalculatePriceApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>1096</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>Process_WOLIs.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_WOLI_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WOLI_Col</name>
        <label>Set WOLI Col</label>
        <locationX>880</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>vWOLICol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Process_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_WOLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Price_Book_Assigned</name>
        <label>Price Book Assigned</label>
        <locationX>705</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>Price_Book_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Assigned</defaultConnectorLabel>
        <rules>
            <name>ePriceBookAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Debrief_Screen</targetReference>
            </connector>
            <label>Price Book Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Dates_Assigned</name>
        <label>Start Dates Assigned</label>
        <locationX>964</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>View_Debrief_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Start Dates</defaultConnectorLabel>
        <rules>
            <name>eStartDatesAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_WOLIs</targetReference>
            </connector>
            <label>Start Dates Assigned</label>
        </rules>
    </decisions>
    <formulas>
        <name>fEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Process_WOLIs.StartDate} + {!Process_WOLIs.Quantity}/24</expression>
    </formulas>
    <interviewLabel>A360 - Manage Work Order Debrief Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Order Debrief Transaction</label>
    <loops>
        <name>Process_WOLIs</name>
        <label>Process WOLIs</label>
        <locationX>880</locationX>
        <locationY>442</locationY>
        <collectionReference>Get_WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WOLI_End_Dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_WOLIs</name>
        <label>Get WOLIs</label>
        <locationX>834</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Dates_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>506</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Book_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOLI_End_Dates</name>
        <label>Update WOLI End Dates</label>
        <locationX>1092</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>View_Debrief_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Pricing_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vWOLICol</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_Debrief_Screen</name>
        <label>Edit Debrief Screen</label>
        <locationX>500</locationX>
        <locationY>239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Price</targetReference>
        </connector>
        <fields>
            <name>eEditDebriefScreen</name>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Expense</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Expense</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>WORD_Manage_Debrief_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Price_Book_Error_Screen</name>
        <label>Price Book Error Screen</label>
        <locationX>925</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ePriceBookErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderPricebookRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pricing_Error_Screen</name>
        <label>Pricing Error Screen</label>
        <locationX>711</locationX>
        <locationY>427</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ePricingErrorScreen</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>View_Debrief_Screen</name>
        <label>View Debrief Screen</label>
        <locationX>1084</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eViewDebriefScreen</name>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>WORD_View_Debrief_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>84</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWOLICol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
