force-app/main/default/flows/SVMXA360__PRRQ_Create_Supplier_Product_Request_from_Depot_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PRRQ_PRLI_Mapping</name>
        <label>PRRQ to PRLI</label>
        <locationX>986</locationX>
        <locationY>283</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_PRLI</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>ProductRequest</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>ProductRequestLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>ProductRequestLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <stringValue>PRRQ_PRLI_Mapping</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>vPRRQ_TransactionOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>vPRLI_TransactionOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asset_Collection</name>
        <label>Asset Collection</label>
        <locationX>869</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>vAssetCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Asset_Location_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_PRRQ</name>
        <label>Assign Single PRRQ</label>
        <locationX>652</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>vPRRQ_SingleObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PRRQ_Output</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PRRQ_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Location</name>
        <label>Set Asset Location</label>
        <locationX>1012</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>vAsset.SVMXA360__LocationNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Asset_Location_Update.DestinationLocation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAsset.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Asset_Location_Update.SVMXA360__AssetId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PRRQ_Id</name>
        <label>Set PRRQ Id</label>
        <locationX>850</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>vPRRQId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPRRQ_SingleObject.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PRRQ_PRLI_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Redirect</name>
        <label>Set Redirect</label>
        <locationX>416</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PRRQ</targetReference>
        </connector>
    </assignments>
    <interviewLabel>A360 - Create Supplier Product Request from Depot Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Supplier Product Request from Depot Work Order</label>
    <loops>
        <name>Loop_PRRQ_Output</name>
        <label>Loop PRRQ Output</label>
        <locationX>652</locationX>
        <locationY>285</locationY>
        <collectionReference>vPRRQ_TransactionOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_PRRQ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_PRRQ_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Asset_Location_Update</name>
        <label>Process Asset Location Update</label>
        <locationX>1006</locationX>
        <locationY>455</locationY>
        <collectionReference>vPRLI_TransactionOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Asset_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>829</locationX>
        <locationY>455</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vAssetCol</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PRLI</name>
        <label>Update PRLI</label>
        <locationX>1164</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Create_RORD</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vPRLI_TransactionOutput</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_PRRQ</name>
        <label>Create PRRQ</label>
        <locationX>534</locationX>
        <locationY>284</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_PRRQ_Output</targetReference>
        </connector>
        <fields>
            <name>eReviewOutboundShipment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!$Label.svmxa360__Title_ReviewOutboundShipment}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_PRRQ_Transaction</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ProductRequest</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>WORD_PRRQ_Create_Supplier_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vPRLI_TransactionOutput</assignToReference>
                <name>child1Modified</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vPRRQ_TransactionOutput</assignToReference>
                <name>headerRecordData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_RORD</name>
        <label>Create RORD</label>
        <locationX>1164</locationX>
        <locationY>454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Process_Asset_Location_Update</targetReference>
        </connector>
        <fields>
            <name>eReviewReturnOrder</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!$Label.svmxa360__Title_ReviewReturnOrder}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_RORD_Transaction</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ReturnOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ReturnOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>PRRQ_RORD_Create_Supplier_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vPRRQId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vRORD_TransactionOutput</assignToReference>
                <name>headerRecordData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>655</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 30, 30);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;span style=&quot;color: rgb(228, 33, 33);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>265</locationY>
        <connector>
            <targetReference>Set_Redirect</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vAssetCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vPRLI_TransactionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vPRRQ_SingleObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vPRRQ_TransactionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vPRRQId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRORD_TransactionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
</Flow>
