force-app/main/default/flows/SVMXA360__RORD_Manage_Return_Order_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Old_Status_Value</name>
        <label>Assign Old Status Value</label>
        <locationX>535</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>vOldReturnOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Return_Order</targetReference>
        </connector>
    </assignments>
    <description>Cancel an existing Return Order</description>
    <formulas>
        <name>fCurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Manage Return Order Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Return Order Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>403</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Old_Status_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Return_Order</name>
        <label>Cancel Return Order</label>
        <locationX>677</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Cancel_Return_Order_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eCancelFailed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__CanceledById__c</field>
            <value>
                <elementReference>fCurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__CanceledOn__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_Return_Order_Line_Items</name>
        <label>Cancel Return Order Line Items</label>
        <locationX>827</locationX>
        <locationY>69</locationY>
        <faultConnector>
            <targetReference>Reset_Return_Order</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Return_Order</name>
        <label>Reset Return Order</label>
        <locationX>826</locationX>
        <locationY>280</locationY>
        <connector>
            <targetReference>eCancelFailed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__CanceledById__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__CanceledOn__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vOldReturnOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>eCancelFailed</name>
        <label>Cancel Failed</label>
        <locationX>677</locationX>
        <locationY>280</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eCancelFailMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!$Label.svmxa360__Error_CancelReturnOrder}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOldReturnOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
