force-app/main/default/flows/SVMXA360__CASE_Create_Case_From_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Map_Asset_to_Case</name>
        <label>Map Asset to Case</label>
        <locationX>328</locationX>
        <locationY>193</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_to_vCases_PreScreen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>Asset</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cMapName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>Get_Asset_Record_Data</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>vCases</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_to_vCases_PostScreen</name>
        <label>Assign to vCases</label>
        <locationX>329</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vCases</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eManageCaseHeader.headerRecordData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_vCases_PreScreen</name>
        <label>Assign to vCases</label>
        <locationX>328</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>vCases</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Asset_to_Case.targetSObjectList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_From_Asset_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_New_Case_RecordId</name>
        <label>Get New Case RecordId</label>
        <locationX>83</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_New_Case_RecordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_New_Case_RecordId</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cCaseScreenName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CASE_Manage_Screen</stringValue>
        </value>
    </constants>
    <constants>
        <description>Developer Name of SPM Map</description>
        <name>cMapName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AST_CASE_Mapping</stringValue>
        </value>
    </constants>
    <description>Create a case from an Asset</description>
    <interviewLabel>Create Case from Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Case From Asset</label>
    <loops>
        <name>Find_New_Case_RecordId</name>
        <label>Find New Case RecordId</label>
        <locationX>228</locationX>
        <locationY>690</locationY>
        <collectionReference>vCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_New_Case_RecordId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>328</locationX>
        <locationY>691</locationY>
        <connector>
            <targetReference>Find_New_Case_RecordId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Case_From_Asset_Screen</targetReference>
        </faultConnector>
        <inputReference>vCases</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Record_Data</name>
        <label>Get Asset Record Data</label>
        <locationX>176</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_Asset_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Case_From_Asset_Screen</name>
        <label>Asset360 Case</label>
        <locationX>328</locationX>
        <locationY>456</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_vCases_PostScreen</targetReference>
        </connector>
        <fields>
            <name>eDisplayFaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eManageCaseHeader</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGenericHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cCaseScreenName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vCases</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Asset_Record_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
