force-app/main/default/flows/SVMXA360__RORD_Manage_Return_Work_Order_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_PRLI_to_Collection</name>
        <label>Add PRLI to Collection</label>
        <locationX>1893</locationX>
        <locationY>1750</locationY>
        <assignmentItems>
            <assignToReference>vPRLIUpdatedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vLoopThroughPRLIsAgain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vLoopThroughPRLIsAgain</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PRLI_To_Collection_0</name>
        <label>Add PRLI To Collection</label>
        <locationX>456</locationX>
        <locationY>1504</locationY>
        <assignmentItems>
            <assignToReference>vProductRequestLineItemsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vNewProductRequestLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Processing_Plan_on_ROLI_to_Restock_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ROLI_to_Update_Collection</name>
        <label>Add ROLI to Update Collection</label>
        <locationX>1287</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>vUpdateROLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ROLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Related_Assets_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Get_Records_Output_to_Work_Order</name>
        <label>Assign Get Records Output to Work Order</label>
        <locationX>583</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_has_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PRLI_To_ROLI_0</name>
        <label>Assign PRLI To ROLI</label>
        <locationX>455</locationX>
        <locationY>1374</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_ROLIs.ProductRequestLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewProductRequestLineItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PRLI_To_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PRLI_Values_0</name>
        <label>Assign PRLI Values</label>
        <locationX>457</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequestHeader.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderHeader.SourceLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderHeader.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrderRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrderRecord.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Related_Assets_0.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.QuantityRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_ROLIs.QuantityReturned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewProductRequestLineItem.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_ROLIs.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PRLI_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Request_Values_0</name>
        <label>Assign Product Request Values</label>
        <locationX>1433</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>vProductRequestHeader.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrderRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductRequestHeader.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrderRecord.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductRequestHeader.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderHeader.SourceLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductRequestHeader.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderHeader.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductRequestHeader.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductRequestHeader.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWorkOrderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductRequestHeader.ShipmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderHeader.ShipmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductRequestHeader.NeedByDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Request_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Return_Order_with_Return_Order_Number</name>
        <label>Get Return Order with Return Order Number</label>
        <locationX>1163</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order_with_RO_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Destination_Location</name>
        <label>Set Destination Location</label>
        <locationX>2084</locationX>
        <locationY>1750</locationY>
        <assignmentItems>
            <assignToReference>vLoopThroughPRLIsAgain.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request_Header.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PRLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PR_Header_Id</name>
        <label>Set PR Header Id</label>
        <locationX>1549</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>vProductRequestHeaderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequestHeader.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eEditProductRequestOutboundScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Processing_Plan</name>
        <label>Set Processing Plan</label>
        <locationX>1127</locationX>
        <locationY>1565</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_ROLIs.ProcessingPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Supplier Warranty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ROLI_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Processing_Plan_on_ROLI_to_Restock_0</name>
        <label>Set Processing Plan on ROLI to Restock</label>
        <locationX>457</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_ROLIs.ProcessingPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restock</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Product_and_Repairable_Info_on_ROLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_and_Repairable_Info_on_ROLI</name>
        <label>Set Product and Repairable Info on ROLI</label>
        <locationX>648</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_ROLIs.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Related_Assets_0.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_ROLIs.SVMXA360__ReturnItemInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vROLIReturnInformationFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_ROLIs.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_Warranty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Return_Order_Header_Id_0</name>
        <label>Set Return Order Header Id</label>
        <locationX>1288</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderHeaderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReturnOrderHeader.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eEditReturnOrderScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>vChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>vChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>cManageProductRequestWithLinesScreen</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PRRQ_Manage_Line_Items_Screen</stringValue>
        </value>
    </constants>
    <constants>
        <name>cManageReturnOrderWithLinesScreen</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RORD_Manage_Line_Items_Screen</stringValue>
        </value>
    </constants>
    <constants>
        <name>cProductRequestToProductRequestLineItemMap</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PRRQ_PRLI_Mapping</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Advanced_Exchange_0</name>
        <label>Is Advanced Exchange?</label>
        <locationX>1280</locationX>
        <locationY>850</locationY>
        <defaultConnector>
            <targetReference>Loop_through_ROLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>eAdvancedExchangeTrue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIsAdvancedExchange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Request_Values_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Advanced_Exchange_0_0</name>
        <label>Is Advanced Exchange?</label>
        <locationX>640</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Set_Product_and_Repairable_Info_on_ROLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>eAdvancedExchangeTrue_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIsAdvancedExchange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PRLI_Values_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Advanced_Exchange_0_0_0</name>
        <label>Is Advanced Exchange?</label>
        <locationX>1542</locationX>
        <locationY>1279</locationY>
        <defaultConnector>
            <targetReference>Update_ROLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>eAdvancedExchangeTrue_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIsAdvancedExchange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PR_Header_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Chosen_Asset_for_Return</name>
        <label>Is Chosen Asset for Return?</label>
        <locationX>895</locationX>
        <locationY>1077</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Related_Assets_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset Does Not Match</defaultConnectorLabel>
        <rules>
            <name>Asset_Matches_Returned_Asset_on_ROLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_All_Related_Assets_0.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_ROLIs.AssetId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Advanced_Exchange_0_0</targetReference>
            </connector>
            <label>Asset Matches Returned Asset on ROLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supplier_Warranty_Exists</name>
        <label>Supplier Warranty Exists?</label>
        <locationX>969</locationX>
        <locationY>1661</locationY>
        <defaultConnector>
            <targetReference>Add_ROLI_to_Update_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Warranty</defaultConnectorLabel>
        <rules>
            <name>eSupplierWarranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Warranty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Processing_Plan</targetReference>
            </connector>
            <label>Supplier Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_has_Asset</name>
        <label>Work Order has Asset?</label>
        <locationX>719</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>eNoAssetScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Asset_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vWorkOrderRecord.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Return_Order_Header</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Return Asset (and related components) from Work Order.  Handles Advanced Exchange.</description>
    <dynamicChoiceSets>
        <name>vAllAssetsInAssetTree</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RootAssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Asset.RootAssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>vChosenAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>AssetLevel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vRecordChoiceAllRelatedAssets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RootAssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Asset.RootAssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vShipmentTypePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShipmentType</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vStatusPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>vROLIReturnInformationFormula</name>
        <dataType>String</dataType>
        <expression>{!Loop_Through_All_Related_Assets_0.Name} &amp; IF({!Loop_Through_All_Related_Assets_0.Product2.SVMXA360__Repairable__c},&quot; (Repairable)&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Manage Work Order Asset Return {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Order Asset Return</label>
    <loops>
        <name>Loop_Through_All_Related_Assets_0</name>
        <label>Loop Through All Related Assets</label>
        <locationX>1087</locationX>
        <locationY>1080</locationY>
        <collectionReference>Get_All_Work_Order_Related_Assets_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Chosen_Asset_for_Return</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_ROLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_ROLIs</name>
        <label>Loop through ROLIs</label>
        <locationX>1287</locationX>
        <locationY>1075</locationY>
        <collectionReference>vReturnOrderLineItemsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_All_Related_Assets_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Advanced_Exchange_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>vLoopThroughPRLIsAgain</name>
        <label>Loop through PRLIs Again</label>
        <locationX>1893</locationX>
        <locationY>1540</locationY>
        <collectionReference>eManageProductRequestTransaction.child1Modified</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Destination_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ROLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PRLI_Record_0</name>
        <label>Create PRLI Record</label>
        <locationX>457</locationX>
        <locationY>1239</locationY>
        <connector>
            <targetReference>Assign_PRLI_To_ROLI_0</targetReference>
        </connector>
        <inputReference>vNewProductRequestLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Request_0</name>
        <label>Create Product Request</label>
        <locationX>1546</locationX>
        <locationY>847</locationY>
        <connector>
            <targetReference>Update_Return_Order_0</targetReference>
        </connector>
        <inputReference>vProductRequestHeader</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Work_Order_Related_Assets_0</name>
        <label>Get All Work Order Related Assets</label>
        <locationX>1288</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Return_Order_Header_Id_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RootAssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Asset.RootAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>AssetLevel</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Warranty</name>
        <label>Get Asset Warranty</label>
        <locationX>818</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Supplier_Warranty_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_ROLIs.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WarrantyType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </filters>
        <filters>
            <field>PartsCoveredEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Request_Header</name>
        <label>Get Product Request Header</label>
        <locationX>1712</locationX>
        <locationY>1540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vLoopThroughPRLIsAgain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductRequestHeaderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_with_RO_Number</name>
        <label>Get Return Order with RO Number</label>
        <locationX>1017</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Return_Order_with_Return_Order_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vReturnOrderHeader.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>446</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Get_Records_Output_to_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Returns assets tied to the Work Order; required to process a return.</description>
        <name>Get_Work_Order_Asset</name>
        <label>Get Work Order Asset</label>
        <locationX>1287</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Work_Order_Related_Assets_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrderRecord.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PRLIs</name>
        <label>Update PRLIs</label>
        <locationX>2180</locationX>
        <locationY>1339</locationY>
        <inputReference>vPRLIUpdatedCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Order_0</name>
        <label>Update Return Order</label>
        <locationX>1546</locationX>
        <locationY>1067</locationY>
        <connector>
            <targetReference>Loop_through_ROLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vReturnOrderHeader.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProductRequestId</field>
            <value>
                <elementReference>vProductRequestHeader.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ROLIs</name>
        <label>Update ROLIs</label>
        <locationX>1893</locationX>
        <locationY>1339</locationY>
        <connector>
            <targetReference>Update_PRLIs</targetReference>
        </connector>
        <inputReference>vUpdateROLICollection</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>eEditProductRequestOutboundScreen</name>
        <label>Edit Product Request (Outbound)</label>
        <locationX>1549</locationX>
        <locationY>1539</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Product_Request_Header</targetReference>
        </connector>
        <fields>
            <name>eProductRequestTitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!$Label.svmxa360__Title_ReviewOutboundShipment}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eManageProductRequestTransaction</name>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ProductRequest</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>PRRQ_Manage_Advanced_Exchange_Product_Request_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vProductRequestHeaderId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eEditReturnOrderScreen</name>
        <label>eEditReturnOrderScreen</label>
        <locationX>1288</locationX>
        <locationY>697</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Advanced_Exchange_0</targetReference>
        </connector>
        <fields>
            <name>eReturnOrderTitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!$Label.svmxa360__Title_ReviewReturnOrder}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eEditReturnOrderTransaction</name>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ReturnOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ReturnOrder</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>RORD_Manage_Return_Order_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vReturnOrderHeaderId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vReturnOrderLineItemsCollection</assignToReference>
                <name>child1Modified</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vReturnOrderHeaderAsCollection</assignToReference>
                <name>headerRecordData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eNoAssetScreen</name>
        <label>No Asset on Work Order</label>
        <locationX>728</locationX>
        <locationY>279</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eMissingAsset</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Error_NoAssetOnWorkOrder}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>29</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Return_Order_Header</name>
        <label>Create Return Order Header</label>
        <locationX>877</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Get_Return_Order_with_RO_Number</targetReference>
        </connector>
        <flowName>SVMXA360__RORD_Create_Return_Order_from_Work_Order</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vReturnOrderHeader</assignToReference>
            <name>vNewReturnOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAdditionalReturns</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vAssetToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vChosenAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vChosenReturnAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vChosenReturnAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCountROLIsUpdated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCurrentLoopPRLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vDeletedPRLICount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vIsAdvancedExchange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vModifiedPRLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vNewProductRequestLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vNewReturnOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vPRLIDeletedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vPRLINewChildCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vPRLIToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vPRLIUpdatedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vPRNewHeaderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vProductRequestHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vProductRequestHeaderAsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vProductRequestHeaderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductRequestLineItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vReturnOrderHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vReturnOrderHeaderAsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vReturnOrderHeaderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vReturnOrderLineItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vReturnOrderLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vUpdateROLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vWorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
