force-app/main/default/flows/SVMXA360__RORD_Manage_Return_Order_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Old_Status_Value</name>
        <label>Assign Old Status Value</label>
        <locationX>556</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>vOldReturnOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Return_Order_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Order_Line_Item_Error_Found</name>
        <label>Return Order Line Item Error Found</label>
        <locationX>1002</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderLineItemError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Return_Order_Line_Item_Ready</name>
        <label>Is Return Order Line Item Ready?</label>
        <locationX>1213</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Return_Order_Line_Item_Error_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Return_Order_Line_Items.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Return_Order_Line_Items.QuantityReturned</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Return_Order_Line_Items</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Return_Order_Ready</name>
        <label>Is Return Order Ready?</label>
        <locationX>688</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Return_Order_Not_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Return_Order_Is_Ready</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order.DestinationLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Return_Order_Line_Items</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_With_Update</name>
        <label>Proceed With Update?</label>
        <locationX>1309</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Return_Order_Line_Items_Not_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Update_Proceed_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vReturnOrderLineItemError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Return_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_Order_Line_Items_Exist</name>
        <label>Return Order Line Items Exist?</label>
        <locationX>966</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>eNoLineItemsFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Return_Order_Line_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Submit Return Order to be processed for approval or receipt</description>
    <interviewLabel>Manage Return Order Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Return Order Submission</label>
    <loops>
        <name>Iterate_Return_Order_Line_Items</name>
        <label>Iterate Return Order Line Items</label>
        <locationX>1113</locationX>
        <locationY>287</locationY>
        <collectionReference>Get_Return_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Return_Order_Line_Item_Ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Proceed_With_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>420</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Old_Status_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_Line_Items</name>
        <label>Get Return Order Line Items</label>
        <locationX>848</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Order_Line_Items_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Return_Order</name>
        <label>Reset Return Order</label>
        <locationX>1626</locationX>
        <locationY>497</locationY>
        <connector>
            <targetReference>eUpdateFailed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vOldReturnOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Order</name>
        <label>Update Return Order</label>
        <locationX>1496</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Update_Return_Order_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eUpdateFailed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Order_Line_Items</name>
        <label>Update Return Order Line Items</label>
        <locationX>1625</locationX>
        <locationY>288</locationY>
        <faultConnector>
            <targetReference>Reset_Return_Order</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrderLineItem</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>eNoLineItemsFound</name>
        <label>No Line Items Found</label>
        <locationX>974</locationX>
        <locationY>508</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eNoLineItemsFoundMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Error_NoReturnOrderLineItems}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eUpdateFailed</name>
        <label>Update Failed</label>
        <locationX>1498</locationX>
        <locationY>497</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eUpdateFailedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Error_SubmitReturnOrder}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(190, 55, 51);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_Order_Line_Items_Not_Ready</name>
        <label>Return Order Line Items Not Ready</label>
        <locationX>1318</locationX>
        <locationY>502</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Return_Order_Line_Items_Not_Ready_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_ReturnOrderSubmissionROLIRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_Order_Not_Ready</name>
        <label>Return Order Not Ready</label>
        <locationX>696</locationX>
        <locationY>502</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Return_Order_Not_Ready_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_ReturnOrderSubmissionDestinationRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOldReturnOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReturnOrderLineItemError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
