force-app/main/default/flows/SVMXA360__WORD_Manage_Work_Order_Estimate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>849</locationX>
        <locationY>312</locationY>
        <actionName>SVMXA360__CalculatePriceApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calculate_Estimate_Totals</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__lstExpenseRecords</typeName>
            <typeValue>Expense</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__lstProductConsumedRecords</typeName>
            <typeValue>ProductConsumed</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__lstWOLIRecords</typeName>
            <typeValue>WorkOrderLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__lstExpenseRecords</typeName>
            <typeValue>Expense</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__lstProductConsumedRecords</typeName>
            <typeValue>ProductConsumed</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__lstWOLIRecords</typeName>
            <typeValue>WorkOrderLineItem</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Pricing_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstExpenseRecords</name>
            <value>
                <elementReference>eEditEstimateScreen.child3Modified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstProductConsumedRecords</name>
            <value>
                <elementReference>eEditEstimateScreen.child2Modified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstWOLIRecords</name>
            <value>
                <elementReference>eEditEstimateScreen.child1Modified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdateRecords</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__CalculatePriceApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Price_Book_Assigned</name>
        <label>Price Book Assigned</label>
        <locationX>622</locationX>
        <locationY>175</locationY>
        <defaultConnector>
            <targetReference>Price_Book_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Price Book</defaultConnectorLabel>
        <rules>
            <name>ePriceBookAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Estimate_Screen</targetReference>
            </connector>
            <label>Price Book Assigned</label>
        </rules>
    </decisions>
    <interviewLabel>A360 - Manage Work Order Estimate {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Order Estimate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>475</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Book_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Edit_Estimate_Screen</name>
        <label>Edit Estimate Screen</label>
        <locationX>849</locationX>
        <locationY>175</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Price</targetReference>
        </connector>
        <fields>
            <name>eEditEstimateScreen</name>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Expense</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Expense</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>WORD_Manage_Estimate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Price_Book_Error_Screen</name>
        <label>Price Book Error Screen</label>
        <locationX>846</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ePriceBookError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderPricebookRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pricing_Error_Screen</name>
        <label>Pricing Error Screen</label>
        <locationX>848</locationX>
        <locationY>505</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ePricingErrorScreen</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>View_Estimate_Screen</name>
        <label>View Estimate Screen</label>
        <locationX>1044</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eViewEstimateScreen</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>WORD_View_Estimate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>86</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Estimate_Totals</name>
        <label>Calculate Estimate Totals</label>
        <locationX>1045</locationX>
        <locationY>312</locationY>
        <connector>
            <targetReference>View_Estimate_Screen</targetReference>
        </connector>
        <flowName>SVMXA360__WORD_Calculate_Estimate_Price_Fields</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
