force-app/main/default/flows/SVMXA360__SCON_Update_Maintenance_Plan_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Status_to_Active</name>
        <label>Assign Status to Active</label>
        <locationX>727</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>varMPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Maintenance_Plan_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_to_Canceled</name>
        <label>Assign Status to Canceled</label>
        <locationX>705</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varMPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Maintenance_Plan_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_to_Completed</name>
        <label>Assign Status to Completed</label>
        <locationX>731</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varMPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Maintenance_Plan_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_to_On_Hold</name>
        <label>Assign Status to On Hold</label>
        <locationX>703</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>varMPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OnHold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Maintenance_Plan_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Status_equals_Authoring_Completed</name>
        <label>Is Status equals Authoring Completed</label>
        <locationX>467</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>Is_Status_equals_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Authoring_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__ContractAuthoringStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AuthoringCompleted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXA360__ContractAuthoringStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InProgress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_to_Active</targetReference>
            </connector>
            <label>Is Authoring Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_equals_Canceled</name>
        <label>Is Status equals Canceled</label>
        <locationX>466</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>Is_Status_equals_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__ContractAuthoringStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_to_Canceled</targetReference>
            </connector>
            <label>Is Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_equals_Complete</name>
        <label>Is Status equals Completed</label>
        <locationX>470</locationX>
        <locationY>790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__ContractAuthoringStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_to_Completed</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_equals_On_Hold</name>
        <label>Is Status equals On Hold</label>
        <locationX>466</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Is_Status_equals_Canceled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__ContractAuthoringStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OnHold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_to_On_Hold</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
    </decisions>
    <description>This record triggered flow updates the status of Maintenance plan based on the status of Service Contract, when changed.</description>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Update Maintenance Plan Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Maintenance_Plan_Status</name>
        <label>Update Maintenance Plan Status</label>
        <locationX>1140</locationX>
        <locationY>441</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__SM_Status__c</field>
            <value>
                <elementReference>varMPStatus</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenancePlan</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Status_equals_Authoring_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__ContractAuthoringStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceContract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varMPStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
