force-app/main/default/flows/SVMXA360__OPP_Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Work_Order_To_Opportunity</name>
        <label>Work Order To Opportunity</label>
        <locationX>571</locationX>
        <locationY>59</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Mapping_Output</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cMapName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>Get_Work_Order</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>Work_Order_To_Opportunity.targetSObjectList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Error_Output</name>
        <label>Set Error Output</label>
        <locationX>714</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eRedisplayCreateOpportunity.headerRecordData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mapping_Output</name>
        <label>Set Mapping Output</label>
        <locationX>701</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_To_Opportunity.targetSObjectList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cMapName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_OPP_Mapping</stringValue>
        </value>
    </constants>
    <constants>
        <name>cScreenName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OPP_Create_Screen</stringValue>
        </value>
    </constants>
    <description>Create Opportunity from Work Order</description>
    <interviewLabel>OPP_Create_Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>867</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Opportunity_Created_Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Output</targetReference>
        </faultConnector>
        <inputReference>eRedisplayCreateOpportunity.headerRecordData</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>405</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_To_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Create_Opportunity_Screen</name>
        <label>Create Opportunity Screen</label>
        <locationX>858</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>eErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;﻿{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eRedisplayCreateOpportunity</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGenericHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cScreenName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vOpportunityHeader</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Created_Confirmation_Screen</name>
        <label>Opportunity Created Confirmation Screen</label>
        <locationX>1020</locationX>
        <locationY>251</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eOpportunityCreated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Noto Sans&amp;quot;, Ubuntu, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;{!$Label.svmxa360__Info_OpportunityCreatedFromWorkOrder}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>23</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityHeader</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
