force-app/main/default/flows/SVMXA360__WORD_Manage_Work_Order_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Create_Work_Order_Collection</name>
        <label>Create Work Order Collection</label>
        <locationX>553</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderHeaderInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deleted_Expenses_Count</name>
        <label>Deleted Count</label>
        <locationX>432</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>eWorkOrderReview.child3Deleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Deleted_Expenses_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deleted_Product_Consumed_Count</name>
        <label>Deleted Count</label>
        <locationX>866</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>eWorkOrderReview.child2Deleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Deleted_Product_Consumed_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deleted_Work_Order_Lines_Count</name>
        <label>Deleted Count</label>
        <locationX>1274</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>eWorkOrderReview.child1Deleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Deleted_Work_Order_Lines_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Input_Collections</name>
        <label>Reset Input Collections</label>
        <locationX>1704</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderHeaderInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eWorkOrderReview.headerRecordData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWorkOrderLineItemInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vUpdatedWorkOrderLinesModified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWorkOrderLineItemInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eWorkOrderReview.child1Deleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWorkOrderLineItemInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vUpdatedWorkOrderLinesNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductConsumedInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vUpdatedProductConsumedModified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductConsumedInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eWorkOrderReview.child2Deleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductConsumedInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vUpdatedProductConsumedNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExpensesInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eWorkOrderReview.child3Modified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExpensesInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eWorkOrderReview.child3Deleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExpensesInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eWorkOrderReview.child3New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Work_Order_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_For_Subflow1_Modified</name>
        <label>Set Collection For Subflow1</label>
        <locationX>1420</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>vProductConsumedModifiedNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eWorkOrderReview.child2Modified</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Consumed_Validations_Modified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_For_Subflow1_New</name>
        <label>Set Collection For Subflow1</label>
        <locationX>1707</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>vProductConsumedModifiedNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eWorkOrderReview.child2New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Consumed_Validations_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_For_Subflow_Modified</name>
        <label>Set Collection For Subflow</label>
        <locationX>1154</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderLinesModifiedNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eWorkOrderReview.child1Modified</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Labor_Validations_Modified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_For_Subflow_New</name>
        <label>Set Collection For Subflow</label>
        <locationX>1421</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderLinesModifiedNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eWorkOrderReview.child1New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Labor_Validations_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Input_Collections</name>
        <label>Set Input Collections</label>
        <locationX>965</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderLineItemInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductConsumedInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Consumed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExpensesInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Expenses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vValidLabor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vValidLabor2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vValidProductConsumed1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vValidProductConsumed2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Work_Order_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cScreenName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_Manage_Review_Screen</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSuccessMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All updates have been saved</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Evaluate_Deleted_Expenses_Collection</name>
        <label>Evaluate Deleted Collection</label>
        <locationX>291</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Deleted Records</defaultConnectorLabel>
        <rules>
            <name>eDeletedExpensesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Epenses</targetReference>
            </connector>
            <label>Deleted Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Deleted_Product_Consumed_Collection</name>
        <label>Evaluate Deleted Collection</label>
        <locationX>727</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Update_Expenses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Exist</defaultConnectorLabel>
        <rules>
            <name>eDeletedProductCOnsumedExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Product_Consumed</targetReference>
            </connector>
            <label>Records Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Deleted_Work_Order_Lines_Collection</name>
        <label>Evaluate Deleted Collection</label>
        <locationX>1135</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Consumed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Deleted Records</defaultConnectorLabel>
        <rules>
            <name>eDeletedWorkOrderLines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Work_Order_Lines</targetReference>
            </connector>
            <label>Deleted Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Exists</name>
        <label>Pricebook Exists</label>
        <locationX>422</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>No_Pricebook_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricebook</defaultConnectorLabel>
        <rules>
            <name>ePricebookExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_Collection</targetReference>
            </connector>
            <label>Pricebook Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validatations</name>
        <label>Validatations</label>
        <locationX>2046</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>eInvalidWorkOrderLines</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vValidLabor1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vValidLabor2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vValidProductConsumed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vValidProductConsumed2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Input_Collections</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <description>Review completed work orders for correctness</description>
    <interviewLabel>Manage Work Order Review {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Order Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Expenses</name>
        <label>Create Expenses</label>
        <locationX>432</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>Deleted_Expenses_Count</targetReference>
        </connector>
        <inputReference>eWorkOrderReview.child3New</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Consumed</name>
        <label>Create Product Consumed</label>
        <locationX>866</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Deleted_Product_Consumed_Count</targetReference>
        </connector>
        <inputReference>eWorkOrderReview.child2New</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Lines</name>
        <label>Create Work Order Lines</label>
        <locationX>1274</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Deleted_Work_Order_Lines_Count</targetReference>
        </connector>
        <inputReference>vUpdatedWorkOrderLinesNew</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Epenses</name>
        <label>Delete Epenses</label>
        <locationX>299</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Work_Order_Confirmation_Screen</targetReference>
        </connector>
        <inputReference>eWorkOrderReview.child3Deleted</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Product_Consumed</name>
        <label>Delete Product Consumed</label>
        <locationX>732</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>Update_Expenses</targetReference>
        </connector>
        <inputReference>eWorkOrderReview.child2Deleted</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Work_Order_Lines</name>
        <label>Delete Work Order Lines</label>
        <locationX>1142</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Update_Product_Consumed</targetReference>
        </connector>
        <inputReference>eWorkOrderReview.child1Deleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Expenses</name>
        <label>Get Expenses</label>
        <locationX>959</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Input_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Consumed</name>
        <label>Get Product Consumed</label>
        <locationX>817</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Expenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductConsumed</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>430</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Item</name>
        <label>Get Work Order Line Item</label>
        <locationX>685</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Consumed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expenses</name>
        <label>Update Expenses</label>
        <locationX>571</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>Create_Expenses</targetReference>
        </connector>
        <inputReference>eWorkOrderReview.child3Modified</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Consumed</name>
        <label>Update Product Consumed</label>
        <locationX>998</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Create_Product_Consumed</targetReference>
        </connector>
        <inputReference>eWorkOrderReview.child2Modified</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1530</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Work_Order_Lines</targetReference>
        </connector>
        <inputReference>eWorkOrderReview.headerRecordData</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Lines</name>
        <label>Update Work Order Lines</label>
        <locationX>1396</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Create_Work_Order_Lines</targetReference>
        </connector>
        <inputReference>vUpdatedWorkOrderLinesModified</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>No_Pricebook_Screen</name>
        <label>No Pricebook Screen</label>
        <locationX>666</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eNoPricebook</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderPricebookRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Work_Order_Screen</name>
        <label>Review Work Order Screen</label>
        <locationX>1156</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Collection_For_Subflow_Modified</targetReference>
        </connector>
        <fields>
            <name>eErrorMessageLabor</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderLineItemsDebriefValidation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>vValidLabor1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>vValidLabor2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eErrorMessageProductConsumed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderProductsConsumedQuantityValidation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>vValidProductConsumed1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>vValidProductConsumed2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eWorkOrderReview</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Expense</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Expense</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGeneric</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vWorkOrderHeaderInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>child1Modified</name>
                <value>
                    <elementReference>vWorkOrderLineItemInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>child2Modified</name>
                <value>
                    <elementReference>vProductConsumedInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>child3Modified</name>
                <value>
                    <elementReference>vExpensesInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cScreenName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Confirmation_Screen</name>
        <label>Work Order Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eUpdateConfirmation</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_WorkOrderUpdated}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Labor_Validations_Modified</name>
        <label>Labor Validations: Modified</label>
        <locationX>1277</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Set_Collection_For_Subflow_New</targetReference>
        </connector>
        <flowName>SVMXA360__WORD_Manage_Work_Order_Debrief_Subflow</flowName>
        <inputAssignments>
            <name>vModified</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vWorkOrderLines</name>
            <value>
                <elementReference>vWorkOrderLinesModifiedNew</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUpdatedWorkOrderLinesModified</assignToReference>
            <name>vUpdatedWorkOrderLines</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vValidLabor1</assignToReference>
            <name>vValidDiscount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Labor_Validations_New</name>
        <label>Labor Validations: New</label>
        <locationX>1550</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Set_Collection_For_Subflow1_Modified</targetReference>
        </connector>
        <flowName>SVMXA360__WORD_Manage_Work_Order_Debrief_Subflow</flowName>
        <inputAssignments>
            <name>vModified</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vWorkOrderLines</name>
            <value>
                <elementReference>vWorkOrderLinesModifiedNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vWOStatus</name>
            <value>
                <elementReference>Get_Work_Order.Status</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUpdatedWorkOrderLinesNew</assignToReference>
            <name>vUpdatedWorkOrderLines</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vValidLabor2</assignToReference>
            <name>vValidDiscount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Product_Consumed_Validations_Modified</name>
        <label>Product Consumed Validations: Modified</label>
        <locationX>1556</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>Set_Collection_For_Subflow1_New</targetReference>
        </connector>
        <flowName>SVMXA360__WORD_Validate_Product_Consumed_Subflow</flowName>
        <inputAssignments>
            <name>vModified</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductConsumedLines</name>
            <value>
                <elementReference>vProductConsumedModifiedNew</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUpdatedProductConsumedModified</assignToReference>
            <name>vUpdatedProductConsumedLines</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vValidProductConsumed1</assignToReference>
            <name>vValidFlag</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Product_Consumed_Validations_New</name>
        <label>Product Consumed Validations</label>
        <locationX>1711</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Validatations</targetReference>
        </connector>
        <flowName>SVMXA360__WORD_Validate_Product_Consumed_Subflow</flowName>
        <inputAssignments>
            <name>vModified</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductConsumedLines</name>
            <value>
                <elementReference>vProductConsumedModifiedNew</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUpdatedProductConsumedNew</assignToReference>
            <name>vUpdatedProductConsumedLines</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vValidProductConsumed2</assignToReference>
            <name>vValidFlag</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vExpensesInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>vProductConsumedInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vProductConsumedModifiedNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vUpdatedProductConsumedModified</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vUpdatedProductConsumedNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vUpdatedWorkOrderLinesModified</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vUpdatedWorkOrderLinesNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vValidLabor1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vValidLabor2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vValidProductConsumed1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vValidProductConsumed2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWorkOrderHeaderInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrderLineItemInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vWorkOrderLinesModifiedNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
