force-app/main/default/flows/SVMXA360__RORD_Create_Return_Order_from_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Maps field values from Work Order to Return Order Header</description>
        <name>Map_Work_Order_to_Return_Order_Header</name>
        <label>Map Work Order to Return Order Header</label>
        <locationX>941</locationX>
        <locationY>435</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Work_Order_to_Return_Order_Map_Output_to_Collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>ReturnOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>ReturnOrder</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cMapName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>vWorkOrderSourceRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Current_Loop_Variable_to_Return_Order_Variable</name>
        <label>Assign Current Loop Variable to Return Order Variable</label>
        <locationX>395</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>vLoopReturnOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Single_Return_Order_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_a_Depot_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Depot_Finder_Return_Location_to_Return_Order_Header</name>
        <label>Assign Depot Finder Return Location to Return Order Header</label>
        <locationX>59</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>vLoopReturnOrder.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDepotRepairLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Additional_Return_Order_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Get_Work_Order_Collection_to_Source_Collection</name>
        <label>Assign Get Work Order Collection to Source Collection</label>
        <locationX>516</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderSourceRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Source_Single_Work_Order_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Modified_Return_Order_to_New_Collection</name>
        <label>Assign Modified Return Order to New Collection</label>
        <locationX>386</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderHeaderPostDepotCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vLoopReturnOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Single_Return_Order_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RO_Collection_to_Return_Order_Single</name>
        <label>Assign RO Collection to Return Order Single</label>
        <locationX>1265</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>vNewReturnOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLoopReturnOrder</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_WO_to_SingleSourceWorkOrder</name>
        <label>Assign WO to SingleSourceWorkOrder</label>
        <locationX>939</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>vSingleSourceWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Source_Single_Work_Order_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Source_Single_Work_Order_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_to_Return_Order_Map_Output_to_Collection</name>
        <label>Assign Work Order to Return Order Map Output to Collection</label>
        <locationX>652</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderHeaderPreInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Work_Order_to_Return_Order_Header.targetSObjectList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Single_Return_Order_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Additional_Return_Order_Fields</name>
        <label>Set Additional Return Order Fields</label>
        <locationX>228</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>vLoopReturnOrder.ReturnedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopReturnOrder.ShipmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopReturnOrder.SVMXA360__PackingInstructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Root_Asset_Product.SVMXA360__PackingInstructions__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Modified_Return_Order_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cMapName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_RORD_Mapping</stringValue>
        </value>
    </constants>
    <constants>
        <name>cReturnOrderHeaderScreenName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RORD_Manage_Screen</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Found_a_Depot_Location</name>
        <label>Found a Depot Location?</label>
        <locationX>219</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Set_Additional_Return_Order_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Depot Location Found</defaultConnectorLabel>
        <rules>
            <name>Found_Depot_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDepotRepairLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Depot_Finder_Return_Location_to_Return_Order_Header</targetReference>
            </connector>
            <label>Found Depot Location</label>
        </rules>
    </decisions>
    <description>Creates a Return Order header record from a Work Order.</description>
    <dynamicChoiceSets>
        <name>vShipmentTypePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShipmentType</picklistField>
        <picklistObject>ReturnOrder</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Return Order {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Return Order</label>
    <loops>
        <name>Loop_Source_Single_Work_Order_Collection</name>
        <label>Loop Source Single Work Order Collection</label>
        <locationX>653</locationX>
        <locationY>51</locationY>
        <collectionReference>vWorkOrderSourceRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_WO_to_SingleSourceWorkOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work_Order_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Single_Return_Order_Collection</name>
        <label>Loop through Single Return Order Collection</label>
        <locationX>653</locationX>
        <locationY>598</locationY>
        <collectionReference>vReturnOrderHeaderPreInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Loop_Variable_to_Return_Order_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Return_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Return_Order</name>
        <label>Create Return Order</label>
        <locationX>1073</locationX>
        <locationY>956</locationY>
        <connector>
            <targetReference>Assign_RO_Collection_to_Return_Order_Single</targetReference>
        </connector>
        <inputReference>vLoopReturnOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Root_Asset_Product</name>
        <label>Get Root Asset Product</label>
        <locationX>790</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Depot_from_Depot_Finder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Asset.RootAsset.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>394</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Get_Work_Order_Collection_to_Source_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Asset</name>
        <label>Get Work Order Asset</label>
        <locationX>655</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Root_Asset_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSingleSourceWorkOrder.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>10</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Depot_from_Depot_Finder</name>
        <label>Get Depot from Depot Finder</label>
        <locationX>941</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Map_Work_Order_to_Return_Order_Header</targetReference>
        </connector>
        <flowName>SVMXA360__DPOT_Execute_Depot_Finder</flowName>
        <inputAssignments>
            <name>inputAsset</name>
            <value>
                <elementReference>Get_Work_Order_Asset</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vDepotRepairLocation</assignToReference>
            <name>vDepotFinderOutputLocation</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDepotRepairLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>vLoopReturnOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vNewReturnOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <description>Error Message produced by platform on insert, update or delete of records.</description>
        <name>vRecordDataError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReturnOrderHeader</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vReturnOrderHeaderPostDepotCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vReturnOrderHeaderPreInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vReturnOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vReturnOrderSectionHeaderMessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSingleSourceWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrderSourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
