force-app/main/default/flows/SVMXA360__AST_Create_Child_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Map_Parent_to_Child</name>
        <label>Map Parent to Child</label>
        <locationX>737</locationX>
        <locationY>208</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_to_Child_Asset_Collection_PreScreen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>Asset</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>Asset</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>Asset</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>vParentToChildAssetMapName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>vParentAssets</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>vChildAssets</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Installed_Parent_to_Child_Asset_Map</name>
        <label>Assign Installed Parent to Child Asset Map</label>
        <locationX>588</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>vParentToChildAssetMapName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cInstalledParentToChildMapName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Parent_to_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Child_Asset_Id</name>
        <label>Assign New Child Asset Id</label>
        <locationX>1166</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Child_Asset_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Child_Asset_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Asset_to_Parent_Assets</name>
        <label>Assign Parent Asset to Parent Assets</label>
        <locationX>284</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>vParentAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Asset_Record_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Parent_Asset_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_to_Child_Map</name>
        <label>Assign Parent to Child Map</label>
        <locationX>584</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>vParentToChildAssetMapName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cParentToChildMapName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Parent_to_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Child_Asset_Collection_PostScreen</name>
        <label>Assign to Child Asset Collection</label>
        <locationX>1167</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>vChildAssets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eSPMManageAsset.headerRecordData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Child_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Child_Asset_Collection_PreScreen</name>
        <label>Assign to Child Asset Collection</label>
        <locationX>878</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>vChildAssets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Parent_to_Child.targetSObjectList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eManageAssetScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cAssetManagementScreenName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AST_Create_Child_Screen</stringValue>
        </value>
    </constants>
    <constants>
        <name>cInstalledParentToChildMapName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AST_AST_Installed_Child_Mapping</stringValue>
        </value>
    </constants>
    <constants>
        <name>cParentToChildMapName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AST_AST_Child_Mapping</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSuccessMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Child Asset created</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Parent_Asset_Status</name>
        <label>Check Parent Asset Status</label>
        <locationX>394</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Assign_Parent_to_Child_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Record_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installed_Parent_to_Child_Asset_Map</targetReference>
            </connector>
            <label>Is Installed?</label>
        </rules>
    </decisions>
    <description>Create a child asset for a parent asset</description>
    <interviewLabel>Create Child Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Child Asset</label>
    <loops>
        <name>Get_New_Child_Asset_Id</name>
        <label>Get New Child Asset id</label>
        <locationX>1166</locationX>
        <locationY>484</locationY>
        <collectionReference>vChildAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Child_Asset_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Asset</name>
        <label>Create Child Asset</label>
        <locationX>1167</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Get_New_Child_Asset_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eManageAssetScreen</targetReference>
        </faultConnector>
        <inputReference>vChildAssets</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Record_Data</name>
        <label>Get Asset Record Data</label>
        <locationX>176</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Asset_to_Parent_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>eManageAssetScreen</name>
        <label>Manage Asset Screen</label>
        <locationX>986</locationX>
        <locationY>208</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Child_Asset_Collection_PostScreen</targetReference>
        </connector>
        <fields>
            <name>eDisplayError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eSPMManageAsset</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGenericHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cAssetManagementScreenName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vChildAssets</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Asset_Record_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vChildAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vParentAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>variable as Parent Installed Map is different (sets Installation Date) than Parent non-Installed Map</description>
        <name>vParentToChildAssetMapName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
