force-app/main/default/flows/SVMXA360__PRRQ_Manage_Product_Request_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Asset_To_Collection</name>
        <label>Add Asset To Collection</label>
        <locationX>2502</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>vAssetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAssetRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Asset_Collection_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ROLI_PRLI_Id_To_Collection</name>
        <label>Add ROLI PRLI Id To Collection</label>
        <locationX>2188</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vRepairPRLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_ROLI.ProductRequestLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ROLI_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ROLI_To_Collection</name>
        <label>Add ROLI To Collection</label>
        <locationX>2316</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vReturnOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_ROLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Values</name>
        <label>Assign Asset Values</label>
        <locationX>2627</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>vAssetRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCurrentLoopPRLI.SVMXA360__AssetId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetRecord.SVMXA360__DepotWarehouseLocation__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetRecord.SVMXA360__DepotReceivedDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAssetRecord.SVMXA360__LocationNotes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Loop_Item</name>
        <label>Assign Current Loop Item</label>
        <locationX>2918</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>vCurrentLoopPRLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_PRLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PRLI_Asset_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Status_Value</name>
        <label>Assign Old Status Value</label>
        <locationX>684</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>vOldProductRequestStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Product_Request_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Redirect</name>
        <label>Assign Redirect</label>
        <locationX>414</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ROLI_Count</name>
        <label>Assign ROLI Count</label>
        <locationX>2186</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>vRepairLineItemCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Repair_ROLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Repair_ROLI_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ROLI_Values</name>
        <label>Assign ROLI Values</label>
        <locationX>2316</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vReturnOrderLineItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_ROLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReturnOrderLineItem.SVMXA360__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ROLI_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Asset_Collection_Count</name>
        <label>Increment Asset Collection Count</label>
        <locationX>2502</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>vAssetCollectionSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PRLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Request_Line_Item_Error_Found</name>
        <label>Product Request Line Item Error Found</label>
        <locationX>935</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>vProductRequestLineItemError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Product_Request_Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Collection_Exists</name>
        <label>Asset Collection Exists?</label>
        <locationX>2495</locationX>
        <locationY>364</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AssetCollectionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAssetCollectionSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_Asset_Depot_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Request_Line_Item_Ready</name>
        <label>Is Product Request Line Item Ready?</label>
        <locationX>926</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>Product_Request_Line_Item_Error_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Product_Request_Line_Item_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Product_Request_Line_Items.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Product_Request_Line_Items</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Request_Ready</name>
        <label>Is Product Request Ready?</label>
        <locationX>802</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Product_Request_Not_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Product_Request_Ready</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request.DestinationLocation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Request.NeedByDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Request.ShipToCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Request_Line_Items</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRLI_Asset_Set</name>
        <label>PRLI Asset Set?</label>
        <locationX>2752</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Iterate_PRLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PRLI_Asset_Set_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCurrentLoopPRLI.SVMXA360__AssetId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRLI_Linked_To_ROLI</name>
        <label>PRLI Linked To ROLI?</label>
        <locationX>2750</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>Iterate_PRLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PRLI_Linked_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRepairPRLICollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_PRLI.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Loop_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_With_Update</name>
        <label>Proceed With Update?</label>
        <locationX>1249</locationX>
        <locationY>594</locationY>
        <defaultConnector>
            <targetReference>Product_Request_Line_Items_Not_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>No_Product_Request_Line_Item_Errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductRequestLineItemError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Product_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Request_Line_Items_Exist</name>
        <label>Product Request Line Items Exist?</label>
        <locationX>1117</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>eNoLineItemsFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Request_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Product_Request_Line_Items</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repair_ROLI_Exist</name>
        <label>Repair ROLI Exist?</label>
        <locationX>2091</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RepairRoliExistTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRepairLineItemCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_ROLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_Order_Exists</name>
        <label>Return Order Exists?</label>
        <locationX>1865</locationX>
        <locationY>594</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ReturnOrderExistsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Repair_ROLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Submit Product Request to be processed for shipment (by ERP)</description>
    <interviewLabel>Manage Product Request Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Product Request Submission</label>
    <loops>
        <name>Iterate_PRLI</name>
        <label>Iterate PRLI</label>
        <locationX>2502</locationX>
        <locationY>583</locationY>
        <collectionReference>Get_Product_Request_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PRLI_Linked_To_ROLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asset_Collection_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Product_Request_Line_Items</name>
        <label>Iterate Product Request Line Items</label>
        <locationX>1131</locationX>
        <locationY>365</locationY>
        <collectionReference>Get_Product_Request_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Product_Request_Line_Item_Ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Proceed_With_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_ROLI</name>
        <label>Iterate ROLI</label>
        <locationX>2186</locationX>
        <locationY>264</locationY>
        <collectionReference>Get_Related_Repair_ROLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ROLI_PRLI_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Return_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Product_Request</name>
        <label>Get Product Request</label>
        <locationX>542</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Old_Status_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Request_Line_Items</name>
        <label>Get Product Request Line Items</label>
        <locationX>992</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Request_Line_Items_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Repair_ROLI</name>
        <label>Get Related Repair ROLI</label>
        <locationX>2038</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ROLI_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessingPlan</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </filters>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>1725</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Order_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Blank_Asset_Depot_Fields</name>
        <label>Blank Asset Depot Fields</label>
        <locationX>2502</locationX>
        <locationY>122</locationY>
        <inputReference>vAssetCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Return_Order_Line_Items</name>
        <label>Close Return Order Line Items</label>
        <locationX>2346</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>Iterate_PRLI</targetReference>
        </connector>
        <inputReference>vReturnOrderLineItemCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Product_Request</name>
        <label>Reset Product Request</label>
        <locationX>1572</locationX>
        <locationY>797</locationY>
        <connector>
            <targetReference>eUpdateFailed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vOldProductRequestStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <recordUpdates>
        <name>Submit_Product_Request</name>
        <label>Submit Product Request</label>
        <locationX>1422</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>Submit_Product_Request_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>eUpdateFailed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <recordUpdates>
        <name>Submit_Product_Request_Line_Items</name>
        <label>Submit Product Request Line Items</label>
        <locationX>1569</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Reset_Product_Request</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequestLineItem</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>eNoLineItemsFound</name>
        <label>No Line Items Found</label>
        <locationX>1126</locationX>
        <locationY>810</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eNoLineItemsFoundMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Error_NoProductRequestLineItems}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eUpdateFailed</name>
        <label>Update Failed</label>
        <locationX>1423</locationX>
        <locationY>797</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eUpdateFailedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Error_SubmitProductRequest}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Request_Line_Items_Not_Ready</name>
        <label>Product Request Line Items Not Ready</label>
        <locationX>1258</locationX>
        <locationY>802</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Product_Request_Line_Items_Not_Ready_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_ProductRequestSubmissionPRLIRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Request_Not_Ready</name>
        <label>Product Request Not Ready</label>
        <locationX>810</locationX>
        <locationY>802</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Product_Request_Not_Ready_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_ProductRequestSubmissionRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>Assign_Redirect</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vAssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vAssetCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vCurrentLoopPRLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vOldProductRequestStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductRequestLineItemError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vProductRequestLineItemIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRepairLineItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vRepairPRLICollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReturnOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vReturnOrderLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
</Flow>
