force-app/main/default/flows/SVMXA360__WORD_Calculate_Estimate_Price_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_List_Price</name>
        <label>Assign List Price</label>
        <locationX>899</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>vSumTotalListPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fListPriceOfWorkOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Order_Line_Item_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Price_and_List_Price</name>
        <label>Assign Total Price and List Price</label>
        <locationX>299</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>vTotalPriceOfProductConsumed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Product_Consumed_Records.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSumTotalListPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fListPriceOfProductConsumed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_Consumed_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Price_and_List_Price_to_Variable</name>
        <label>Assign Total Price and List Price to Variable</label>
        <locationX>585</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>vTotalPriceOfExpense</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Expense_Records.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSumTotalListPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fListPriceOfExpense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Expense_Records</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fListPriceOfExpense</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Expense_Records.Amount} * {!Loop_Expense_Records.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fListPriceOfProductConsumed</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Product_Consumed_Records.ListPrice} * {!Loop_Product_Consumed_Records.QuantityConsumed}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fListPriceOfWorkOrderLineItem</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Work_Order_Line_Item_Records.ListPrice} * {!Loop_Work_Order_Line_Item_Records.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>A360 - Calculate Expense Price Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Calculate Estimate Price Fields</label>
    <loops>
        <name>Loop_Expense_Records</name>
        <label>Loop Expense Records</label>
        <locationX>583</locationX>
        <locationY>354</locationY>
        <collectionReference>Get_Expense_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total_Price_and_List_Price_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work_Order_Line_Item_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Product_Consumed_Records</name>
        <label>Loop Product Consumed Records</label>
        <locationX>297</locationX>
        <locationY>351</locationY>
        <collectionReference>Get_Product_Consumed_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total_Price_and_List_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Expense_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Work_Order_Line_Item_Records</name>
        <label>Loop Work Order Line Item Records</label>
        <locationX>898</locationX>
        <locationY>357</locationY>
        <collectionReference>Get_Work_Order_Line_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_List_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Work_Order_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Expense_Records</name>
        <label>Get Expense Records</label>
        <locationX>466</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Expense_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the records of Product Consumed which are related to the Work Order in execution.</description>
        <name>Get_Product_Consumed_Records</name>
        <label>Get Product Consumed Records</label>
        <locationX>176</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Product_Consumed_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductConsumed</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>QuantityConsumed</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Item_Records</name>
        <label>Get Work Order Line Item Records</label>
        <locationX>755</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Work_Order_Line_Item_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order_Record</name>
        <label>Update Work Order Record</label>
        <locationX>1219</locationX>
        <locationY>356</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__TotalExpensePrice__c</field>
            <value>
                <elementReference>vTotalPriceOfExpense</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__TotalListPrice__c</field>
            <value>
                <elementReference>vSumTotalListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__TotalPartsPrice__c</field>
            <value>
                <elementReference>vTotalPriceOfProductConsumed</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product_Consumed_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vListPriceOfEachExpense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vListPriceOfEachProductConsumed</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vListPriceOfEachWorkOrderLineItem</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vQtyOfEachExpense</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vQtyOfEachProductConsumed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vQtyOfEachWorkOrderLineItem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vSumTotalListPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTotalListPriceOfExpense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTotalListPriceOfProductConsumed</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTotalListPriceOfWorkOrderLineItem</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTotalPriceOfExpense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTotalPriceOfProductConsumed</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
