force-app/main/default/flows/SVMXA360__ROLI_Manage_Return_Order_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Non_Canceled_Count</name>
        <label>Assign Non-Canceled Count</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>vNonCanceledCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Any_Non_Canceled_ROLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_any_non_canceled_ROLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Closed_Count</name>
        <label>Assign Non-Closed Count</label>
        <locationX>1238</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>vNonClosedCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_any_Non_Closed_or_Canceled_ROLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_any_Non_Closed_or_Canceled_ROLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Completed_Count</name>
        <label>Assign Non-Completed Count</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>vNonCompletedCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_any_Non_Completed_or_Canceled_ROLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_any_Non_Completed_or_Canceled_ROLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_any_non_canceled_ROLIs</name>
        <label>Check if any non-canceled ROLIs?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNonCanceledCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Return_Order_Status_Canceled</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_any_Non_Closed_or_Canceled_ROLIs</name>
        <label>Check if any Non Closed or Canceled  ROLIs?</label>
        <locationX>1238</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Closed_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNonClosedCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Return_Order_Status_Closed</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_any_Non_Completed_or_Canceled_ROLIs</name>
        <label>Check if any Non Completed or Canceled ROLIs?</label>
        <locationX>710</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Completed_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNonCompletedCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Return_Order_Status_Completed</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Return_Order_Line_Item_Status</name>
        <label>Check Return Order Line Item Status</label>
        <locationX>908</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Any_Non_Canceled_ROLIs</targetReference>
            </connector>
            <label>Is Canceled</label>
        </rules>
        <rules>
            <name>Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_any_Non_Completed_or_Canceled_ROLIs</targetReference>
            </connector>
            <label>Is Completed</label>
        </rules>
        <rules>
            <name>Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_any_Non_Closed_or_Canceled_ROLIs</targetReference>
            </connector>
            <label>Is Closed</label>
        </rules>
    </decisions>
    <description>When a ROLI is Canceled, Completed or Closed update the RO status</description>
    <interviewLabel>Manage Return Order Status {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Return Order Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Any_Non_Canceled_ROLIs</name>
        <label>Get Any Non-Canceled ROLIs</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Non_Canceled_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXA360__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReturnOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_any_Non_Closed_or_Canceled_ROLIs</name>
        <label>Get any Non Closed or Canceled ROLIs</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Non_Closed_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReturnOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SVMXA360__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SVMXA360__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Ignore canceled ROLIs</description>
        <name>Get_any_Non_Completed_or_Canceled_ROLIs</name>
        <label>Get any Non Completed or Canceled ROLIs</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Non_Completed_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReturnOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SVMXA360__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SVMXA360__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Return_Order_Status_Canceled</name>
        <label>Update Return Order Status - Canceled</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReturnOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.SVMXA360__Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Order_Status_Closed</name>
        <label>Update Return Order Status - Closed</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReturnOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__ClosedById__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__ClosedOn__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.SVMXA360__Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Order_Status_Completed</name>
        <label>Update Return Order Status - Completed</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReturnOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.SVMXA360__Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Return_Order_Line_Item_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SVMXA360__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>SVMXA360__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SVMXA360__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>ReturnOrderLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vNonCanceledCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vNonClosedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vNonCompletedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
