force-app/main/default/flows/SVMXA360__PRRQ_Create_Loaner_Product_Request_from_Remote_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PRLI_ROLI_Mapping</name>
        <label>PRLI to ROLI</label>
        <locationX>1630</locationX>
        <locationY>266</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_ROLI_Output</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>ProductRequestLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>ReturnOrderLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>ReturnOrderLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <stringValue>PRLI_ROLI_Loaner_Mapping</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>vPRLI_TransactionOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>vROLI_Collection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <outputParameters>
            <assignToReference>vROLI_MappingOutput</assignToReference>
            <name>targetSObjectList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PRRQ_PRLI_Mapping</name>
        <label>PRRQ to PRLI</label>
        <locationX>1147</locationX>
        <locationY>266</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_PRLI</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>ProductRequest</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>ProductRequestLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>ProductRequestLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <stringValue>PRRQ_PRLI_Mapping</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>vPRRQ_TransactionOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>vPRLI_TransactionOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PRRQ_RORD_Mapping</name>
        <label>PRRQ to RORD</label>
        <locationX>1391</locationX>
        <locationY>266</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_RORD</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>ProductRequest</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>ReturnOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>ReturnOrder</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <stringValue>PRRQ_RORD_Mapping</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>vPRRQ_TransactionOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>vRORD_TransactionOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>1625</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>vROLI_CreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vROLI_SingleObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ROLI_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ROLI_Object</name>
        <label>Assign ROLI Object</label>
        <locationX>1908</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>vROLI_SingleObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ROLI_Output</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RORD_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RORD_Parent</name>
        <label>Assign RORD Parent</label>
        <locationX>1765</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>vROLI_SingleObject.ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRORD_SingleObject.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_PRRQ</name>
        <label>Assign Single PRRQ</label>
        <locationX>634</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>vPRRQ_SingleObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PRRQ_Output</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PRRQ_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_RORD</name>
        <label>Assign Single RORD</label>
        <locationX>958</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>vRORD_SingleObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RORD_Output</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RORD_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PRRQ_Redirect</name>
        <label>Set PRRQ Redirect</label>
        <locationX>821</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPRRQ_SingleObject.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RORD_Output</targetReference>
        </connector>
    </assignments>
    <description>Create Product Request for loaner shipment to customer</description>
    <interviewLabel>Create Loaner Product Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Loaner Product Request from Work Order</label>
    <loops>
        <name>Loop_PRRQ_Output</name>
        <label>Loop PRRQ Output</label>
        <locationX>634</locationX>
        <locationY>267</locationY>
        <collectionReference>vPRRQ_TransactionOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_PRRQ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_PRRQ_Redirect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ROLI_Output</name>
        <label>Loop ROLI Output</label>
        <locationX>1763</locationX>
        <locationY>266</locationY>
        <collectionReference>vROLI_MappingOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ROLI_Object</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ROLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_RORD_Output</name>
        <label>Loop RORD Output</label>
        <locationX>958</locationX>
        <locationY>267</locationY>
        <collectionReference>vRORD_TransactionOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_RORD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PRRQ_PRLI_Mapping</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ROLI</name>
        <label>Create ROLI</label>
        <locationX>1962</locationX>
        <locationY>265</locationY>
        <inputReference>vROLI_CreateCollection</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_PRLI</name>
        <label>Update PRLI</label>
        <locationX>1269</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>PRRQ_RORD_Mapping</targetReference>
        </connector>
        <inputReference>vPRLI_TransactionOutput</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RORD</name>
        <label>Update RORD</label>
        <locationX>1512</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>PRLI_ROLI_Mapping</targetReference>
        </connector>
        <inputReference>vRORD_TransactionOutput</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_PRRQ</name>
        <label>Create PRRQ</label>
        <locationX>408</locationX>
        <locationY>267</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_RORD</targetReference>
        </connector>
        <fields>
            <name>Create_PRRQ_Transaction</name>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ProductRequest</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>WORD_PRRQ_Create_Loaner_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vPRLI_TransactionOutput</assignToReference>
                <name>child1Modified</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vPRRQ_TransactionOutput</assignToReference>
                <name>headerRecordData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_RORD</name>
        <label>Create RORD</label>
        <locationX>515</locationX>
        <locationY>267</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_PRRQ_Output</targetReference>
        </connector>
        <fields>
            <name>Create_RORD_Transaction</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ReturnOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ReturnOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>ReturnOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>ReturnOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ReturnOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>WORD_RORD_Create_Loaner_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vRORD_TransactionOutput</assignToReference>
                <name>headerRecordData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>Create_PRRQ</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vPRLI_TransactionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vPRRQ_SingleObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vPRRQ_TransactionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vROLI_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vROLI_CreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vROLI_MappingOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vROLI_SingleObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vRORD_SingleObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>vRORD_TransactionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
</Flow>
