force-app/main/default/flows/SVMXA360__MOB_OPP_Manage_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Opportunity_Products_To_Collection</name>
        <label>Add Opportunity Products To Collection</label>
        <locationX>2671</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>vOppProdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eAddAssetChoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opportunity_Products_To_Collection2</name>
        <label>Add Opportunity Products To Collection</label>
        <locationX>2199</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>vOppProdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eAddAssetChoice2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Id</name>
        <label>Assign Opportunity Id</label>
        <locationX>922</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>vOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eChooseOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Opportunity_Id_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Product</name>
        <label>Assign Opportunity Product</label>
        <locationX>2820</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.SVMXA360__AssetId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Products_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Product2</name>
        <label>Assign Opportunity Product</label>
        <locationX>1958</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.SVMXA360__AssetId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Products_To_Collection2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>vAddAssetsChoice</name>
        <choiceText>Add Assets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AddAssets</stringValue>
        </value>
    </choices>
    <choices>
        <name>vCompetitorAssetChoice</name>
        <choiceText>Competitor Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>vCreateNewOppChoice</name>
        <choiceText>--Create New--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>vNoChoice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>vUploadImageChoice</name>
        <choiceText>Upload Images</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UploadImages</stringValue>
        </value>
    </choices>
    <choices>
        <name>vUpsellChoice</name>
        <choiceText>Upsell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>vYesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>cCustomerOwnedRecType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CustomerOwned</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Another_Asset</name>
        <label>Add Another Asset?</label>
        <locationX>2337</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_Products_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AddAnotherCompetitorAssetTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eAddAnotherCompetitorAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eCompetitorAssetInformation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_another_Asset2</name>
        <label>Add another Asset?</label>
        <locationX>2243</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_Products_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AddAnotherAssetTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eAddAnotherAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vYesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Id_Blank</name>
        <label>Is Opportunity Id Blank?</label>
        <locationX>1069</locationX>
        <locationY>749</locationY>
        <defaultConnector>
            <targetReference>eActionChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OpportunityIdBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eOpportunityTypeChoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Products_Empty</name>
        <label>Is Opportunity Products Empty?</label>
        <locationX>2421</locationX>
        <locationY>670</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OpportunityProductsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppProdList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eNextSteps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricebook_Entry_Null</name>
        <label>Is Pricebook Entry Null?</label>
        <locationX>2667</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>eNoPricebookEntryFoundProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>PricebookEntryNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPricebookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Product</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricebook_Entry_Null2</name>
        <label>Is Pricebook Entry Null?</label>
        <locationX>1861</locationX>
        <locationY>837</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Product2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PricebookEntryNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPricebookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eNoPricebookEntryFoundAsset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upload_More_Images</name>
        <label>Upload More Images?</label>
        <locationX>1790</locationX>
        <locationY>1135</locationY>
        <defaultConnector>
            <targetReference>eNextSteps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>UploadMoreImagesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eUploadMoreImages</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eFileUpload</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Action</name>
        <label>Which Action?</label>
        <locationX>1541</locationX>
        <locationY>867</locationY>
        <defaultConnector>
            <targetReference>eFileUpload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Images</defaultConnectorLabel>
        <rules>
            <name>AddAssetsChoiceSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>aActionSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vAddAssetsChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Add Assets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Type</name>
        <label>Which Type?</label>
        <locationX>1374</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Create_Competitor_Asset_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Competitor Asset</defaultConnectorLabel>
        <rules>
            <name>UpsellTypeSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ePickOpportunityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vUpsellChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Upsell_Opportunity</targetReference>
            </connector>
            <label>Upsell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Type2</name>
        <label>Which Type?</label>
        <locationX>1713</locationX>
        <locationY>428</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpsellTypeFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExistingOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vUpsellChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eAssetSearch</targetReference>
            </connector>
            <label>Upsell</label>
        </rules>
        <rules>
            <name>CompetitorAssetFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExistingOpportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vCompetitorAssetChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eCompetitorAssetInformation</targetReference>
            </connector>
            <label>Competitor Asset</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vAssetRecChoiceSet</name>
        <dataType>String</dataType>
        <displayField>SerialNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eSerialNumberSearchText</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompetitorProduct</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <limit>20</limit>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>vAssetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vProdId</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vOppProdRecChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>OpportunityLineItem</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vOppRecChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastStageChangeDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vOppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vProdRecChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>eProdSearchText</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>vOppNameCompetitorAsset</name>
        <dataType>String</dataType>
        <expression>{!eOpportunityName} + &quot; - Competitor Asset&quot;</expression>
    </formulas>
    <formulas>
        <name>vOppNameUpsell</name>
        <dataType>String</dataType>
        <expression>{!eOpportunityName} + &quot; - Upsell&quot;</expression>
    </formulas>
    <interviewLabel>A360 - Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Mobile - Manage Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Chatter_Post_Competitor_Asset</name>
        <label>Create Chatter Post Competitor Asset</label>
        <locationX>1842</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>eCompetitorAssetInformation</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>vCompetitorAssetChatterTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Chatter_Post_Upsell</name>
        <label>Create Chatter Post Upsell</label>
        <locationX>1841</locationX>
        <locationY>519</locationY>
        <connector>
            <targetReference>eAssetSearch</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>vUpsellChatterTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Competitor_Asset</name>
        <label>Create Competitor Asset</label>
        <locationX>2120</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>vAssetId</assignRecordIdToReference>
        <connector>
            <targetReference>eProductSearch</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vWorkOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vWorkOrder.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>eAssetDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCompetitorProduct</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>vWorkOrder.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>eAssetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__NotFound</field>
            <value>
                <elementReference>vCustomerOwnedRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>eSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Competitor_Asset_Opportunity</name>
        <label>Create Competitor Asset Opportunity</label>
        <locationX>1668</locationX>
        <locationY>231</locationY>
        <assignRecordIdToReference>vOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Chatter_Post_Competitor_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vWorkOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>eOpportunityAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>eOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vWorkOrder.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>eOpportunityDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vOppNameCompetitorAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>vStandardPricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>ePickOpportunityType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Products</name>
        <label>Create Opportunity Products</label>
        <locationX>2529</locationX>
        <locationY>1133</locationY>
        <connector>
            <targetReference>eNextSteps</targetReference>
        </connector>
        <inputReference>vOppProdList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Upsell_Opportunity</name>
        <label>Create Upsell Opportunity</label>
        <locationX>1610</locationX>
        <locationY>519</locationY>
        <assignRecordIdToReference>vOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Chatter_Post_Upsell</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vWorkOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>eOpportunityAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>eOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vWorkOrder.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>eOpportunityDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vOppNameUpsell</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>vStandardPricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>ePickOpportunityType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>535</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWorkOrder.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>657</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eChooseOpportunityScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vUserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Owned_Record_Type</name>
        <label>Get Customer Owned Record Type</label>
        <locationX>298</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cCustomerOwnedRecType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vCustomerOwnedRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1721</locationX>
        <locationY>865</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Type2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>vExistingOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>2675</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pricebook_Entry_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eSelectReplacementProduct</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStandardPricebook.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>vPricebookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry2</name>
        <label>Get Pricebook Entry</label>
        <locationX>1833</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pricebook_Entry_Null2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vStandardPricebook.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>vPricebookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>426</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>vStandardPricebook</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>176</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Owned_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>vWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Latitude</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>ParentWorkOrderId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>ServiceContractId</queriedFields>
        <queriedFields>AssetWarrantyId</queriedFields>
        <queriedFields>RootWorkOrderId</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>SVMXA360__BillingType__c</queriedFields>
        <queriedFields>SVMXA360__ContactEmail__c</queriedFields>
        <queriedFields>SVMXA360__ContactPhone__c</queriedFields>
        <queriedFields>SVMXA360__EntitledServiceId__c</queriedFields>
        <queriedFields>SVMXA360__OpportunityIdentified__c</queriedFields>
        <queriedFields>SVMXA360__OpportunityNotes__c</queriedFields>
        <queriedFields>SVMXA360__ProductId__c</queriedFields>
        <queriedFields>SVMXA360__PurposeOfVisit__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>eActionChoice</name>
        <label>Action Choice</label>
        <locationX>1277</locationX>
        <locationY>865</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Action</targetReference>
        </connector>
        <fields>
            <name>eOppDisplayName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!vOppName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>aActionSelect</name>
            <choiceReferences>vAddAssetsChoice</choiceReferences>
            <choiceReferences>vUploadImageChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action for this Opportunity</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAddAssetChoice</name>
        <label>Add Asset Choice</label>
        <locationX>2519</locationX>
        <locationY>351</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Another_Asset</targetReference>
        </connector>
        <fields>
            <name>eAddAnotherCompetitorAsset</name>
            <choiceReferences>vYesChoice</choiceReferences>
            <choiceReferences>vNoChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to add another competitor Asset?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAddAssetChoice2</name>
        <label>Add Asset Choice</label>
        <locationX>2199</locationX>
        <locationY>793</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_another_Asset2</targetReference>
        </connector>
        <fields>
            <name>eAddAnotherAsset</name>
            <choiceReferences>vYesChoice</choiceReferences>
            <choiceReferences>vNoChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to add another Asset?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAssetSearch</name>
        <label>Asset Search</label>
        <locationX>2114</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAssetSearchResults</targetReference>
        </connector>
        <fields>
            <name>eSerialNumberSearchText</name>
            <dataType>String</dataType>
            <fieldText>Enter search text for Asset serial number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eAssetSearchResults</name>
        <label>Asset Search Results</label>
        <locationX>1992</locationX>
        <locationY>654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Pricebook_Entry2</targetReference>
        </connector>
        <fields>
            <name>eSelectAssetSerialNumber</name>
            <choiceReferences>vAssetRecChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset serial number</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eChooseOpportunityScreen</name>
        <label>Choose Opportunity</label>
        <locationX>785</locationX>
        <locationY>747</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_Id</targetReference>
        </connector>
        <fields>
            <name>eChooseOpportunity</name>
            <choiceReferences>vCreateNewOppChoice</choiceReferences>
            <choiceReferences>vOppRecChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a recent Opportunity or create new</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eCompetitorAssetInformation</name>
        <label>Competitor Asset Information</label>
        <locationX>2120</locationX>
        <locationY>351</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Competitor_Asset</targetReference>
        </connector>
        <fields>
            <name>eAssetName</name>
            <dataType>String</dataType>
            <fieldText>Asset Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eSerialNumber</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>eAssetDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eFileUpload</name>
        <label>File Upload</label>
        <locationX>1549</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eUploadImageChoice</targetReference>
        </connector>
        <fields>
            <name>eAssetImageFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Asset Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.jpeg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vOppId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eNextSteps</name>
        <label>Next Steps</label>
        <locationX>2336</locationX>
        <locationY>1133</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eNextStepsInfo</name>
            <fieldText>&lt;p&gt;Use this action again to do the following:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Upload images of the Assets&lt;/li&gt;&lt;li&gt;Add more Assets to the Opportunity&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eNoPricebookEntryFoundAsset</name>
        <label>No Pricebook Entry Found</label>
        <locationX>2053</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAddAssetChoice2</targetReference>
        </connector>
        <fields>
            <name>eNoPricebookEntryFoundAssetMsg</name>
            <fieldText>&lt;p&gt;Unable to add Opportunity Product:&lt;/p&gt;&lt;p&gt;No standard Pricebook Entry found for Product of selected Asset.&lt;/p&gt;&lt;p&gt;Use the &quot;Back&quot; button to search for a different Asset.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eNoPricebookEntryFoundProduct</name>
        <label>No Pricebook Entry Found</label>
        <locationX>2519</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eAddAssetChoice</targetReference>
        </connector>
        <fields>
            <name>eNoPricebookEntryFoundProductMsg</name>
            <fieldText>&lt;p&gt;Unable to add Opportunity Product:&lt;/p&gt;&lt;p&gt;No standard Pricebook Entry found for selected replacement Product.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Use the &quot;Back&quot; button to&lt;/span&gt; search for a different Product.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eOpportunityInformation</name>
        <label>Opportunity Information</label>
        <locationX>1459</locationX>
        <locationY>634</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Type</targetReference>
        </connector>
        <fields>
            <name>eOpportunityName</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eOpportunityCloseDate</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>eOpportunityAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>eOpportunityDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eOpportunityTypeChoice</name>
        <label>Opportunity Type Choice</label>
        <locationX>1281</locationX>
        <locationY>634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eOpportunityInformation</targetReference>
        </connector>
        <fields>
            <name>ePickOpportunityType</name>
            <choiceReferences>vUpsellChoice</choiceReferences>
            <choiceReferences>vCompetitorAssetChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick an Opportunity type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eProductSearch</name>
        <label>Product Search</label>
        <locationX>2286</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>eProductSearchResults</targetReference>
        </connector>
        <fields>
            <name>eProdSearchText</name>
            <dataType>String</dataType>
            <fieldText>Enter search text for replacement Product</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eProductSearchResults</name>
        <label>Product Search Results</label>
        <locationX>2488</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
        <fields>
            <name>eSelectReplacementProduct</name>
            <choiceReferences>vProdRecChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a replacement Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eUploadImageChoice</name>
        <label>Upload Image Choice</label>
        <locationX>1549</locationX>
        <locationY>1215</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_More_Images</targetReference>
        </connector>
        <fields>
            <name>eUploadMoreImages</name>
            <choiceReferences>vYesChoice</choiceReferences>
            <choiceReferences>vNoChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to upload more images?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vCompetitorAssetChatterTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!vUserName} created an Opportunity

Opportunity Name: {!vOppNameCompetitorAsset}
Account Name: {!vAccName}
Close Date: {!eOpportunityCloseDate}
Amount: {!eOpportunityAmount}
Opportunity Owner: {!vUserName}</text>
    </textTemplates>
    <textTemplates>
        <name>vUpsellChatterTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!vUserName} created an Opportunity

Opportunity Name: {!vOppNameUpsell}
Account Name: {!vAccName}
Close Date: {!eOpportunityCloseDate}
Amount: {!eOpportunityAmount}
Opportunity Owner: {!vUserName}</text>
    </textTemplates>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCustomerOwnedRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExistingOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vNewCompetitorAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vNewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>vOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vOppProdList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>vProdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStandardPricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>vUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
