force-app/main/default/flows/SVMXA360__WORD_Manage_Work_Order_Debrief_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Default_Status</name>
        <label>Set Default Status</label>
        <locationX>701</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>Evaluate_Work_Order_Lines.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vWOStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Modified_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>917</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>Evaluate_Work_Order_Lines.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Valid_Flag_False</name>
        <label>Set Valid Flag False</label>
        <locationX>699</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>vValidDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Valid_Flag_True</name>
        <label>Set Valid Flag True</label>
        <locationX>466</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>vValidDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Work_Order_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Modified_Collection</name>
        <label>Updated Modified Collection</label>
        <locationX>699</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>vUpdatedWorkOrderLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Evaluate_Work_Order_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Work_Order_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Discount_Changed</name>
        <label>Discount Changed</label>
        <locationX>463</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Validate_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Discount Has Value</defaultConnectorLabel>
        <rules>
            <name>eDiscountNotChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Work_Order_Lines.Discount</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quantity_Less_Than_Equal_Zero</targetReference>
            </connector>
            <label>Discount NotChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_Less_Than_Equal_Zero</name>
        <label>Quantity  &lt;= Zero</label>
        <locationX>693</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Set_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quantity Not Zero</defaultConnectorLabel>
        <rules>
            <name>eQuantityLessThanEqualZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Work_Order_Lines.Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_Flag_False</targetReference>
            </connector>
            <label>Quantity &lt;= Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Existing_Line_Item</name>
        <label>Update Existing Line Item</label>
        <locationX>909</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>eUpdateExistingRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vModified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Modified_Collection</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Discount</name>
        <label>Validate Discount</label>
        <locationX>464</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>Set_Valid_Flag_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Discount</defaultConnectorLabel>
        <rules>
            <name>eValidDiscount</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Work_Order_Lines.Discount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Evaluate_Work_Order_Lines.Discount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Evaluate_Work_Order_Lines.Discount</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Quantity_Less_Than_Equal_Zero</targetReference>
            </connector>
            <label>Valid Discount</label>
        </rules>
    </decisions>
    <description>Labor validations and compute End Date field from Start Date and Quantity fields</description>
    <formulas>
        <name>vEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Evaluate_Work_Order_Lines.StartDate}  + ({!Evaluate_Work_Order_Lines.Quantity}/24)</expression>
    </formulas>
    <interviewLabel>Manage Work Order Debrief - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Order Debrief - Subflow</label>
    <loops>
        <name>Evaluate_Work_Order_Lines</name>
        <label>Evaluate Work Order Lines</label>
        <locationX>466</locationX>
        <locationY>206</locationY>
        <collectionReference>vWorkOrderLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Changed</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>42</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Set_Valid_Flag_True</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Modified=true, New =false</description>
        <name>vModified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUpdatedWorkOrderLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vValidDiscount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vWorkOrderLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vWOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
