force-app/main/default/flows/SVMXA360__PRIT_Manage_Last_Consumed_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignProductItemValues</name>
        <label>Assign Product Item Values</label>
        <locationX>633</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>vProductItemRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductItemRecord.SVMXA360__LastConsumedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SVMXA360__ConsumedDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProductItemRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AreFieldsPopulated</name>
        <label>Are Fields Populated?</label>
        <locationX>168</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FieldsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXA360__ConsumedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductItem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsConsumedDateGreaterThanLastConsumedDate</name>
        <label>Is Consumed Date Greater Than Last Consumed Date?</label>
        <locationX>455</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsGreater</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetProductItem.SVMXA360__LastConsumedDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fDateValueConsumedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProductItem.SVMXA360__LastConsumedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductItemValues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update Last Consumed Date on Product Item record based on date of last consumption date on Product Consumed</description>
    <formulas>
        <name>fDateValueConsumedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.SVMXA360__ConsumedDate__c})</expression>
    </formulas>
    <interviewLabel>Manage Last Consumed Date {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Last Consumed Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProductItem</name>
        <label>Get Product Item</label>
        <locationX>325</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsConsumedDateGreaterThanLastConsumedDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SVMXA360__LastConsumedDate__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProductItemRecord</name>
        <label>Update Product Item Record</label>
        <locationX>768</locationX>
        <locationY>318</locationY>
        <inputReference>vProductItemRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AreFieldsPopulated</targetReference>
        </connector>
        <object>ProductConsumed</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>vProductItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
</Flow>
