force-app/main/default/flows/SVMXA360__WORD_Manage_Work_Order_Debrief.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Current_Product_Consumed</name>
        <label>Add Current Product Consumed</label>
        <locationX>924</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>vProductConsumed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Consumed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vValidationFlag1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vValidationFlag2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debrief_Product_Consumed_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Product_Consumed_Collection</name>
        <label>Add To Product Consumed Collection</label>
        <locationX>1421</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>vProductConsumed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCurrentProductConsumed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Work_Order_Collection</name>
        <label>Create Work Order Collection</label>
        <locationX>1026</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Screen_Input</name>
        <label>Reset Screen Input</label>
        <locationX>679</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>vProductConsumed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vUpdatedProductConsumedModified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductConsumed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eDebriefProductConsumed.child1Deleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductConsumed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vUpdatedProductConsumedNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debrief_Product_Consumed_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Work_Order_Line_Screen_Input</name>
        <label>Reset Work Order Line Screen Input</label>
        <locationX>1842</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderLineInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vUpdatedWorkOrderLineModified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWorkOrderLineInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eDebriefWorkOrderLines.child1Deleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWorkOrderLineInput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vUpdatedWorkOrderLinesNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debrief_Work_Order_Lines_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_For_Subflow1_Modified</name>
        <label>Set Collection For Subflow1: Modified</label>
        <locationX>828</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>vProductConsumedModifiedNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eDebriefProductConsumed.child1Modified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProductRequiredFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Consumed_Validations_Modified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_For_Subflow1_New</name>
        <label>Set Collection For Subflow1: New</label>
        <locationX>546</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>vProductConsumedModifiedNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eDebriefProductConsumed.child1New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Consumed_Validations_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_For_Subflow_Modified</name>
        <label>Set Collection For Subflow: Modifed</label>
        <locationX>1986</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderLineModifiedNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eDebriefWorkOrderLines.child1Modified</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Labor_Validations_Modified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_For_Subflow_New</name>
        <label>Set Collection For Subflow: New</label>
        <locationX>1842</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderLineModifiedNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eDebriefWorkOrderLines.child1New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Labor_Validations_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deleted_Record_Count</name>
        <label>Set Deleted Product Consumed Count</label>
        <locationX>440</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>eDebriefProductConsumed.child1Deleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Product_Consumed_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deleted_Work_Order_Lines_Count</name>
        <label>Set Deleted Record Count</label>
        <locationX>1467</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>eDebriefWorkOrderLines.child1Deleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Work_Order_Line_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Flag_Product_Required</name>
        <label>Set Error Flag</label>
        <locationX>1173</locationX>
        <locationY>1095</locationY>
        <assignmentItems>
            <assignToReference>vProductRequiredFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PricebookId</name>
        <label>Set PricebookId</label>
        <locationX>828</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vPricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pricebook_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Consumed_Record</name>
        <label>Set Product Consumed Record</label>
        <locationX>1640</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>vCurrentProductConsumed.QuantityConsumed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Selected_Products.QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCurrentProductConsumed.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Selected_Products.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCurrentProductConsumed.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebookentryid.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCurrentProductConsumed.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Selected_Products.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCurrentProductConsumed.SVMXA360__ConsumedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Product_Consumed_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Order_Line_Screen_Input</name>
        <label>Set Work Order Line Screen Input</label>
        <locationX>1834</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderLineInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vValidationFlag1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vValidationFlag2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debrief_Work_Order_Lines_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cScreenName1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_Manage_Debrief1_Screen</stringValue>
        </value>
    </constants>
    <constants>
        <name>cScreenName2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_Manage_Debrief2_Screen</stringValue>
        </value>
    </constants>
    <constants>
        <name>cScreenName3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_Manage_Debrief3_Screen</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Deleted_Product_Consumed_Collection</name>
        <label>Deleted Collection</label>
        <locationX>235</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Update_Successful_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Exist</defaultConnectorLabel>
        <rules>
            <name>eDeletedProductConsumedExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Product_Consumed</targetReference>
            </connector>
            <label>Deleted Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deleted_Work_Order_Line_Collection</name>
        <label>Deleted Collection</label>
        <locationX>1313</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Product_Required_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Exist</defaultConnectorLabel>
        <rules>
            <name>eDeletedWorkOrderLinesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Work_Order_Lines</targetReference>
            </connector>
            <label>Deleted Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Book_Entry</name>
        <label>Price Book Entry</label>
        <locationX>1624</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Flag_Product_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Price Book Entry</defaultConnectorLabel>
        <rules>
            <name>ePriceBookEntry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricebookentryid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Consumed_Record</targetReference>
            </connector>
            <label>Price Book Entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Assigned</name>
        <label>Pricebook Assigned</label>
        <locationX>1008</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>No_Pricebook_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricebook</defaultConnectorLabel>
        <rules>
            <name>ePricebookAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_Collection</targetReference>
            </connector>
            <label>Pricebook Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Consumed_Valid</name>
        <label>Product Consumed Valid</label>
        <locationX>382</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Consumed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>eProductConsumedInvalid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vValidationFlag1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vValidationFlag2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Screen_Input</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Required_Records</name>
        <label>Product Required Records</label>
        <locationX>1076</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Consumed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Products Required</defaultConnectorLabel>
        <rules>
            <name>eProductsRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Products_Required</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Products_Products_Screen</targetReference>
            </connector>
            <label>Products Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Product</name>
        <label>Select Product</label>
        <locationX>1407</locationX>
        <locationY>966</locationY>
        <defaultConnector>
            <targetReference>Process_Selected_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Not Selected</defaultConnectorLabel>
        <rules>
            <name>eProductSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eSelectOneorMoreProducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Process_Selected_Products.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebookentryid</targetReference>
            </connector>
            <label>Product Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Lines_Valid</name>
        <label>Work Order Lines Valid</label>
        <locationX>1630</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>eInvalidWorkOrderLines</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vValidationFlag1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vValidationFlag2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Work_Order_Line_Screen_Input</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <description>Enter resolution including labor and parts consumed</description>
    <dynamicChoiceSets>
        <name>vProductsRequired</name>
        <dataType>String</dataType>
        <displayField>ProductName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ProductRequired</object>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Manage Work Order Debrief {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Order Debrief</label>
    <loops>
        <name>Process_Selected_Products</name>
        <label>Process Selected Products</label>
        <locationX>1173</locationX>
        <locationY>922</locationY>
        <collectionReference>Get_Products_Required</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Product_Consumed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Product_Consumed</name>
        <label>Create Product Consumed</label>
        <locationX>440</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>Set_Deleted_Record_Count</targetReference>
        </connector>
        <inputReference>vUpdatedProductConsumedNew</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Lines</name>
        <label>Create Work Order Lines</label>
        <locationX>1466</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Set_Deleted_Work_Order_Lines_Count</targetReference>
        </connector>
        <inputReference>vUpdatedWorkOrderLinesNew</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Product_Consumed</name>
        <label>Delete Product Consumed</label>
        <locationX>243</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Successful_Screen</targetReference>
        </connector>
        <inputReference>eDebriefProductConsumed.child1Deleted</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Work_Order_Lines</name>
        <label>Delete Work Order Lines</label>
        <locationX>1320</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Product_Required_Records</targetReference>
        </connector>
        <inputReference>eDebriefWorkOrderLines.child1Deleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Pricebookentryid</name>
        <label>Get Pricebookentryid</label>
        <locationX>1562</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Process_Selected_Products.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Consumed</name>
        <label>Get Product Consumed</label>
        <locationX>932</locationX>
        <locationY>919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Current_Product_Consumed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductConsumed</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_Required</name>
        <label>Get Products Required</label>
        <locationX>1319</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Debrief_Work_Order_Header_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>828</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PricebookId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Items</name>
        <label>Get Work Order Line Items</label>
        <locationX>1177</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Consumed</name>
        <label>Update Product Consumed</label>
        <locationX>587</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>Create_Product_Consumed</targetReference>
        </connector>
        <inputReference>vUpdatedProductConsumedModified</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1615</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Set_Work_Order_Line_Screen_Input</targetReference>
        </connector>
        <inputReference>eDebriefWorkOrderHeader.headerRecordData</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Lines</name>
        <label>Update Work Order Lines</label>
        <locationX>1634</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Create_Work_Order_Lines</targetReference>
        </connector>
        <inputReference>vUpdatedWorkOrderLineModified</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Debrief_Product_Consumed_Screen</name>
        <label>Debrief Product Consumed Screen</label>
        <locationX>752</locationX>
        <locationY>533</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Collection_For_Subflow1_Modified</targetReference>
        </connector>
        <fields>
            <name>eErrorMessageProductRequired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderPricebookWarning}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vProductRequiredFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eErrorMessageProductConsumedQuantity</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderProductsConsumedQuantityValidation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>vValidationFlag1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>vValidationFlag2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eDebriefProductConsumed</name>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>ProductConsumed</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGeneric</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>child1Modified</name>
                <value>
                    <elementReference>vProductConsumed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cScreenName3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vWorkOrderCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Debrief_Work_Order_Header_Screen</name>
        <label>Debrief Work Order Header Screen</label>
        <locationX>1467</locationX>
        <locationY>225</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <fields>
            <name>eDebriefWorkOrderHeader</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGenericHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cScreenName1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vWorkOrderCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Debrief_Work_Order_Lines_Screen</name>
        <label>Debrief Work Order Lines Screen</label>
        <locationX>1986</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Collection_For_Subflow_Modified</targetReference>
        </connector>
        <fields>
            <name>eErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderLineItemsDebriefValidation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>vValidationFlag1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>vValidationFlag2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eDebriefWorkOrderLines</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>WorkOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGeneric</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>child1Modified</name>
                <value>
                    <elementReference>vWorkOrderLineInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vWorkOrderCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cScreenName2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Pricebook_Screen</name>
        <label>No Pricebook Screen</label>
        <locationX>1230</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eNoPricebook</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderPricebookRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products_Products_Screen</name>
        <label>Select Products Required Screen</label>
        <locationX>1173</locationX>
        <locationY>736</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Process_Selected_Products</targetReference>
        </connector>
        <fields>
            <name>eSelectInstructions</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_ProductsRequiredSelection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eSelectOneorMoreProducts</name>
            <choiceReferences>vProductsRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select One or More Products</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Successful_Screen</name>
        <label>Update Successful Screen</label>
        <locationX>49</locationX>
        <locationY>431</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eUpdatesSuccessful</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_WorkOrderUpdated}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>443</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Labor_Validations_Modified</name>
        <label>Labor Validations</label>
        <locationX>1986</locationX>
        <locationY>546</locationY>
        <connector>
            <targetReference>Set_Collection_For_Subflow_New</targetReference>
        </connector>
        <flowName>SVMXA360__WORD_Manage_Work_Order_Debrief_Subflow</flowName>
        <inputAssignments>
            <name>vModified</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vWorkOrderLines</name>
            <value>
                <elementReference>vWorkOrderLineModifiedNew</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUpdatedWorkOrderLineModified</assignToReference>
            <name>vUpdatedWorkOrderLines</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vValidationFlag1</assignToReference>
            <name>vValidDiscount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Labor_Validations_New</name>
        <label>Labor Validations</label>
        <locationX>1844</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>Work_Order_Lines_Valid</targetReference>
        </connector>
        <flowName>SVMXA360__WORD_Manage_Work_Order_Debrief_Subflow</flowName>
        <inputAssignments>
            <name>vModified</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vWorkOrderLines</name>
            <value>
                <elementReference>vWorkOrderLineModifiedNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vWOStatus</name>
            <value>
                <elementReference>Get_Work_Order.Status</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUpdatedWorkOrderLinesNew</assignToReference>
            <name>vUpdatedWorkOrderLines</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vValidationFlag2</assignToReference>
            <name>vValidDiscount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Product_Consumed_Validations_Modified</name>
        <label>Product Consumed Validations</label>
        <locationX>710</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>Set_Collection_For_Subflow1_New</targetReference>
        </connector>
        <flowName>SVMXA360__WORD_Validate_Product_Consumed_Subflow</flowName>
        <inputAssignments>
            <name>vModified</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductConsumedLines</name>
            <value>
                <elementReference>vProductConsumedModifiedNew</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUpdatedProductConsumedModified</assignToReference>
            <name>vUpdatedProductConsumedLines</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vValidationFlag1</assignToReference>
            <name>vValidFlag</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Product_Consumed_Validations_new</name>
        <label>Product Consumed Validations</label>
        <locationX>395</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>Product_Consumed_Valid</targetReference>
        </connector>
        <flowName>SVMXA360__WORD_Validate_Product_Consumed_Subflow</flowName>
        <inputAssignments>
            <name>vModified</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductConsumedLines</name>
            <value>
                <elementReference>vProductConsumedModifiedNew</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vUpdatedProductConsumedNew</assignToReference>
            <name>vUpdatedProductConsumedLines</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vValidationFlag2</assignToReference>
            <name>vValidFlag</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCurrentProductConsumed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductConsumed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vProductConsumedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vProductConsumedModifiedNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vProductRequiredFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vUpdatedProductConsumedModified</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vUpdatedProductConsumedNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vUpdatedWorkOrderLineModified</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vUpdatedWorkOrderLinesNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vValidationFlag1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vValidationFlag2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vWorkOrderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrderLineInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vWorkOrderLineModifiedNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
