force-app/main/default/flows/SVMXA360__CASE_Manage_Case_Milestone_Closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>cInfoMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No updates performed. There are no open milestones to close</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSuccessMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All open milestones have been closed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Open_Milestones</name>
        <label>Check Open Milestones</label>
        <locationX>748</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Close_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Milestones</defaultConnectorLabel>
        <rules>
            <name>eNoOpenMilestones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Case_Milestones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Changes_Screen</targetReference>
            </connector>
            <label>No Open Milestones</label>
        </rules>
    </decisions>
    <description>Check open Case milestones prior to closure</description>
    <interviewLabel>Manage Case Milestone Closure {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Case Milestone Closure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Open_Case_Milestones</name>
        <label>Get Open Case Milestones</label>
        <locationX>592</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Open_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Milestones</name>
        <label>Close Milestones</label>
        <locationX>758</locationX>
        <locationY>258</locationY>
        <connector>
            <targetReference>Milestones_Closed_Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Milestones_Closed_Confirmation_Screen</name>
        <label>Milestones Closed Confirmation Screen</label>
        <locationX>973</locationX>
        <locationY>257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eMilestonesClosed</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_CaseMilestonesClosed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Changes_Screen</name>
        <label>No Changes Screen</label>
        <locationX>980</locationX>
        <locationY>65</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eNoChanges</name>
            <fieldText>&lt;p&gt;{!$Label.svmxa360__Info_CaseMilestonesNoUpdates}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Open_Case_Milestones</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
</Flow>
