force-app/main/default/flows/SVMXA360__PRRQ_Create_Product_Request_From_Return_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Map_ROLI_to_PRLI</name>
        <label>Map ROLI to PRLI</label>
        <locationX>802</locationX>
        <locationY>70</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>eCreateProductRequest</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>ProductRequestLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>ReturnOrderLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>ProductRequestLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cReturnOrderLineItemToProductRequestLineItemMap</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>Get_Return_Order_Lines</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <outputParameters>
            <assignToReference>vInputProductRequestLine</assignToReference>
            <name>targetSObjectList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RO_to_PRRQ_Map</name>
        <label>RO to PRRQ Map</label>
        <locationX>672</locationX>
        <locationY>70</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Map_ROLI_to_PRLI</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>ProductRequest</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>ReturnOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>ProductRequest</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cReturnOrderToProductRequestMap</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>Get_Return_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <outputParameters>
            <assignToReference>vInputProductRequest</assignToReference>
            <name>targetSObjectList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_To_Product_Request_Line_Item_Collection</name>
        <label>Add To Product Request Line Item Collection</label>
        <locationX>1778</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>vCreateProductRequestLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Parent_Id_In_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Parent_Id_In_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Redirect_Id</name>
        <label>Assign Redirect Id</label>
        <locationX>2458</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_RedirectId</name>
        <label>Assign RedirectId</label>
        <locationX>146</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Screen_Output</name>
        <label>Assign Screen Output - Reset Error Flag</label>
        <locationX>1071</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>vOutputHeaderCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eCreateNewProductRequestScreen.headerRecordData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOutputChildCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eCreateNewProductRequestScreen.child1New</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorValidationFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorValidationFlag1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Destination_And_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_ROLI_Collection</name>
        <label>Build ROLI Collection</label>
        <locationX>2354</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>vUpdateReturnOrderLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Source_ROLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_New_PRLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Input_Collections</name>
        <label>Reassign Input Collections</label>
        <locationX>653</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>vInputProductRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOutputHeaderCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vInputProductRequestLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOutputChildCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eCreateProductRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Flag_Destination</name>
        <label>Set Error Flag</label>
        <locationX>723</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>vErrorValidationFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Destination_And_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Flag_Quantity</name>
        <label>Set Error Flag</label>
        <locationX>1089</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>vErrorValidationFlag1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_PRLI_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_Address_To_Header_Address</name>
        <label>Set Line Address To Header Address</label>
        <locationX>1564</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.ShipToStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.ShipToStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.ShipToCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.ShipToCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.ShipToState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.ShipToState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.ShipToPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.ShipToPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.ShipToCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.ShipToCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_UOM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_Destination_To_Header</name>
        <label>Set Line Destination To Header</label>
        <locationX>1778</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Product_Request_Line_Item_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_Values_To_Required_Header_Fields</name>
        <label>Set Line Values To Required Header Fields</label>
        <locationX>1567</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.NeedByDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.NeedByDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.ShipmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.ShipmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProductRequest.SourceLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Line_Address_To_Header_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PRLI</name>
        <label>Set PRLI</label>
        <locationX>2444</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>Get_Source_ROLI.ProductRequestLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_New_PRLIs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_ROLI_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UOM_To_Product_UOM</name>
        <label>Set UOM To Product UOM</label>
        <locationX>1567</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>Set_Parent_Id_In_Children.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_UOM.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Destination_Modified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Product_Request</name>
        <label>Store Product Request</label>
        <locationX>1357</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>vProductRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Product_Request_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Product_Request_Id</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cCreateProductRequestScreen</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PRRQ_Create_Line_Items_Screen</stringValue>
        </value>
    </constants>
    <constants>
        <name>cReturnOrderLineItemToProductRequestLineItemMap</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ROLI_PRLI_Mapping</stringValue>
        </value>
    </constants>
    <constants>
        <name>cReturnOrderToProductRequestMap</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RORD_PRRQ_Mapping</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Destination_Modified</name>
        <label>Destination Modified</label>
        <locationX>1557</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Add_To_Product_Request_Line_Item_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Destination Not Changed</defaultConnectorLabel>
        <rules>
            <name>eDestinationSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProductRequest.DestinationLocationId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Line_Destination_To_Header</targetReference>
            </connector>
            <label>Destination Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Destination_Or_Address_Exists</name>
        <label>Destination Or Address Exists</label>
        <locationX>897</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Destination_And_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vlaues Exist</defaultConnectorLabel>
        <rules>
            <name>eDestinationOrAddressNotExists</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>fDestinationNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fDestinationEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCityNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCityEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Flag_Destination</targetReference>
            </connector>
            <label>Values Do Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>PassValidation</name>
        <label>Pass Validations</label>
        <locationX>1217</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>Reassign_Input_Collections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>eValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vErrorValidationFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vErrorValidationFlag1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Request_Record</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_Valid</name>
        <label>Quantity Valid</label>
        <locationX>825</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Flag_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quantity Invalid</defaultConnectorLabel>
        <rules>
            <name>eQuantityValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_PRLI_Quantity.QuantityRequested</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_PRLI_Quantity</targetReference>
            </connector>
            <label>Quantity Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_Order_Line_Items</name>
        <label>Return Order Line Items</label>
        <locationX>529</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>No_Return_Order_Line_Items_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lines Exist</defaultConnectorLabel>
        <rules>
            <name>eReturnLinesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RO_to_PRRQ_Map</targetReference>
            </connector>
            <label>Return Lines Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ROLI_Found</name>
        <label>ROLI Found</label>
        <locationX>2236</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Process_New_PRLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ROLI Not Found</defaultConnectorLabel>
        <rules>
            <name>eROLIFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Source_ROLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PRLI</targetReference>
            </connector>
            <label>ROLI Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_UOM</name>
        <label>Set UOM</label>
        <locationX>1394</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>Destination_Modified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change To Product</defaultConnectorLabel>
        <rules>
            <name>eSetUOM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Set_Parent_Id_In_Children.Product2Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_UOM</targetReference>
            </connector>
            <label>Set UOM</label>
        </rules>
    </decisions>
    <description>Create Product Request from a Return Order for Asset shipment</description>
    <formulas>
        <name>fCityEmpty</name>
        <dataType>Boolean</dataType>
        <expression>{!Evaluate_Destination_And_Address.ShipToCity}=&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>fCityNull</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Evaluate_Destination_And_Address.ShipToCity})</expression>
    </formulas>
    <formulas>
        <name>fDestinationEmpty</name>
        <dataType>Boolean</dataType>
        <expression>{!Evaluate_Destination_And_Address.DestinationLocationId}=&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>fDestinationNull</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Evaluate_Destination_And_Address.DestinationLocationId})</expression>
    </formulas>
    <interviewLabel>Create Product Request From Return Order {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Product Request From Return Order</label>
    <loops>
        <name>Evaluate_Destination_And_Address</name>
        <label>Evaluate Destination And Address</label>
        <locationX>1071</locationX>
        <locationY>361</locationY>
        <collectionReference>vOutputHeaderCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Destination_Or_Address_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_PRLI_Quantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Evaluate_PRLI_Quantity</name>
        <label>Evaluate PRLI Quantity</label>
        <locationX>1090</locationX>
        <locationY>752</locationY>
        <collectionReference>vOutputChildCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quantity_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PassValidation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_New_Product_Request_Id</name>
        <label>Get New Product Request Id</label>
        <locationX>1357</locationX>
        <locationY>71</locationY>
        <collectionReference>vOutputHeaderCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Product_Request</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Parent_Id_In_Children</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_New_PRLIs</name>
        <label>Process New PRLIs</label>
        <locationX>2078</locationX>
        <locationY>284</locationY>
        <collectionReference>vCreateProductRequestLineItemCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Source_ROLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ROLI_With_PRLIid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Parent_Id_In_Children</name>
        <label>Set Parent Id In Children</label>
        <locationX>1778</locationX>
        <locationY>86</locationY>
        <collectionReference>vOutputChildCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Line_Values_To_Required_Header_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Request_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Product_Request_Line_Items</name>
        <label>Create Product Request Line Items</label>
        <locationX>1952</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Update_Return_With_Product_Request_Id</targetReference>
        </connector>
        <inputReference>vCreateProductRequestLineItemCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Request_Record</name>
        <label>Create Product Request Record</label>
        <locationX>1224</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Get_New_Product_Request_Id</targetReference>
        </connector>
        <inputReference>vOutputHeaderCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_UOM</name>
        <label>Get Product UOM</label>
        <locationX>1400</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_UOM_To_Product_UOM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Set_Parent_Id_In_Children.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityUnitOfMeasure</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>423</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Return_Order_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_Lines</name>
        <label>Get Return Order Lines</label>
        <locationX>540</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessingPlan</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repair</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProcessingPlan</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier Warranty</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_ROLI</name>
        <label>Get Source ROLI</label>
        <locationX>2077</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ROLI_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Process_New_PRLIs.SVMXA360__AssetId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Return_With_Product_Request_Id</name>
        <label>Update Return With Product Request Id</label>
        <locationX>2078</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Process_New_PRLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProductRequestId</field>
            <value>
                <elementReference>vProductRequest.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ROLI_With_PRLIid</name>
        <label>Update ROLI With PRLI id</label>
        <locationX>2258</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Redirect_Id</targetReference>
        </connector>
        <inputReference>vUpdateReturnOrderLineItem</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>eCreateProductRequest</name>
        <label>Create Product Request</label>
        <locationX>936</locationX>
        <locationY>70</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_Output</targetReference>
        </connector>
        <fields>
            <name>eValidationErrorQuantity</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_ProductRequestQuantityValidation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vErrorValidationFlag1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eValidationErrorDestination</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_ProductRequestDestinationRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vErrorValidationFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>eCreateNewProductRequestScreen</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ProductRequest</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGeneric</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>child1Modified</name>
                <value>
                    <elementReference>vInputProductRequestLine</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vInputProductRequest</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cCreateProductRequestScreen</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Return_Order_Line_Items_Screen</name>
        <label>No Return Order Line Items Screen</label>
        <locationX>315</locationX>
        <locationY>232</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_RedirectId</targetReference>
        </connector>
        <fields>
            <name>eNoReturnOrderLineItem</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_RepairROLIRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>43</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCreateProductRequestLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vErrorValidationFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vErrorValidationFlag1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vInputProductRequest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vInputProductRequestLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vOutputChildCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vOutputHeaderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vProductRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vProductRequestLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vUpdateReturnOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
</Flow>
