force-app/main/default/flows/SVMXA360__WORD_Manage_Investigation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Initialize_Work_Order_Line_Item</name>
        <label>Initialize Work Order Line Item</label>
        <locationX>843</locationX>
        <locationY>799</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Labor_Line</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>WorkOrderLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>WorkOrderLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cMapName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>vWorkOrders</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Initialize_WorkOrders_Collection</name>
        <label>Initialize WorkOrders Collection</label>
        <locationX>700</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_WorkOrder_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_Work_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cMapName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_WOLI_Mapping</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Work_Order_Type</name>
        <label>Check Work Order Type</label>
        <locationX>659</locationX>
        <locationY>369</locationY>
        <defaultConnector>
            <targetReference>Initialize_WorkOrders_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Depot</defaultConnectorLabel>
        <rules>
            <name>eIsDepot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkOrder_Data.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Depot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Work_Plan</targetReference>
            </connector>
            <label>Is Depot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WorkOrder_Status</name>
        <label>Check WorkOrder Status</label>
        <locationX>804</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eIsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkOrder_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_to_InProgress</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Plan</name>
        <label>Work Plan</label>
        <locationX>587</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Initialize_WorkOrders_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Work Plan</defaultConnectorLabel>
        <rules>
            <name>eWorkPlan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_First_Work_Plan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Work_Step</targetReference>
            </connector>
            <label>Work Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Steps</name>
        <label>Work Steps</label>
        <locationX>384</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Set_Next_Work_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Work Steps, Not Supplier</defaultConnectorLabel>
        <rules>
            <name>eNoWorkStepsOrSupplier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_First_Work_Step</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WorkOrder_Data.ReturnOrderLineItem.ProcessingPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_WorkOrders_Collection</targetReference>
            </connector>
            <label>No Work Steps or Supplier</label>
        </rules>
    </decisions>
    <description>Update Work Order status to be in progress and add a labor line</description>
    <interviewLabel>Manage Work Order Investigation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Order Investigation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Labor_Line</name>
        <label>Create Labor Line</label>
        <locationX>978</locationX>
        <locationY>799</locationY>
        <inputReference>Initialize_Work_Order_Line_Item.targetSObjectList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_First_Work_Plan</name>
        <label>Get First Work Plan</label>
        <locationX>382</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkPlan</object>
        <sortField>ExecutionOrder</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Work_Step</name>
        <label>Get First Work Step</label>
        <locationX>386</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkPlanId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Work_Plan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <sortField>ExecutionOrder</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder_Data</name>
        <label>Get WorkOrder Data</label>
        <locationX>583</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WorkOrder_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Status_to_InProgress</name>
        <label>Change Status to InProgress</label>
        <locationX>811</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Check_Work_Order_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Next_Work_Step</name>
        <label>Set Next Work Step</label>
        <locationX>182</locationX>
        <locationY>798</locationY>
        <connector>
            <targetReference>Initialize_WorkOrders_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__NextWorkStep__c</field>
            <value>
                <elementReference>Get_First_Work_Step.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__WorkStepStatus__c</field>
            <value>
                <stringValue>Start Next Step</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_WorkOrder_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
