force-app/main/default/flows/SVMXA360__WORD_Validate_Product_Consumed_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_UOM</name>
        <label>Set UOM</label>
        <locationX>884</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>Evaluate_Product_Consumed_Lines.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_UOM.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Modified_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Valid_Flag_False</name>
        <label>Set Valid Flag False</label>
        <locationX>660</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>vValidFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Valid_Flag_True</name>
        <label>Set Valid Flag True</label>
        <locationX>466</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>vValidFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Product_Consumed_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Modified_Collection</name>
        <label>Updated Modified Collection</label>
        <locationX>623</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>vUpdatedProductConsumedLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Evaluate_Product_Consumed_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Product_Consumed_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quantity_Less_Than_Equal_Zero</name>
        <label>Quantity  &lt;= Zero</label>
        <locationX>459</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quantity &gt; Zero</defaultConnectorLabel>
        <rules>
            <name>eQuantityLessThanEqualZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Product_Consumed_Lines.QuantityConsumed</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_Flag_False</targetReference>
            </connector>
            <label>Quantity &lt;= Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Existing_Line_Item</name>
        <label>Update Existing Line Item</label>
        <locationX>875</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Get_Product_UOM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>eUpdateExistingRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vModified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Modified_Collection</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <interviewLabel>A360 - Validate Product Consumed - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Validate Product Consumed - Subflow</label>
    <loops>
        <name>Evaluate_Product_Consumed_Lines</name>
        <label>Evaluate Product Consumed Lines</label>
        <locationX>466</locationX>
        <locationY>206</locationY>
        <collectionReference>vProductConsumedLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quantity_Less_Than_Equal_Zero</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Product_UOM</name>
        <label>Get Product UOM</label>
        <locationX>885</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_UOM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evaluate_Product_Consumed_Lines.PricebookEntry.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityUnitOfMeasure</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>42</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Set_Valid_Flag_True</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Modified=true, New =false</description>
        <name>vModified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductConsumedLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vUpdatedProductConsumedLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>vValidFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
