force-app/main/default/flows/SVMXA360__WORD_Create_Work_Order_Estimate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Map_WOLI_To_Estimate_Lines</name>
        <label>Map WOLI To Estimate Lines</label>
        <locationX>923</locationX>
        <locationY>405</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Process_WOLIs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>WorkOrderLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>WorkOrderLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>WorkOrderLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cWOLIMapping</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>Get_WOLIS</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Map_Work_Order_To_Estimate</name>
        <label>Map Work Order To Estimate</label>
        <locationX>799</locationX>
        <locationY>234</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Estimate</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cWOMapping</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>Get_Work_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_To_Estimate_Line_Collection</name>
        <label>Add To Estimate Line Collection</label>
        <locationX>826</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>vEstimatelines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Process_WOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_WOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Estimate_Id</name>
        <label>Assign Estimate Id</label>
        <locationX>688</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>Process_WOLIs.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEstimateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Estimate_Line_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Redirect</name>
        <label>Assign Redirect</label>
        <locationX>1079</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEstimateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_WOLI_To_Estimate_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hold_Estimate_Id</name>
        <label>Hold Estimate Id</label>
        <locationX>1190</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>vEstimateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Estimate_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Estimate_Id</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cWOLIMapping</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WOLI_WOLI_Estimate_Mapping</stringValue>
        </value>
    </constants>
    <constants>
        <name>cWOMapping</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_WORD_Estimate_Mapping</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Price_Book_Assigned</name>
        <label>Price Book Assigned</label>
        <locationX>734</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Price_Book_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Price Book</defaultConnectorLabel>
        <rules>
            <name>ePriceBookAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_For_Price_Book.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLIS</targetReference>
            </connector>
            <label>Price Book Assigned</label>
        </rules>
    </decisions>
    <interviewLabel>A360 - Create Work Order Estimate {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Work Order Estimate</label>
    <loops>
        <name>Get_Estimate_Id</name>
        <label>Get Estimate Id</label>
        <locationX>1182</locationX>
        <locationY>210</locationY>
        <collectionReference>Map_Work_Order_To_Estimate.targetSObjectList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Hold_Estimate_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Redirect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_For_Price_Book</name>
        <label>Process For Price Book</label>
        <locationX>557</locationX>
        <locationY>234</locationY>
        <collectionReference>Get_Work_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Price_Book_Assigned</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Process_WOLIs</name>
        <label>Process WOLIs</label>
        <locationX>755</locationX>
        <locationY>405</locationY>
        <collectionReference>Map_WOLI_To_Estimate_Lines.targetSObjectList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Estimate_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Estimate_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Estimate</name>
        <label>Create Estimate</label>
        <locationX>940</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Estimate_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <inputReference>Map_Work_Order_To_Estimate.targetSObjectList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Estimate_Lines</name>
        <label>Create Estimate Lines</label>
        <locationX>533</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>Manage_Estimate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <inputReference>vEstimatelines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_WOLIS</name>
        <label>Get WOLIS</label>
        <locationX>662</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_Work_Order_To_Estimate</targetReference>
        </connector>
        <filterLogic>1 AND (2 or 3)</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>408</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_For_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>521</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eFaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Price_Book_Error_Screen</name>
        <label>Price Book Error Screen</label>
        <locationX>956</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ePriceBookError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;{!$Label.svmxa360__Info_WorkOrderPricebookRequired}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>38</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Manage_Estimate</name>
        <label>Manage Estimate</label>
        <locationX>331</locationX>
        <locationY>413</locationY>
        <flowName>SVMXA360__WORD_Manage_Work_Order_Estimate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>vEstimateId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEstimateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEstimatelines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
