force-app/main/default/flows/SVMXA360__DPOT_Execute_Depot_Finder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Depot_Based_on_Product</name>
        <label>Get Depot Based on Product</label>
        <locationX>969</locationX>
        <locationY>117</locationY>
        <actionName>SVMXA360__GetDepotApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Depot_Location_IDs_from_Depot_Finder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Depot_Based_on_Product_Family</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>Get_Root_Asset.Product2Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__GetDepotApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Depot_Based_on_Product_Family</name>
        <label>Get Depot Based on Product Family</label>
        <locationX>1505</locationX>
        <locationY>364</locationY>
        <actionName>SVMXA360__GetDepotApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Depot_Location_IDs_from_Get_Depot_Based_on_Product_Family</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Depot_Location</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productFamily</name>
            <value>
                <elementReference>Get_Root_Asset_Product.Family</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__GetDepotApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Depot_Finder_Location_Id</name>
        <label>Assign Depot Finder Location Id</label>
        <locationX>756</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>vDepotFinderOutputFirstLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Depot_Location_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_All_Other_Location_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Depot_Location_IDs_from_Depot_Finder</name>
        <label>Assign Depot Location IDs from Depot Finder</label>
        <locationX>1150</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>vDepotFinderOutputLocationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Depot_Based_on_Product.locationIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Count_from_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Depot_Location_IDs_from_Get_Depot_Based_on_Product_Family</name>
        <label>Assign Depot Location IDs from Get Depot Based on  Product Family</label>
        <locationX>1376</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>vDepotFinderOutputLocationIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Depot_Based_on_Product_Family.locationIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Depot_Location_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NULL_Depot_Location</name>
        <label>Assign NULL Depot Location</label>
        <locationX>572</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>vDepotFinderOutputLocation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Record_Count_from_Collection</name>
        <label>Assign Record Count from Collection</label>
        <locationX>1339</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>vRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vDepotFinderOutputLocationIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Depot_Finder_Returned_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Depot_Location</name>
        <label>Output Depot Location</label>
        <locationX>1496</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>vDepotFinderOutputLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Depot_Location_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_All_Other_Location_Ids</name>
        <label>Remove All Other Location Ids</label>
        <locationX>1002</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>vDepotFinderOutputLocationIds</assignToReference>
            <operator>RemoveAfterFirst</operator>
            <value>
                <elementReference>Loop_Through_Depot_Location_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Depot_Location_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_has_Product</name>
        <label>Asset has Product?</label>
        <locationX>697</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>Assign_NULL_Depot_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Asset_Has_Product_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Root_Asset.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Root_Asset_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Has_Root_Asset</name>
        <label>Asset Has Root Asset?</label>
        <locationX>405</locationX>
        <locationY>73</locationY>
        <defaultConnector>
            <targetReference>Assign_NULL_Depot_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Root Asset</defaultConnectorLabel>
        <rules>
            <name>Has_Root_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputAsset.RootAssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Root_Asset</targetReference>
            </connector>
            <label>Has Root Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Depot_Finder_Returned_Results</name>
        <label>Depot Finder Returned Results?</label>
        <locationX>1499</locationX>
        <locationY>160</locationY>
        <defaultConnector>
            <targetReference>Get_Depot_Based_on_Product_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Depot_Location_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Determines the Depot (Destination) Location for a Part Return using Location Services.</description>
    <interviewLabel>Execute Depot Finder {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Execute Depot Finder</label>
    <loops>
        <name>Loop_Through_Depot_Location_Ids</name>
        <label>Loop Through Depot Location Ids</label>
        <locationX>875</locationX>
        <locationY>304</locationY>
        <collectionReference>vDepotFinderOutputLocationIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Depot_Finder_Location_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_First_Depot_Location_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_First_Depot_Location_Record</name>
        <label>Get First Depot Location Record</label>
        <locationX>1261</locationX>
        <locationY>772</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Output_Depot_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDepotFinderOutputFirstLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Root_Asset</name>
        <label>Get Root Asset</label>
        <locationX>578</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_has_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAsset.RootAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Root_Asset_Product</name>
        <label>Get Root Asset Product</label>
        <locationX>846</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Depot_Based_on_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Root_Asset.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>47</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Asset_Has_Root_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ReturnMultipleMatches</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vDepotFinderOutputFirstLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDepotFinderOutputLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>vDepotFinderOutputLocationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDepotFinderOutputLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>vRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
