force-app/main/default/flows/SVMXA360__WORD_Create_Remote_Work_Order_From_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_to_Remote_Work_Order</name>
        <label>Case to Remote Work Order</label>
        <locationX>862</locationX>
        <locationY>211</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <elementReference>cMapName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>vCases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>vWorkOrders</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <outputParameters>
            <assignToReference>vWorkOrders</assignToReference>
            <name>targetSObjectList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_New_WorkOrder_Id</name>
        <label>Assign New WorkOrder Id</label>
        <locationX>444</locationX>
        <locationY>872</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_WorkOrder_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_WorkOrder_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remote_Record_Type</name>
        <label>Assign Remote Record Type</label>
        <locationX>1235</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderNew.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_Record_Type_Remote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWorkOrderNew.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAssetLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Case_Collection</name>
        <label>Assign to Case Collection</label>
        <locationX>856</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>vCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_to_Remote_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>1228</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrdersNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vWorkOrderNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_PostScreen</name>
        <label>Assign to Collection</label>
        <locationX>872</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrdersNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manage_WorkOrder.headerRecordData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order</name>
        <label>Assign Work Order</label>
        <locationX>1237</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Remote_Record_Type</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cMapName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CASE_WORD_Remote_Mapping</stringValue>
        </value>
    </constants>
    <constants>
        <name>cRemoteWORecType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Remote</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSuccessMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Remote Work Order created</stringValue>
        </value>
    </constants>
    <constants>
        <name>cWorkOrderScreenName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WORD_Manage_Screen</stringValue>
        </value>
    </constants>
    <description>Create a Remote Work Order from Case</description>
    <interviewLabel>Create Remote Work Order From Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Remote Work Order From Case</label>
    <loops>
        <name>Assign</name>
        <label>Loop for Remote Record Type</label>
        <locationX>868</locationX>
        <locationY>353</locationY>
        <collectionReference>vWorkOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Work_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Remote_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_New_WorkOrder_Id</name>
        <label>Get New WorkOrder Id</label>
        <locationX>680</locationX>
        <locationY>872</locationY>
        <collectionReference>vWorkOrdersNew</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_WorkOrder_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Work_Order</name>
        <label>Create New Work Order</label>
        <locationX>872</locationX>
        <locationY>872</locationY>
        <connector>
            <targetReference>Get_New_WorkOrder_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Remote_Work_Order</targetReference>
        </faultConnector>
        <inputReference>vWorkOrdersNew</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Data</name>
        <label>Get Asset Data</label>
        <locationX>716</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Case_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>vAssetLocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>417</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Record_Type_Remote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_Order_Record_Type_Remote</name>
        <label>Work Order Record Type - Remote</label>
        <locationX>570</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Remote</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Remote_Work_Order</name>
        <label>Create Remote Work Order</label>
        <locationX>869</locationX>
        <locationY>546</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Collection_PostScreen</targetReference>
        </connector>
        <fields>
            <name>eDisplayFaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;span style=&quot;color: rgb(190, 55, 51);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Manage_WorkOrder</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGenericHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <elementReference>cWorkOrderScreenName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vWorkOrdersNew</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <description>Store the Asset Location for Remote WO as Case does not have Asset Location</description>
        <name>vAssetLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Cases to pass to SPM components</description>
        <name>vCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrderNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>vWorkOrdersNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
