force-app/main/default/flows/SVMXA360__PRRQ_Create_Product_Request_from_Remote_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PRRQ_to_PRLI_Mapping</name>
        <label>PRRQ to PRLI</label>
        <locationX>873</locationX>
        <locationY>393</locationY>
        <actionName>SVMXA360__ApplyMappingApexAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_PRLI</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceSObjectList</typeName>
            <typeValue>ProductRequest</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetSObjectList</typeName>
            <typeValue>ProductRequestLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetSObjectList</typeName>
            <typeValue>ProductRequestLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mappingId</name>
            <value>
                <stringValue>PRRQ_PRLI_Mapping</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSObjectList</name>
            <value>
                <elementReference>vPRRQ_TransactionOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetSObjectList</name>
            <value>
                <elementReference>vPRLI_TransactionOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXA360__ApplyMappingApexAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Single_PRRQ</name>
        <label>Assign Single PRRQ</label>
        <locationX>549</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>vPRRQ_SingleObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PRRQ_Output</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PRRQ_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PRRQ_Redirect</name>
        <label>Set PRRQ Redirect</label>
        <locationX>743</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>redirect_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPRRQ_SingleObject.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PRRQ_to_PRLI_Mapping</targetReference>
        </connector>
    </assignments>
    <description>Create Product Request from a Remote Work Order</description>
    <interviewLabel>Create Product Request From Remote Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Create Product Request From Remote Work Order</label>
    <loops>
        <name>Loop_PRRQ_Output</name>
        <label>Loop_PRRQ_Output</label>
        <locationX>549</locationX>
        <locationY>391</locationY>
        <collectionReference>vPRRQ_TransactionOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_PRRQ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_PRRQ_Redirect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_PRLI</name>
        <label>Update PRLI</label>
        <locationX>989</locationX>
        <locationY>393</locationY>
        <inputReference>vPRLI_TransactionOutput</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Create_PRRQ</name>
        <label>Create Product Request</label>
        <locationX>420</locationX>
        <locationY>391</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_PRRQ_Output</targetReference>
        </connector>
        <fields>
            <name>Create_PRRQ_Transaction</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>ProductRequest</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>ProductRequestLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:runtimeTransactionForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>WORD_PRRQ_Create_Product_Request_Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vPRRQ_TransactionOutput</assignToReference>
                <name>headerRecordData</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vPRLI_TransactionOutput</assignToReference>
                <name>child1Modified</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Create_PRRQ</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirect_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vPRLI_TransactionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>vPRRQ_SingleObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>vPRRQ_TransactionOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
</Flow>
