force-app/main/default/flows/SVMXA360__WORS_Manage_Work_Step_Start.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Current_Work_Step</name>
        <label>Assign Current Work Step</label>
        <locationX>920</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>vNextWorkStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Step</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNextWorkStep.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNextWorkStep.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Work_Step_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Work_Order_Collection</name>
        <label>Assign To Work Order Collection</label>
        <locationX>595</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Work_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Work_Step_Collection</name>
        <label>Assign To Work Step Collection</label>
        <locationX>1099</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>vNextWorkStepCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vNextWorkStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Work_Steps</targetReference>
        </connector>
    </assignments>
    <interviewLabel>A360 - Manage Work Step Start {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>A360 - Manage Work Step Start</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Work_Steps</name>
        <label>Get All Work Steps</label>
        <locationX>1098</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Step_Start_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkPlanId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Work_Step.WorkPlanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkStep</object>
        <sortField>ExecutionOrder</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Work_Step</name>
        <label>Get Current Work Step</label>
        <locationX>743</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_Work_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.SVMXA360__NextWorkStep__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Step</name>
        <label>Get Next Step</label>
        <locationX>625</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkPlanId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Work_Step.WorkPlanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <sortField>ExecutionOrder</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>438</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_Work_Order_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>449</locationX>
        <locationY>266</locationY>
        <faultConnector>
            <targetReference>Display_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXA360__CurrentWorkStep__c</field>
            <value>
                <elementReference>Get_Work_Order.SVMXA360__NextWorkStep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__NextWorkStep__c</field>
            <value>
                <elementReference>Get_Next_Step.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXA360__WorkStepStatus__c</field>
            <value>
                <stringValue>End Current Step</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step</name>
        <label>Update Work Step</label>
        <locationX>776</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>Get_Next_Step</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>eWorkStepStart.child1Modified</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Error_Screen</name>
        <label>Display Error Screen</label>
        <locationX>623</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>eFaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Step_Start_Screen</name>
        <label>Work Step Start Screen</label>
        <locationX>940</locationX>
        <locationY>266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Work_Step</targetReference>
        </connector>
        <fields>
            <name>eWorkStepStart</name>
            <dataTypeMappings>
                <typeName>H</typeName>
                <typeValue>WorkOrder</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>A</typeName>
                <typeValue>WorkStep</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>B</typeName>
                <typeValue>WorkStep</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>C</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>D</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>SVMXA360:templateGeneric</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>developerName</name>
                <value>
                    <stringValue>WORD_Manage_Step_Start</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerRecordData</name>
                <value>
                    <elementReference>vWorkOrderCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>child1Modified</name>
                <value>
                    <elementReference>vNextWorkStepCol</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>child2Modified</name>
                <value>
                    <elementReference>Get_All_Work_Steps</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>37</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNextWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>vNextWorkStepCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>vWorkOrderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
