force-app/main/default/flows/TKE_Customer_Portal_Case_WO_Dispatch_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>IS_Case_Overtime_Approved_TRUE</name>
        <label>IS Case.Overtime_Approved = TRUE?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overtime_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Appointment_Record</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Appointment_Record_exists</name>
        <label>Service Appointment Record exists?</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appoinment_records_related_to_Work_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Appointment_Record_related_to_Work_Order</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>User Story #12125
- Creates a work order on Case creation only when Type = Service Request , Sub-Type = Customer Portal &amp; Credit Holds = FALSE.</description>
    <environments>Default</environments>
    <interviewLabel>TKE Customer Portal Case/WO Dispatch Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DO_NOT_USE TKE Customer Portal Case/WO Dispatch Flow: AfterCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Order_Record</name>
        <label>Create Work Order Record</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Service_Appoinment_records_related_to_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>$Record.Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Work_Order_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>$Record.Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>$Record.Work_Type__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Appoinment_records_related_to_Work_Order</name>
        <label>Get Service Appoinment records related to Work Order</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Appointment_Record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFS_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Work_Order_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Stores Record Type IS of Field Operations</description>
        <name>Get_Work_Order_Record_Type_ID</name>
        <label>Get Work Order Record Type ID</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFS_Field_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment_Record</name>
        <label>Update Service Appointment Record</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appoinment_records_related_to_Work_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__Auto_Schedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Call_Eligible__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment_Record_related_to_Work_Order</name>
        <label>Update Service Appointment Record related to Work Order</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>IS_Case_Overtime_Approved_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appoinment_records_related_to_Work_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Credit_Holds__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
