force-app/main/default/flows/TKE_Force_Schedule_Flow_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Service_Appointment_record_found</name>
        <label>Service Appointment record found?</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Record_related_to_created_Work_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_found_Service_Appointment_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Story #14277 ; Flow to schedule an emergency resource for a case record. Uses Quick Action &apos;Force Schedule&apos; on Case record.</description>
    <dynamicChoiceSets>
        <name>OverrideReasonField</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Override_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ScheduledEndTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!Get_Service_Appointment_Record_related_to_created_Work_Order.Duration} /24)</expression>
    </formulas>
    <interviewLabel>TKE Force Schedule Flow from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TKE Force Schedule Flow from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Assigned Resource record under Service Appointment record.</description>
        <name>Create_Assigned_Resource_Record</name>
        <label>Create Assigned Resource Record</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Update_SA_Record_Status_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>Get_Service_Appointment_Record_related_to_created_Work_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Record_Information_of_Selected_Assigned_Resource.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Created a related work order on Location.</description>
        <name>Create_Work_Order_Record</name>
        <label>Create Work Order Record</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Service_Appointment_Record_related_to_created_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Case_Record.Location__r.Location_Address_CPQ__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>Get_Case_Record.Location__r.Location_Address_CPQ__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Case_Record.Location__r.Location_Address_CPQ__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIDforWorkOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>Get_Case_Record.Location__r.Location_Address_CPQ__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Case_Record.Location__r.Location_Address_CPQ__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Case_Record.Work_Type__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all fields from triggering record</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EH_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all Escalation Hierarchy records.</description>
        <name>Get_EH_Record</name>
        <label>Get Escalation Hierarchy Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Preferred_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Location__r.Office__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Escalation_Hierarchy__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Resource Preferences Records related to Location Object</description>
        <name>Get_Preferred_Resources</name>
        <label>Get Preferred Resources</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Force_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Location__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all field information of Selected resource to be assigned.</description>
        <name>Get_Record_Information_of_Selected_Assigned_Resource</name>
        <label>Get Record Information of Selected Assigned Resource</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForceScheduleScreen2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindAssignedResource.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_record_type_of_Work_Order</name>
        <label>get record type of Work Order</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SFS_Field_Operations</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeIDforWorkOrder</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the RecordID of the Service Appointment created by APEX where SA.ParentID = WorkOrderID.</description>
        <name>Get_Service_Appointment_Record_related_to_created_Work_Order</name>
        <label>Get Service Appointment Record related to created Work Order</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Appointment_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFS_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Work_Order_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets status to - Dispatched</description>
        <name>Copy_1_of_Update_SA_Record_Status_1</name>
        <label>Update SA Record Status 2</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment_Record_related_to_created_Work_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_Fields</name>
        <label>Update Case Record Fields</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>get_record_type_of_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Resource__c</field>
            <value>
                <elementReference>FindAssignedResource.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_With_Resource_On__c</field>
            <value>
                <elementReference>Confirmed_with_Resource_On</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override_Reason__c</field>
            <value>
                <elementReference>Override_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stated_ETA__c</field>
            <value>
                <elementReference>Stated_ETA</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Service Appointment record created by APEX trigger on Work type.</description>
        <name>Update_found_Service_Appointment_Record</name>
        <label>Update found Service Appointment Record</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Create_Assigned_Resource_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFS_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Work_Order_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Case_Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>ScheduledEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Case_Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets status to - Scheduled</description>
        <name>Update_SA_Record_Status_1</name>
        <label>Update SA Record Status 1</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_SA_Record_Status_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment_Record_related_to_created_Work_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen #1</description>
        <name>Force_Schedule</name>
        <label>Force Schedule</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_Information_of_Selected_Assigned_Resource</targetReference>
        </connector>
        <fields>
            <name>Notice_Section</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Notice&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Before beginning this flow, ensure you have trid to schedule by selecting the Emergency button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequiredInfoHelpText</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 10px;&quot;&gt;* &lt;/span&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;= Required Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Override_Reason</name>
            <choiceReferences>OverrideReasonField</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Override Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(96, 91, 91);&quot;&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Case_Record.Location__r.Location_Address_CPQ__Street__s}, {!Get_Case_Record.Location__r.Location_Address_CPQ__City__s}, {!Get_Case_Record.Location__r.Location_Address_CPQ__StateCode__s}, {!Get_Case_Record.Location__r.Location_Address_CPQ__PostalCode__s}, {!Get_Case_Record.Location__r.Location_Address_CPQ__CountryCode__s}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(96, 91, 91);&quot;&gt;Asset&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_Case_Record.Asset.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Force_Schedule_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Force_Schedule_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Call Escalation Hierarchy&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The relevant person(s) &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;must be contacted &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;to determine what resource should be scheduled for this emergency.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EscalationHierarchyTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Escalation_Hierarchy__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Escalation Hierarchy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_EH_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Sequence__c&quot;,&quot;guid&quot;:&quot;column-daa3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Sequence&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;User_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-03a0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;User Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Phone__c&quot;,&quot;guid&quot;:&quot;column-0997&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Phone Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Phone&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Force_Schedule_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Force_Schedule_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PreferredResourcesfromLocation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ResourcePreference</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Preferred Resource(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Preferred_Resources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Service_Resource_Name__c&quot;,&quot;guid&quot;:&quot;column-1cbe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Resource Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Service Resource Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;PreferenceType&quot;,&quot;guid&quot;:&quot;column-3d66&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Preference Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Service_Resource_Supervisor_Name__c&quot;,&quot;guid&quot;:&quot;column-5ac0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Supervisor Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Service Resource Supervisor Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FindAssignedResource</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ServiceResourceId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Resource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceTerritoryMember</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ForceScheduleScreen2</name>
        <label>ForceScheduleScreen2</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ForceScheduleScreen3</targetReference>
        </connector>
        <fields>
            <name>ContactResource</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Contact Resource&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The relevant resource &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;must be contacted&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; to determine they are available to take the work.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequiredInforHelpText2</name>
            <fieldText>&lt;p&gt;{!RequiredInfoHelpText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedAssignedResource</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(96, 91, 91);&quot;&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Case_Record.Location__r.Location_Address_CPQ__Street__s}, {!Get_Case_Record.Location__r.Location_Address_CPQ__City__s}, {!Get_Case_Record.Location__r.Location_Address_CPQ__StateCode__s}, {!Get_Case_Record.Location__r.Location_Address_CPQ__PostalCode__s}, {!Get_Case_Record.Location__r.Location_Address_CPQ__CountryCode__s}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(96, 91, 91);&quot;&gt;Asset&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_Case_Record.Asset.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(96, 90, 90);&quot;&gt;Assigned Resource&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Record_Information_of_Selected_Assigned_Resource.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(96, 91, 91);&quot;&gt;Resource Phone Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_Record_Information_of_Selected_Assigned_Resource.SFS_Personal_Phone_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmed_with_Resource_On</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Confirmed with Resource On</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stated_ETA</name>
            <dataType>String</dataType>
            <fieldText>Stated ETA</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ForceScheduleScreen3</name>
        <label>ForceScheduleScreen3</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case_Record_Fields</targetReference>
        </connector>
        <fields>
            <name>DisplayLabel3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Confirm &amp;amp; Dispatch&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Confirm all details are correct before dispatching.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequiredInfo3</name>
            <fieldText>&lt;p&gt;{!RequiredInfoHelpText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AssignedResourceInformation</name>
            <fieldText>&lt;p&gt;Assigned Resource&lt;/p&gt;&lt;p&gt;{!Get_Record_Information_of_Selected_Assigned_Resource.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Stated ETA&lt;/p&gt;&lt;p&gt;{!Stated_ETA}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 15px; color: rgb(29, 28, 29); background-color: rgb(248, 248, 248); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;&quot;&gt;The Work Order has been dispatched.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record type ID of record -Field Operations of Work Order Object</description>
        <name>RecordTypeIDforWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WordOrderIDofCreatedRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
