force-app/main/default/flows/TKE_NiMOD_Subflow_to_update_primary_contact_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Input_record_has_project_and_contact_populated</name>
        <label>Input record has project and contact populated</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_project_and_contact_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryProjectContact.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrimaryProjectContact.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_contact_on_the_project_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formFullName</name>
        <dataType>String</dataType>
        <expression>{!varPrimaryProjectContact.Contact__r.FirstName} + &apos; &apos; + {!varPrimaryProjectContact.Contact__r.MiddleName} + &apos; &apos; + {!varPrimaryProjectContact.Contact__r.LastName}</expression>
    </formulas>
    <interviewLabel>TKE NiMOD - Subflow to update primary contact details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TKE NiMOD - Subflow to update primary contact details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Primary_contact_on_the_project_record</name>
        <label>Update Primary contact on the project record</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPrimaryProjectContact.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Primary_Contact_Address__City__s</field>
            <value>
                <elementReference>varPrimaryProjectContact.Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Primary_Contact_Address__CountryCode__s</field>
            <value>
                <elementReference>varPrimaryProjectContact.Contact__r.MailingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Primary_Contact_Address__GeocodeAccuracy__s</field>
            <value>
                <elementReference>varPrimaryProjectContact.Contact__r.MailingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Primary_Contact_Address__Latitude__s</field>
            <value>
                <elementReference>varPrimaryProjectContact.Contact__r.MailingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Primary_Contact_Address__Longitude__s</field>
            <value>
                <elementReference>varPrimaryProjectContact.Contact__r.MailingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Primary_Contact_Address__PostalCode__s</field>
            <value>
                <elementReference>varPrimaryProjectContact.Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Primary_Contact_Address__StateCode__s</field>
            <value>
                <elementReference>varPrimaryProjectContact.Contact__r.MailingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Primary_Contact_Address__Street__s</field>
            <value>
                <elementReference>varPrimaryProjectContact.Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Primary_Contact__c</field>
            <value>
                <elementReference>formFullName</elementReference>
            </value>
        </inputAssignments>
        <object>leankor__ProjectRoom__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_record_has_project_and_contact_populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varPrimaryProjectContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
</Flow>
