force-app/main/default/flows/Update_Address_Description_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Story #14201
Concatenates the address field values in Address Description field; Copies the value from Address Description field to Location Address field. This ensures that user can search a location by the address.</description>
    <environments>Default</environments>
    <formulas>
        <name>AddressValue</name>
        <dataType>String</dataType>
        <expression>{!$Record.Street} &amp; &quot;,&quot; &amp; &quot; &quot; &amp;  {!$Record.City} &amp; &quot;,&quot; &amp; &quot; &quot; &amp; TEXT({!$Record.StateCode})  &amp; &quot;,&quot; &amp; &quot; &quot; &amp; {!$Record.PostalCode} &amp; &quot;,&quot; &amp; &quot; &quot; &amp; TEXT({!$Record.CountryCode})</expression>
    </formulas>
    <interviewLabel>Update Address Description Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TKE Update Address Description Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates Decription field with concatenated value.</description>
        <name>Update_Address_Description_field</name>
        <label>Update Address Description  field</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AddressValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Location Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Location_Address_CPQ__City__s</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Address_CPQ__CountryCode__s</field>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Address_CPQ__GeocodeAccuracy__s</field>
            <value>
                <elementReference>$Record.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Address_CPQ__Latitude__s</field>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Address_CPQ__Longitude__s</field>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Address_CPQ__PostalCode__s</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Address_CPQ__StateCode__s</field>
            <value>
                <elementReference>$Record.StateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Address_CPQ__Street__s</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Address__c</field>
            <value>
                <elementReference>AddressValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitorAddressId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Address_Description_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AddressType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipping</stringValue>
            </value>
        </filters>
        <object>Address</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
